[2015-09-07 17:33] bruno-barros commented on #451
I think the problem is Shortcacke need to render the code using `ob_start()` not returning the string.

[2015-09-07 18:40] marcusforsberg opened #453 "Integrate with ACF fore more advanced fields"
Hi,

My organisation is really interested in trying out Shortcake. However, we have some fairly complex shortcodes that need advanced input fields. ACF definitely has the most extensive set of different field types and I think an integration between ACF and Shortcake would be completely amazing. Is there any chance at all that we could see something like this in the future?
Another interested user

[2015-09-07 18:55] marcusforsberg commented on #415
+1 :)

[2015-09-08 16:02] danielbachhuber commented on #451
Can you share the full code for your shortcode, so I can attempt to reproduce?

Shortcodes should _return_, not echo, their values.

[2015-09-08 22:47] danielbachhuber commented on #453
Probably not as something embedded within the plugin. See https://github.com/fusioneng/Shortcake/issues/160 for related history with Fieldmanager.

However, I've flagged this for documentation, as we should make sure our documentation is good enough that someone could write this as their own standalone integration.

[2015-09-08 23:18] bruno-barros commented on #451
OK, maybe I'm not totally sure, but I render the shortcode based on the example I saw on wiki section.

This is a shortcode I made: http://pastebin.com/BpHejP4d

[2015-09-09 07:31] chrishoward-au commented on #451
Bruno: Yup, my shortcode takes the same form.

Daniel: erm... It's a very big plugin that displays content.

Here the gist of the shortcode:

[code]

As you can see, I am certainly using ob_xxxx and returning not echoing.

The shortcode is passed to the main routine for displaying the desired content. That could be sliders, grids or others. (This is the plugin homepage: http://architect4wp.com)

I

[2015-09-09 13:33] danielbachhuber commented on #451
Ok. From the code you've shared, it's hard to say what might be going wrong. It's something with your plugin and implementation, though.

[2015-09-09 13:33] #451 closed, assigned to nobody

[2015-09-10 07:18] chrishoward-au commented on #451
Yep, no worries. Thanks for both you guys help.

[2015-09-10 07:40] marcusforsberg commented on #453
Keeping it out of the main plugin sounds like a good idea to me. I will definitely look into building an integration between the two if you are able to get everything documented on your side. :)

[2015-09-11 13:00] btribouillet opened #456 "Translation issue with apostrophe character"
Hi,

It seems there is a problem with the french translation with apostrophe character .

![capture d ecran 2015-09-11 a 14 57 04](https://cloud.githubusercontent.com/assets/7518508/9815369/c2906b44-5895-11e5-802c-5cf1a1d1f692.png)

It should be "d'article"

[2015-09-11 19:10] danielbachhuber commented on #456
Hm. Not sure where that's at in the UI. It seems like it's probably getting double-encoded, though.

Can you share a bigger screenshot, or do some debugging on your own?

[2015-09-12 06:52] bobbingwide commented on #408
see also #120

[2015-09-12 07:03] bobbingwide commented on #399
can you hook into 'shortcode_ui_before_do_shortcode' action ?

[2015-09-12 07:12] bobbingwide commented on #371
Is this a bit like running do_shortcode on $post_content with an intercepting function to wrap the output of each shortcode with whatever the editor needs to detect the expanded shortcodes?

[2015-09-12 19:18] bobbingwide commented on #128
As noted in http://www.oik-plugins.com/2015/09/testing-shortcake-compatibility/
I have currently had to disable expansion of these shortcodes. ie. Shortcake is not aware of them.

[2015-09-12 19:32] bobbingwide commented on #135
Can I re-raise this in advance of proposed changes to shortcode syntax in the shortcode roadmap, where attributes that contain HTML will have to be defined in the content.
e.g.

[code]

[2015-09-12 19:44] bobbingwide commented on #414
I have a similar problem which I reported in http://www.oik-plugins.com/2015/09/testing-shortcake-compatibility/
as "This leads to unwanted nested shortcode expansion if the containing shortcode is disabled" e.g. [bw_geshi]

[2015-09-12 20:31] bobbingwide opened #457 "Unexpected &nbsp; switching to Visual then back to Text"
I've noted problems with switching from Text to Visual and back again.

e.g.
If you start with this in the Text editor

[code]

switch to Visual then back to Text you end up with

[code]

Note: This issue was listed in http://www.oik-plugins.com/2015/09/testing-shortcake-compatibility/ but not shown in the video.

The problem does not occur when shortcake is not active.
I have not yet traced the p

[2015-09-14 17:28] bobbingwide commented on #442
seriously?

[2015-09-14 17:47] bobbingwide opened #458 "Insert Post Element Search filter sometimes omits items"
The search facility misses out some matches.

I quite like the search box on the Insert post element dialog.
But I'm not sure how it find matches.
I've noticed that sometimes it fails to display what I consider to be matches.

e.g. I have a number of shortcodes starting `bw_f`
If I type `bw_field` then I'd expect to see both `bw_field` and `bw_fields`
but `bw_fields` doesn't show until I type the

[2015-09-15 10:13] geoffreycrofte opened #459 "Using JS hook"
Hi there,
Thank you for your amazing plugin.

I was trying to use JS hooks by following your example:
https://github.com/fusioneng/Shortcake/wiki/Event-Attribute-Callbacks

My JS file is loaded successfully, just after the shortcode-ui.js file, thanks to your `add_action( 'enqueue_shorcode_ui' )` like that:

[code]

My code is a little bit less complexe, it was just to test it:

[code]

But nothin

[2015-09-17 10:14] khromov opened #460 "Multi-select via checkbox?"
The `checkbox` field type only seems to work with a single checkbox, but there does not seem to be a way to show  and let the user select multiple values.

To be clear, I'm not looking to select posts, taxonomies or anything fancy like that, just let the user select from a number of fixed choices and then put the keys into a shortcode parameter (comma separated if multiple selections.)

Any way to

[2015-09-17 12:12] khromov opened #461 "Setting shortcode inner content?"
Is it possible to set the inner content of a shortcode using Shortcake? For example:

`[example]hello[/example]`

So I'd like a `textarea` to represent the inner content (in this example "hello")

[2015-09-17 18:58] danielbachhuber commented on #461
Yes, you can use the `inner_content` argument. See this code as an example: https://github.com/fusioneng/Shortcake/blob/master/dev.php#L82

[2015-09-17 18:58] #461 closed, assigned to nobody

[2015-09-17 19:15] khromov commented on #461
@danielbachhuber Much appreciated!

[2015-09-18 21:13] goldenapples commented on #372
It strikes me that this would be a way of solving several rendering-related issues, including #407 and #372.

[2015-09-21 14:17] khromov commented on #457
Can you try it with the attribute values enclosed in quotes? ie:

[code]

[2015-09-21 14:20] khromov opened #462 "Inserting closing bracket into text field breaks shortcode."
Entering the `]` character into a text field breaks the entire shortcode.

Example:

[code]

Add the "Factbox" shortcode and enter `]` as the top label.

[2015-09-21 14:21] khromov commented on #462
Description updated.

[2015-09-21 15:12] khromov commented on #129
:+1: want to see data mangling get fixed, very frustrating currently.

[2015-09-21 15:17] khromov commented on #359
This was a recurring issue with Visual Composer a while back.

There are three states:
- Checked (param="true")
- Unchecked (param="false")
- Undefined (Not yet checked or unchecked. No param)

Shortcake needs to support all three of these in order for the checkbox to work in a meaningful way.

[2015-09-21 17:20] khromov commented on #392
@nikolov-tmw Was there any issues with this? Don't see a PR for it.

[2015-09-21 19:42] goldenapples commented on #459
Thanks for the feedback, @creativejuiz.

I can't see offhand anything wrong with the code. Are you sure that `selectfield` is the attribute name of the field you want to listen to change events on?

Are you talking about just changing the display of the Post Select field? That seems very feasible, to just update the markup of that field on any update events in the field.

[2015-09-22 19:23] paulkarpenko opened #463 "admin-ajax.php calls do_shortcode twice per shortcode in the editor"
I'm trying to track down an issue where I'm seeing double XHR calls to admin-ajax.php per shortcode. The two calls are identical down to the timestamp and the post, shortcode, nonce, and action param values. I'm definitely only registering each shortcode once and I'm only seeing a single shortcode's markup in the editor and on the page. Does this ring a bell? Thanks.

[2015-09-22 20:47] danielbachhuber commented on #463
Nope :( Let us know what you end up tracking down.

[2015-09-22 21:28] paulkarpenko commented on #463
Ok, I figured it out. It's because I'm using qTranslate. Seems like qTranslate forces the editor to somehow be processed once per language and so the calls are doubled up. Is there any way to cap the shortcode AJAX calls at one per instance in the markup?

[2015-09-22 22:48] danielbachhuber commented on #463
I'm not 100% of what the underlying code is right now, but we could consider turning preview requests from POST to GET, and caching them.

[2015-09-23 18:44] nikolov-tmw commented on #392
It's right here - https://github.com/fusioneng/Shortcake/pull/393 .
I'm supposed to write some Unit tests, but never got around to it. I'll try to allocate some time next week to write the tests and update(if necessary) the regex, since there could have been changes to it in WordPress.

[2015-09-23 22:05] khromov commented on #392
@nikolov-tmw Thanks Nikola, don't know how I missed that!

The PR looks solid, looking forward to it getting merged!

[2015-09-23 23:08] danielbachhuber commented on #392
I'll see what I can do about bringing #393 over the finish line with test coverage when I have the time.

[2015-09-24 09:28] GaryJones opened #464 "Conditionally show/hide in modal selection?"
Is there a feature (if not, please consider this a suggestion) to conditionally hide certain post elements in the modal selection?

![screenshot 2015-09-24 10 59 26](https://cloud.githubusercontent.com/assets/88371/10069798/6d623312-62a6-11e5-87b7-671b6fdc305d.png)

Here, all of the Member Area items are really "use once" shortcodes, in the pages that output that logic (but which clients may want

[2015-09-24 11:07] GaryJones commented on #317
We've just been bitten by this too. When you're trying to do this:

[code]

![screenshot 2015-09-24 12 04 38](https://cloud.githubusercontent.com/assets/88371/10071793/89193a84-62b4-11e5-8cd8-683005cabccf.png)

...you'll end up with this:

[code]

![screenshot 2015-09-24 11 53 42](https://cloud.githubusercontent.com/assets/88371/10071787/78aba8e4-62b4-11e5-8e62-894e42d73dd6.png)

[2015-09-24 11:11] Mte90 commented on #452
An analysis with PHPCompatInfo 3.7.3 and the command: `phpcompatinfo analyser:run . --php=">= 5.2"`

[code]

[2015-09-24 13:15] Mte90 commented on #452
My pr replace php closure to real function that are not supported in php 5.2.
After that edit, phpcompatinfo confirm the support since php 5.0.0>=

[2015-09-24 13:51] goldenapples commented on #464
You can look at the context available to the `register_shortcode_ui` hook, which will give you the ID and the settings of the first editor on the page. (If you register the shortcode UI at that point, globals will also be set up, and you can check for the global post object, or current user, or any other variant).

[2015-09-24 15:37] bobbingwide commented on #457
Hi @khromov Same result.
you can try it yourself with

[code]

[2015-09-24 16:43] danielbachhuber commented on #452
:ship:

[2015-09-24 16:43] #452 closed, assigned to nobody

[2015-09-25 10:00] Mte90 opened #469 "Missing 2 photo in readme"
In the point 3 and 4 the url of that image return a Not Found

[2015-09-25 12:31] cggit commented on #236
Sad to see this removed from v0.5.0 milestone. Plans for it to be re added?

[2015-09-25 12:59] mattheu commented on #376
Came across a nice looking publishing platform called [Atavist](https://atavist.com)

The editor experience is nice and simple. Contextual/Inline controls + content blocks. I thought it was worth writing up and sharing as its similar to how I have imagined shortcake working.

![image](https://cloud.githubusercontent.com/assets/494927/10097465/312bf222-6371-11e5-9222-45db707c6992.png)

An example o

[2015-09-25 13:11] danielbachhuber commented on #236
It will come when its time comes. Bumping the issue won't make it happen faster.

[2015-09-25 14:00] cggit commented on #236
Apologies, I've retract my bump. I just wanted to know where this was on the priority list because i see it was removed from the milestone a month ago without a comment.

[2015-09-25 14:04] danielbachhuber commented on #469
Thanks — fixing this now.

[2015-09-25 14:09] #469 closed, assigned to nobody

[2015-09-25 14:14] ghost commented on #376
Nice... I like that approach.  Reminds me I haven't written up about [MailChimp](http://mailchimp.com/) yet.  Here goes:

Basic concept is the preview is over the left, with content blocks over to the right.  Drag a content block into position to add it:

![preview content blocks](https://cloud.githubusercontent.com/assets/8490232/10102483/a4d3bfa0-6396-11e5-9175-ba7985fc1ae3.png)

Click on any of

[2015-09-28 17:06] khromov commented on #457
I can reproduce this with the last example. :)

[2015-09-28 17:51] khromov commented on #462
Trying to implement escaping for `[` and  `]` in shortcode attributes, but TinyMCE is causing problems. If you convert characters to HTML entities in  `formatShortcode()`, TinyMCE converts these back to their actual characters.

Any feedback @danielbachhuber ? What do you think is the right way forward in terms of ecaping attributes?

[2015-09-28 18:15] khromov opened #471 "Line breaks not working properly after editing inner_content"
Consider a simple shortcode that just prints the inner_content.

After adding it and filling out the following as the text area of inner_content and pressing "Insert element":

![screen shot 2015-09-28 at 20 12 57](https://cloud.githubusercontent.com/assets/1207507/10144347/7ecc0036-661d-11e5-8e48-115f4f178d2b.png)

The result in WYSIWYG is:
![screen shot 2015-09-28 at 20 13 02](https://cloud.gith

[2015-09-28 19:42] danielbachhuber commented on #407
I'm adding `SHORTCODE_UI_DOING_PREVIEW` constant for this purpose.

[2015-09-28 19:48] #407 closed, assigned to danielbachhuber

[2015-09-28 20:35] danielbachhuber commented on #399
This is now more possible with the `SHORTCODE_UI_DOING_PREVIEW` constant added in #472

[2015-09-28 20:35] #399 closed, assigned to nobody

[2015-09-28 21:04] khromov commented on #392
@nikolov-tmw  I've been looking some more at this, I don't think there's a need to bring a whole new regexp into this, as there is already a JS version of the shortcode regexp, available here:
https://github.com/WordPress/WordPress/blob/master/wp-includes/js/shortcode.js#L105

I imported it into a separate branch and the tests pass fine. We could even use the `wp.shortcode.regexp( tag )` constant,

[2015-09-28 21:12] danielbachhuber commented on #392
:100: for using the JS version of shortcode regex.

@nikolov-tmw shall I leave for you to open a new PR with reasonable test coverage?

[2015-09-29 11:00] ghost commented on #376
There's a forum discussion that I started on themehybrid.com that might also be of interest here - mainly as an insight into what some theme developers are thinking/saying:

http://themehybrid.com/board/topics/best-way-to-build-a-complex-home-page-in-wp/
Page 2 (there doesn't seem to be any nav between pages):
http://themehybrid.com/board/topics/best-way-to-build-a-complex-home-page-in-wp/page/2#p

[2015-09-29 11:57] #425 closed, assigned to danielbachhuber

[2015-09-29 19:39] rickalee opened #475 "Select2 4.0 Compatibility"
Using Select2 4.0 in custom metabox and Shortcake appears to conflict with v4.0 as it is using v3.5.2 which Shortcake is enqueuing when using post_select field type.

Console error
`Uncaught Error: No select2/compat/initSelection`

https://select2.github.io/announcements-4.0.html

[2015-09-29 21:44] danielbachhuber commented on #475
Hm. Not sure the best way we can support forwards compat.

[2015-09-30 02:08] drewbaker commented on #462
+1 for this!

You should also run all attributes through [esc_attr](https://codex.wordpress.org/Function_Reference/esc_attr), because if a user tries to use a double quote, `"` it breaks too.

[2015-09-30 16:01] khromov opened #476 "Loading editor is slow with many Shortcake-enabled shortcodes"
Because each Shortcake triggers an AJAX call using the `do_shortcode` action, it gets really slow when loading up the editor with many Shortcake-enabled shortcodes.

Most of the time is spent loading up WordPress, so my suggestion for this is to put all shortcodes that need to be rendered in a queue and then send off a single AJAX call that will render all shortcodes at once and return them in a J

[2015-09-30 16:04] danielbachhuber commented on #476
This is exactly what we want to do #371

[2015-09-30 16:04] #476 closed, assigned to nobody

[2015-09-30 16:06] khromov commented on #476
:+1:

[2015-09-30 21:39] isGabe opened #477 "Clean up icon vertical alignment in Insert Element UI"
I've been working on icon consistency in Shortcake Bakery, and noticed some improvements that could be made in how the icons are positioned in the UI. See https://github.com/fusioneng/shortcake-bakery/issues/95#issuecomment-144104258

[2015-10-01 12:43] goldenapples commented on #371
In theory, yes. Functionally, it'll work a lot different because the content is being fetched through `wp.mce.views`. Currently each view has its own `fetch()` method which makes an ajax post to `do_shortcode`, and renders the response. I'm picturing passing all the shortcodes to render off to another class which makes a single call for all the views, which will then return a promise that each vie

[2015-10-01 13:59] danielbachhuber commented on #477
:ship:

[2015-10-01 13:59] #477 closed, assigned to nobody

[2015-10-01 20:10] isGabe opened #481 "Icons misaligned in Safari"
Looks like Safari is throwing a fit because [we didn't prefix `transform: translate(-50%, -50%)`](https://github.com/fusioneng/Shortcake/blob/e11c29f3051e29267a8129510f8d179bac058ee5/css/shortcode-ui.css#L32).

<img width="1214" alt="screenshot 2015-10-01 15 04 38" src="https://cloud.githubusercontent.com/assets/1437322/10232436/62e6e272-684e-11e5-8ef6-245617a06b18.png">

I'm so used to working wi

[2015-10-01 20:12] goldenapples commented on #481
:stuck_out_tongue_closed_eyes:

[2015-10-01 20:14] isGabe opened #482 "Support multiline shortcode titles in insert UI"
I broke this in #478, see https://github.com/fusioneng/Shortcake/pull/478#issuecomment-144756735

[2015-10-01 21:16] danielbachhuber commented on #371
:ship:

[2015-10-01 21:41] #371 closed, assigned to danielbachhuber

[2015-10-02 10:16] niabot opened #485 "Textarea does not support linebreaks in parameters"
If i use a textarea for input into a _normal parameter_ (not _inner_content_) then the linebreaks will give strange results. Once i safe the shortcode from the ui, reload the page and try editing again, the content of the textarea field only shows the first line with a `</p>` appended to it.

The shortcut itself looks like this inside the editor (not WYSIWYG):

[code]

Result in textarea:

[code]

[2015-10-02 13:50] danielbachhuber commented on #481
:hammer:

[2015-10-02 13:50] #481 closed, assigned to nobody

[2015-10-05 14:13] goldenapples commented on #395
An additional request I'd like to see tackled in the demo plugin: an example of using the plugin's js hooks to conditionally show some of the attribute fields.

[2015-10-05 19:35] danielbachhuber commented on #116
Some [conversation from Slack](https://wordpress.slack.com/archives/feature-shortcode/p1444072823000031):

[2015-10-05 19:48] danielbachhuber opened #495 "Parse shortcodes with hyphens in attribute names"
WordPress 4.3 officially adds supports shortcodes with hyphened-attribute names, but its JS regex hasn't been updated yet.

Discussion: https://wordpress.slack.com/archives/feature-shortcode/p1444072546000024

From #490

[2015-10-05 20:14] khromov commented on #116
Sounds good - getting rid of the modal would be a huge step. For many fields you could do replace the field with an input area as you click on it. (And give some visual hinting when user hovers over it). Drupal 8 has some great ideas for front-end editors, see:
https://www.youtube.com/watch?v=evBpwxWPzPk

Also Aesop does this very well in the context of WP.

[2015-10-05 21:46] StaggerLeee commented on #116
Can you please when talking about major changes do as they recently did on WordPress Trac. Make some screenshots for us dumb people. Very hard to follow you guys. Please.

[2015-10-05 21:49] danielbachhuber commented on #116
Will do. No big or breaking changes coming at this time.

[2015-10-06 15:06] danielbachhuber commented on #242
VIP wants to make sure all output is appropriately sanitized / escaped. In order to do this "properly", we'd need to switch away from Underscores to a templating engine that supports custom escaping callbacks.

[2015-10-06 15:09] danielbachhuber commented on #392
:ship:

[2015-10-06 15:09] #392 closed, assigned to danielbachhuber

[2015-10-06 15:22] khromov commented on #471
Fixed in #498

[2015-10-06 15:34] danielbachhuber commented on #242
Actually, we can just go the easier route:

![image](https://cloud.githubusercontent.com/assets/36432/10313551/0ff9c9e8-6c05-11e5-927b-84e7d9969d4a.png)

[2015-10-06 16:51] bishless commented on #403
I'd dig this, too!

Could it be done w/ a `'priority' => '10',` addition to each attribute array (_10 is just an ex_)? Then we could have more control over the attr order in our UI.

[2015-10-06 16:58] khromov commented on #403
Why not let `inner_content` be a regular field and let the array order in `attrs` determine the natural ordering? That way you could even (theoretically) use any field type:

[code]

[2015-10-06 17:02] danielbachhuber commented on #403
Because it has the potential of conflicting with an attribute named `inner_content`. It's a special case.

I like the `priority` idea, where every field defaults to `10`.

[2015-10-06 17:05] khromov commented on #403
@danielbachhuber It would conflict with the attribute named `_inner_content`, which is quite an unlikely attribute name and underscores are common convention for "private" variables. (See hidden meta fields, etc)

I think `priority` just complicates what is an inherit feature in PHP arrays - natural ordering.

[2015-10-06 17:16] danielbachhuber commented on #403
Eh, I'm not a huge fan of special cases when we don't need to add them.

`priority` is an established paradigm for ordering in WordPress, particularly when adding entries after the original array has been defined (which we support through filters).

[2015-10-06 18:01] #242 closed, assigned to danielbachhuber

[2015-10-06 18:32] khromov commented on #403
But dedicating a "magic" array key like we have today for `inner_content` is still be a special case, whether it's in the `attrs` array or not.

It would streamline the experience for devs (all fields are handled the same), reduce code (no special handling for `inner_content` required) as well as improve flexibility (use any field type for `inner_content` ) to stick the inner content field into `a

[2015-10-06 18:35] danielbachhuber commented on #403
Not really. Shortcode attributes are technically different than the inner content for a shortcode.

[2015-10-06 21:26] khromov commented on #485
Should be fixable by the changeset in #496

[2015-10-07 15:06] mattheu opened #500 "Strip invalid characters from attributes when outputting."
This is the flip side to https://github.com/fusioneng/Shortcake/pull/496 - if you've not opted in to encoding attributes, then we should prevent things just breaking.

Currently you can get into trouble if you add certain characters to your attributs. Basically anything that breaks the shortcode parsing.

Encoding is a hack to get around this - but if encoded is disabled - we should strip the foll

[2015-10-08 20:36] jesperbjerke opened #501 "Would you be interested in a collaboration on integrating Shortcake with Fronted?"
I'm the main developer of an open source project called [Fronted](https://github.com/jesperbjerke/wa-fronted), where a 1.0 release is near. After this, I'd like to look into making the Shortcake interface and functionality available on the frontend together with Fronted.

Would you be interested in help doing this? Depending on your interest in this project, I could take on the whole integration p

[2015-10-08 21:23] danielbachhuber commented on #501
We could consider integrating Fronted with Shortcake. However, Shortcake is currently closely-coupled with TinyMCE, so I'm not sure it will be an easy task. It might make most sense as a supplementary plugin, with abstractions added to Shortcake as needed.

[2015-10-09 06:41] jesperbjerke commented on #501
Yeah, making it as an add-on plugin or something like it was my thought too. At least to a start. I'm sure we'll probably encounter some problems along the way, but at first glance, it looks totally doable. I'll get back to you with a mail and we can discuss this further. If you don't want to have an open discussion here about the integration that is.

[2015-10-09 10:13] bastienho opened #502 "HTML characters in localised strings"
Hi,

I understand that escaping strings is better fir security in:

[code]

but in french, **"Insert Post Element"** is translated has **"Insérer un élément d'article"** wich appears like this:

**Insérer un élément d&#039;article**

wich is pretty ugly...

Can you use `esc_attr` instead ?

[2015-10-09 15:53] danielbachhuber commented on #501
We can just keep this issue open.

[2015-10-09 19:08] danielbachhuber commented on #502
Thanks for flagging. Because the JS templates handle escaping for us, we don't need to prematurely escape. This is fixed on master, and will be released in v0.6.0.

[2015-10-09 19:08] #502 closed, assigned to nobody

[2015-10-09 19:09] danielbachhuber commented on #456
Related #502

This is now fixed on master.

[2015-10-09 19:09] #456 closed, assigned to nobody

[2015-10-12 19:21] mattheu opened #509 "Remove WP 4.2 compatability"
Some code remains for 4.2 which can be removed. As discussed on slace - 0.6.0 is the last version to support this.

[2015-10-12 19:35] danielbachhuber commented on #342
This is addressed on master with #496. You can use an `encode` argument to encode shortcode attributes. You'll either need to unencode in your shortcode callback, or run your arguments through `shortcode_atts()` for automatic filtering.

[2015-10-12 19:35] #342 closed, assigned to nobody

[2015-10-12 19:37] danielbachhuber commented on #321
This is addressed on master with #496.

[2015-10-12 19:37] #321 closed, assigned to nobody

[2015-10-13 14:07] danielbachhuber commented on #500
Hm. I'm not sure how I feel about this. I understand the technical problem of sending this data back to the editor, but I feel like it violates the principle that you shouldn't ever unexpectedly delete user data.

[2015-10-13 14:56] danielbachhuber commented on #395
From https://github.com/fusioneng/Shortcake/pull/511#issuecomment-147735141

[2015-10-13 16:28] mattheu commented on #500
I agree - but don't like the implication that it just breaks silently either. We could strip and diplay a notification? Maybe just an `alert()`?

[2015-10-13 16:44] khromov commented on #500
Why can't we encode `" ' [ ]` the same way we encode other characters? i.e. they would be represented by `&#x22; &#x27; &#91; &#93;` ?

If we go the "strip" route, we'd only need to strip `"[]` - single quotes are allowed in shortcode attributes that are double-quote enclosed. (And vice versa.)

We have implemented rudimentary stripping in our Shortcake fork:
https://github.com/Aftonbladet/Shortca

[2015-10-13 21:41] danielbachhuber commented on #500
We can and do. This issue is to accommodate the scenario where `encode=>false`.

[2015-10-13 22:10] khromov commented on #500
Thanks for explaining @danielbachhuber .

Why can't all fields should have encode enabled by default? For example, `text` and `textarea` have similar use cases, so why would they have different encode defaults?

Perhaps by setting `encode => false`, the developer accepts that certain characters will not be possible to use. This could be outlined in the docs?

[2015-10-13 22:29] danielbachhuber commented on #500
`encode` is disabled by default because it requires special handling in the shortcode callback.

[2015-10-14 16:54] danielbachhuber commented on #395
@GaryJones mind giving https://github.com/fusioneng/Shortcake/blob/master/dev.php a once-over for any remaining improvements you'd suggest?

[2015-10-14 19:45] GaryJones commented on #395
Will take a look tomorrow. Thanks @danielbachhuber.

[2015-10-15 07:52] GaryJones commented on #395
I'd suggest something like: [dev.php](https://gist.github.com/GaryJones/1b96696efdde85ba4b62)
Diff between your current dev.php and my suggestion: [diff](https://gist.github.com/GaryJones/1b96696efdde85ba4b62/revisions)

Points:
- Structured plugin documentation - [introduction](https://gist.github.com/GaryJones/1b96696efdde85ba4b62#file-dev-php-L22-L32) makes it clear that the plugin is handling

[2015-10-15 22:34] danielbachhuber commented on #395
Please do!

For the first, `color` doesn't accept any arguments beyond the defaults. `select` supports `options`, which is expected to be an array of `value=>label` pairs. Every attribute supports `label`, `description`, `type`, `attr`, and `encode`.

For the second, here's an example of how we're loading the Facebook SDK inside of the Shortcake preview: https://github.com/fusioneng/shortcake-bake

[2015-10-16 16:04] danielbachhuber commented on #471
Spent a little bit of time looking into this. Here's my test case:

Pull quote with multiple line breaks:

![image](https://cloud.githubusercontent.com/assets/36432/10546696/66572ec0-73e4-11e5-9122-b80fd43564cb.png)

Renders without the linebreaks:

![image](https://cloud.githubusercontent.com/assets/36432/10546701/71021dbc-73e4-11e5-89a8-f95154fa8ef0.png)

However, the preview is passed the appro

[2015-10-16 16:27] danielbachhuber commented on #471
Oh. The problem is that TinyMCE is doing its own wpautop() process on the raw shortcode before we render the preview. `shortcodeViewConstructor` is supplied with:

[code]

I don't think it's safe to just strip the HTML tags, because they could be valid. Rather, `wp.mce.views` should render before `wpautop` is applied, similar to how shortcodes are rendered before `wpautop` is run.

[2015-10-16 16:41] danielbachhuber commented on #471
`wpautop` is run on `BeforeSetContent`: https://core.trac.wordpress.org/browser/tags/4.3/src/wp-includes/js/tinymce/plugins/wordpress/plugin.js#L115

mce views are rendered on `SetContent`: https://core.trac.wordpress.org/browser/tags/4.3/src/wp-includes/js/tinymce/plugins/wpview/plugin.js#L223

[2015-10-16 17:03] danielbachhuber commented on #471
Opened a core ticket about this https://core.trac.wordpress.org/ticket/34329

[2015-10-16 17:04] #482 closed, assigned to nobody

[2015-10-16 17:05] danielbachhuber commented on #462
@khromov Can you verify that the new `escape` argument properly encodes this for you?

[2015-10-16 17:09] danielbachhuber commented on #485
Pretty sure this is caused by https://core.trac.wordpress.org/ticket/34329

Related #471

[2015-10-16 17:18] danielbachhuber commented on #457
Likely related to https://github.com/fusioneng/Shortcake/issues/471#issuecomment-148764273

[2015-10-16 17:22] danielbachhuber commented on #458
Search is based on the label: https://github.com/fusioneng/Shortcake/blob/fc72f8fe55d3d3fdc7861946bd548b443fa31bdc/js/src/controllers/media-controller.js#L29

What labels do you have assigned to each of those shortcodes?

I'm not sure it makes sense to match on the shortcode tag, as that's not present in the UI. We could also match on the description, however.

[2015-10-16 17:23] danielbachhuber commented on #460
You'd either need to register checkboxes for each option, or write your own custom attribute field to handle this case. We can leave this open as a potential enhancement, though.

[2015-10-16 17:27] khromov commented on #460
Great. I'll try to get a PR going for a `checkboxes` field type.

[2015-10-16 17:37] r-a-y opened #515 "Backbone events doesn't detect paste properly"
Hi!

Great work on Shortcake!  I've been looking into the Event Attribute callbacks wiki page:
https://github.com/fusioneng/Shortcake/wiki/Event-Attribute-Callbacks

And have started implementing work on this in my shortcode plugin.

One issue I've run into is pasting some text into an input text field to toggle some additional fields.  (To paste, I'm using <kbd>CTRL</kbd>+<kbd>V</kbd>.)

When add

[2015-10-16 17:59] goldenapples commented on #515
Hmm. I think that has to do with [the events we're binding to](https://github.com/fusioneng/Shortcake/blob/master/js/src/views/edit-attribute-field.js#L9-L20) to listen to a change in the model.

Specifically, we're listening to `keyup`, which happens when you release the "V", and not necessarily after the pasted text is inserted into the input box.

I wonder if changing our events on editAttribut

[2015-10-16 18:06] r-a-y commented on #515
Thanks for the quick reply, goldenapples.

Changing:
`'keyup input[type="text"]':   'inputChanged',`

to:
`'input input[type="text"]':   'inputChanged',`

Works for me.

[2015-10-16 18:23] goldenapples commented on #515
Great. I can't think of any cases offhand where it wouldn't work. I'll open a pull request with that change and see if it works more generally to change from keyup to input.

[2015-10-19 16:44] r-a-y commented on #515
Fixed in #516.

Thanks @goldenapples!

[2015-10-19 16:44] #515 closed, assigned to nobody

[2015-10-19 16:56] #471 closed, assigned to nobody

[2015-10-19 17:19] #485 closed, assigned to nobody

[2015-10-19 17:20] #331 closed, assigned to nobody

[2015-10-19 20:14] khromov commented on #462
@danielbachhuber It does work as expected. Here is a complete example:

[code]

[2015-10-19 20:35] danielbachhuber commented on #462
Great!

[2015-10-19 20:35] #462 closed, assigned to nobody

[2015-10-21 07:16] bobbingwide commented on #458
the labels are simply the shortcode name.
Remember I'm approaching shortcake with a bent towards the text editor, where the shortcodes are blindingly obvious.

[2015-10-21 07:25] bobbingwide commented on #457
autop is the bane of my life. closely followed by html entity conversions, then attribute stripping.

[2015-10-22 19:36] jesperbjerke commented on #501
Just released v1.1 and Fronted is now utilizing TinyMCE instead of Medium Editor, so this integration should go much more smoothly now. Will start looking into it next :)

[2015-10-22 20:53] drewbaker opened #520 "Shortcode attributes not passed through to AJAX functions"
If I have a short code like this:

[code]

It fires off this AJAX request:
![screen shot 2015-10-22 at 1 50 09 pm](https://cloud.githubusercontent.com/assets/475015/10677932/1b5e2af6-78c4-11e5-82d8-920991aaee87.png)

Notice that the request is missing all the parameters, so the HTML that returns is wrong obviously too.

Does anyone else have this problem? Is there anything that could conflict with

[2015-10-22 20:57] khromov commented on #520
The shortcode content is sent, and the parameters are parsed on the backend. (Just like WP Core does it.)

[2015-10-22 20:59] drewbaker commented on #520
@khromov It doesn't look like the attributes get sent though. Like `left-attachment-id="166" product-attachment-id="408"` isn't included in the POST request?

It might be due to bug #495 though.

[2015-10-22 21:12] goldenapples commented on #520
Yup, that seems to be the issue here. Can you reproduce with any non-hyphenated attributes?

[2015-10-22 21:21] drewbaker commented on #520
Actually, no it doesn't work even without hyphens.

This short code `[product id="1233"]Test[/product]` produces this POST request:

![screen shot 2015-10-22 at 2 19 19 pm](https://cloud.githubusercontent.com/assets/475015/10678558/10149de8-78c8-11e5-8de6-bca30616a149.png)

[2015-10-22 21:34] drewbaker commented on #520
In case it's relevant, the site also has WooCommerce installed on it, but otherwise no other plugins.

[2015-10-22 21:50] goldenapples commented on #520
hmm. That is strange. What version of Shortcake are you running? The current master has some slightly different behavior (it would be calling `action=bulk_do_shortcode`, rather than `action=do_shortcode`, for example.)

[2015-10-22 21:51] drewbaker commented on #520
Version 0.5.0 from the WordPress.org plugin app store (or whatever they call that).

[2015-10-22 21:56] goldenapples commented on #520
That clearly seems like a bug, but before we get too deep into tracking it down, can you try downloading the current master version from [here](https://github.com/fusioneng/Shortcake/archive/master.zip) and see if you still get the same issue?

[2015-10-22 22:26] drewbaker commented on #520
Nope, still not passing attributes to AJAX:

![screen shot 2015-10-22 at 3 25 33 pm](https://cloud.githubusercontent.com/assets/475015/10680047/3b61763e-78d1-11e5-83d4-937bdf1250dd.png)

[2015-10-23 16:13] goldenapples commented on #520
I can reproduce locally. When you have a registered shortcode which has unregistered attributes, those attribute values, which should be set in `backup_attributes` on the shortcode model, don't get passed through `shortcodeModel.formatShortcode` to the initial preview request:

<img width="823" alt="screen shot 2015-10-23 at 11 52 27 am" src="https://cloud.githubusercontent.com/assets/665992/10697

[2015-10-23 18:03] drewbaker commented on #520
@goldenapples You say `unregistered attributes`, is there a way to register them? Did I miss something in my setup? I haven't seen anything about `backup_attributes` in the docs/dev demo.

The way I set "backups", is like this:

[code]

PS: I love this plugin. Should be in core, in my opinion.

[2015-10-23 18:55] goldenapples commented on #520
Maybe I'm misunderstanding your situation, but the way I was able to reproduce your issue was by using a shortcode which was registered with a callback function, but using attributes which were not registered in the [`shortcode_ui_register_for_shortcode()`](https://github.com/fusioneng/Shortcake/blob/master/dev.php#L96-L143) call which registered the UI for the shortcode.

`backup_attributes` is s

[2015-10-23 21:22] drewbaker commented on #520
This is my function that uses `shortcode_ui_register_for_shortcode()`. Seems like everything is correct, but I still don't get the attributes passed to to POST request. Am I missing something that would fix this? Or is it the bug?

[code]

[2015-10-25 10:53] jesperbjerke commented on #501
Kind of ran into a wall. Having trouble figuring out what I'm missing. Simply added..

[code]

..in `private function setup_actions()`. But getting a `Uncaught TypeError: Cannot read property 'replace' of undefined` in `underscore.min.js?ver=1.6.0:5`. Since it's undescore throwing the error, I'm having trouble tracing what is actually causing it. I assume it's some script that's loaded in the admi

[2015-10-25 16:47] danielbachhuber commented on #501
The templates aren't being loaded, because they're added to `admin_print_footer_scripts` https://github.com/fusioneng/Shortcake/blob/master/inc/class-shortcode-ui.php#L240. You'll need to make sure they are rendered on the frontend too.

[2015-10-25 18:34] jesperbjerke commented on #501
Just made a pull request adding support for Fronted :)

[2015-10-25 21:48] jesperbjerke commented on #501
Ok, so since the pull requests werent accepted. I need a way to call these functions properly:

[code]

Maybe if you make them static I can call them like so: `add_action( 'wa_fronted_after_scripts', array( 'Shortcode_UI', 'action_admin_enqueue_scripts' ) );` ?

[2015-10-25 22:13] danielbachhuber commented on #501
Because `Shortcode_UI` is a singleton, you can call them like this:

[code]

[2015-10-25 23:17] cggit opened #523 "Conditionally change attribute definition?"
We can conditionally show and hide attrs https://github.com/fusioneng/Shortcake/wiki/Event-Attribute-Callbacks but can we in a similar way change an attribute definition.

Eg.
if attribute 'A' is set to 'page' attribute 'B' query should be 'query' => array( 'post_type' => 'page' )
if attribute 'A' is set to 'post' attribute 'B' query should be 'query' => array( 'post_type' => 'post' )

[2015-10-25 23:55] cggit opened #524 "Can classnames be added to attribute wrappers in the shortcake modal"
In the shortcake modal, inside div.edit-shortcode-form-fields each attribute is wrapped in a classless div. /inc/templates/edit-form.tpl.php

It would be helpful to label these divs so they can be styled if needed.

Maybe something like.
shortcake-[shortcodeName]-[attributeName]

[2015-10-25 23:58] khromov commented on #524
See: #479

[2015-10-26 00:03] cggit commented on #524
Cool, I like that, but why not label the div above .field-block to make positioning easier?

[2015-10-26 00:06] khromov commented on #524
It was harder to do because that div comes from the depths of Backbone. Also you can just use 'display: inline;' or similar on the outer div to position the inner one.

[2015-10-26 04:55] cggit commented on #524
fair enough. maybe should include .edit-shortcode-form-fields > div{ display:inline; }

[2015-10-26 16:42] goldenapples commented on #495
Trac ticket: https://core.trac.wordpress.org/ticket/34191

[2015-10-26 16:45] goldenapples commented on #520
I've tested this situation in a bunch of different permutations, and I think there are two unrelated bugs here.

The issue you're describing above is a result of the javascript regex not supporting hyphenated attributes. (#495) Even when the attributes on the shortcode are registered properly, the WordPress core javascript attribute parser doesn't handle hyphenated attributes. This is an upstream

[2015-10-26 18:48] jesperbjerke commented on #501
Ah, right, thanks. Next question: could you make the js object `shortcodeViewConstructor` accessible through the global `window.Shortcode_UI` ? Want to access the `.edit()` inside and dont wanna duplicate code.

[2015-10-26 19:13] #524 closed, assigned to nobody

[2015-10-26 19:15] danielbachhuber commented on #395
@GaryJones Will you be able to get to this in the next couple of days? If not, I'll turn your snippet into a pull request.

[2015-10-26 19:24] mattheu commented on #500
Turns out we can't do this because TinyMCE will automatically unescape these.

It looks like this issue could be fixed upstream with the upcoming improvements to Shortcode handling - so we're going to punt this for now.

[2015-10-26 19:28] khromov commented on #500
It's a shame this won't get resolved for 0.6.0. I think it will be hard to gain major adoption when it takes a single character to break an entire shortcode into an unresolvable mess.

[2015-10-26 19:29] danielbachhuber commented on #500
This problem needs to be solved at the shortcode parsing layer, which is outside the scope of Shortcake.

[2015-10-26 19:34] khromov commented on #500
That's the ideal solution, but there should be a tradeoff between ideal and pragmatic. Isn't the idea with feature plugins that they should be usable on their own merit?

[2015-10-26 19:35] danielbachhuber commented on #500
Shortcake is usable on its own merit. If this issue is a big concern for you, it's easily possible to extend Shortcake with your own workaround for the time being.

[2015-10-26 19:42] mattheu opened #526 "Release 0.6.0"
- [ ] Write up release notes
- [ ] Release

Plan is to release this next week during the meeting at 19:00 UST.

[2015-10-27 08:36] GaryJones commented on #395
Sorry Daniel, this slipped my mind. I'll get to this this afternoon. If not, go ahead and do it yourself.

[2015-10-27 19:31] jesperbjerke commented on #501
Edit: noted that it does the same thing in admin. Steps to reproduce: 1. insert shortcode, 2. edit shortcode, 3. press edit again (nothing happens), 4. press edit again (it works)

Here's a weird one: every 2nd time parseShortcodeString gets called it returns undefined.
the `var matches = regexp.exec( shortcodeString );` seems to return null for some reason but sent data is the same, so this is st

[2015-10-28 11:58] #395 closed, assigned to danielbachhuber

[2015-10-29 15:25] danielbachhuber commented on #520
This is because `shortcodeViewConstructor.initialize()` uses `getShortcodeModel()` on an already-parsed shortcode: https://github.com/wp-shortcake/shortcake/blob/065d6ddc970a6c3c673e10336e452988ca6dfe3f/js/src/utils/shortcode-view-constructor.js#L28

`getShortcodeModel()` doesn't do anything about backing up attributes or inner content.

Later, when `parseShortcodeString()` is used, it does proper

[2015-10-29 16:41] jesperbjerke commented on #520
Sidenote: if you yank out `parseShortcodeString()` in favor for core's equivalent, latest issue in #501 would probably get solved also.

[2015-10-29 17:26] goldenapples commented on #501
@jesperbjerke Can you check if the issue you were seeing is resolved after #531?

[2015-10-29 17:30] drewbaker commented on #520
Stoked on the progress guys, really love this plugin and good to see the teams behind it!

[2015-10-29 17:31] danielbachhuber commented on #520
The hyphenated attributes issue is tracked with #495, so this issue is good to :ship:

[2015-10-29 17:31] #520 closed, assigned to danielbachhuber

[2015-10-29 18:47] jesperbjerke commented on #501
@goldenapples Problem not resolved, sorry. See my comment in the code below

[code]

[2015-11-02 14:12] khromov commented on #458
We've also observed this problem.

[2015-11-02 14:25] danielbachhuber commented on #120
Moving this to v0.7.0

[2015-11-02 19:05] mattheu commented on #526
Draft release notes: https://docs.google.com/document/d/1sZ2bVO0easnyWGT53_NHJ35eWokl1frKA-wHQZpDJUU/edit?usp=sharing

[2015-11-02 21:49] sinanisler opened #537 "Turkish translation ready >"
Turkish translation ready >

http://www.sinanisler.com/blog/wp-content/uploads/shortcode-ui-tr_TR.zip

[2015-11-03 20:31] danielbachhuber commented on #99
Closing in favor of #236

[2015-11-03 20:31] #99 closed, assigned to nobody

[2015-11-03 20:32] danielbachhuber commented on #236
Requested again in the support forums: https://wordpress.org/support/topic/add-tinymce-to-inner-content-textarea

[2015-11-03 22:03] goldenapples opened #538 "Javascript TypeError when clicking media frame menu items"
From https://github.com/wp-shortcake/image-shortcake/issues/59:

---

It looks like Shortcake is listening to clicks on [all links in the media frame menu](https://github.com/wp-shortcake/shortcake/blob/master/js/src/views/media-frame.js#L50) and trying to read the current shortcode information from `this.state().props`. The `props` object, however, is undefined when the click is on one of core's

[2015-11-03 22:12] danielbachhuber commented on #526
:ship:

[2015-11-03 22:12] #526 closed, assigned to mattheu

[2015-11-04 14:24] danielbachhuber commented on #537
Thanks!

[2015-11-04 14:34] danielbachhuber commented on #538
I'll assign this to myself as a note to release v0.6.1 sometime next week.

[2015-11-06 15:02] nextgenthemes commented on #132
+1

[2015-11-06 15:11] nextgenthemes opened #543 "Radio is broken."
[code]

This is part of my register array. Works Perfectly fine, as soon as I replace type with radio. The UI shows the radio boxes as expected but no matter what I select its not added to the short-code.

[2015-11-09 18:08] danielbachhuber commented on #538
:ship: :ship:

[2015-11-09 18:08] #538 closed, assigned to danielbachhuber

[2015-11-09 22:14] drewbaker commented on #520
Guys I'm still seeing this with v0.6.1. Unless it's waiting on the hyphenated attributes issue to be fixed by WordPress.

[2015-11-09 23:11] danielbachhuber commented on #520
Yes — that will be fixed in WP 4.3.2

[2015-11-10 19:43] micahjon commented on #453
+1

[2015-11-11 16:08] jdmoliner opened #545 "post_select broken?"
Hi,

I can not run post_select with WP 4.3.1 and  shortcake 0.6.1.

It should work? or am I doing something wrong? I get always 'No results were found'

[2015-11-11 22:50] danielbachhuber commented on #545
Can you share how you've defined your shortcode UI, and the query you're trying to make?

[2015-11-12 08:58] jdmoliner commented on #545
I used the same example as in dev.php:

<pre>
 function shortcode_ui_dev_advanced_example() {
    shortcode_ui_register_for_shortcode( 'shortcake_dev',
        array(
            'label' => esc_html__( 'Botón', 'shortcode-ui' ),
            'listItemImage' => 'dashicons-editor-quote',
            'attrs' => array(
                array(
                    'label' => esc_html__( 'Select Page', 'sh

[2015-11-12 09:00] jordif opened #546 "Some fields not being updated in v.0.6"
Some fields (such as checkbox and radio buttons) are not being updated when editing a shortcode.

The cause seems to be the following commit:

https://github.com/wp-shortcake/shortcake/commit/9f5890f3d204fadb3f74286704357e0dbb3f3bd5

(Rolling back to the previous array of events fixes this. Apparently the "input event" is not fired for checkboxes and radio buttons. I'm using Google Chrome on Linux

[2015-11-12 09:02] jordif commented on #543
Hi,

I'm experiencing the same issue both with checkboxes and radio buttons. The cause seems to be the following commit:

https://github.com/wp-shortcake/shortcake/commit/9f5890f3d204fadb3f74286704357e0dbb3f3bd5

(Rolling back to the previous array of events fixes this)

Jordi

[2015-11-12 10:34] Mte90 commented on #442
I think that is impossible, shortcake work with that without ajax

[2015-11-12 16:13] danielbachhuber commented on #543
Thanks for the diagnosis, @jordif. We'll get this fixed in v0.6.2. We'd recommend rolling back to v0.5.0 if this issue impacts you in production.

[2015-11-12 16:14] danielbachhuber commented on #546
Closing in favor of #543

[2015-11-12 16:14] #546 closed, assigned to nobody

[2015-11-12 16:31] danielbachhuber commented on #545
I've confirmed the bug :( We'll get this fixed in v0.6.2.

For now, you can address the bug locally by registering your UI on `init`, and adding a `function_exists()` check for `shortcode_ui_register_for_shortcode`

[2015-11-12 17:09] danielbachhuber commented on #545
@jdmoliner Just released v0.6.2 if you care to upgrade instead.

[2015-11-12 17:09] #545 closed, assigned to nobody

[2015-11-12 17:09] danielbachhuber commented on #543
@jordif Just released v0.6.2 to fix this issue. Thanks again for the report!

[2015-11-12 17:09] #543 closed, assigned to goldenapples

[2015-11-12 23:04] sinanisler commented on #537
your welcome sir
good job keep up.

[2015-11-12 23:04] #537 closed, assigned to nobody

[2015-11-13 19:07] jasonbahl commented on #115
+1

[2015-11-16 17:13] cliffordp opened #549 "`$shortcode_tag` not defined in demo plugin wiki file"
Am I mistaken, or is `$shortcode_tag` not defined anywhere at https://github.com/fusioneng/Shortcake/blob/master/dev.php ?
Thanks.

[2015-11-16 17:52] danielbachhuber commented on #549
It's not defined anywhere. Why would it need to be?

[2015-11-16 18:15] cliffordp opened #550 "Allow `'value' => 'true' or true or 1` (string, boolean, integer)"
For a `'type' => 'checkbox'` (and possibly other field types) I tested and `'value' => 'true'` works (as a string), but (bool)`true` and (int/bool)`1` do not <em>check the box</em> by default.

It'd be nice if any of these 3 (and their `false` counterparts) would get the job done too.

If not a good idea, please enlighten me.

tyvm

[2015-11-16 18:42] danielbachhuber commented on #550
Related #413

[2015-11-17 19:10] cliffordp commented on #549
I guess I messed something up changing it into my own plugin (was significantly different, including using PHP classes). Thanks anyway.

[2015-11-17 19:10] #549 closed, assigned to nobody

[2015-11-18 16:54] jbjanot commented on #131
+1 for me too

[2015-11-18 17:03] Vaince commented on #131
+1 for me too

And I improved @ninetienne snippet in order to show media panel when you click on the add media button (after a click and close on add post element button)

[code]

[2015-11-18 17:04] khromov commented on #131
:+1:

[2015-11-18 18:01] goldenapples commented on #131
You should be able to open the correct frame of the media modal by passing the state of the media modal you want to target into `wp.media.editor.open()`. That way you don't have to resort to that somewhat-fragile click triggering on the first media menu item.

We did the same thing in Shortcake Bakery [here](https://github.com/wp-shortcake/shortcake-bakery/blob/25d2688fcb7cff8afd4aa67903ccf4d346ed

[2015-11-19 09:49] vincio87 opened #552 "Yoast SEO 3.0.1 Compatibility"
Shortcode preview doesn't work with Yoast SEO v 3.0.1

![schermata 2015-11-19 alle 10 45 24](https://cloud.githubusercontent.com/assets/3018251/11267277/b775ccfe-8eaa-11e5-95dc-e90f2cd2ef5d.png)

[2015-11-19 13:46] pbearne opened #553 "Co-Authors Plus is breaking shortcake"
Hi

Not sure what is gong on here not seeing any errors

tested on trunk and 4.3.1

With shortcake bakery  0.1.0  ,Shortcake (Shortcode UI)  0.6.2  and Image-shortcake  0.1.0  (just in case its a combo problem)

if you activate Co-Authors Plus  3.1.2 shortcake stops working

Shortcodes don't render and the tab is missing from add media

Paul

[2015-11-19 14:06] danielbachhuber commented on #553
I can't reproduce, unfortunately.

This sounds suspiciously like Shortcake has been deactivated. Can you confirm it actually is activated?

Do you see any JavaScript errors in your console?

[2015-11-19 14:28] danielbachhuber commented on #552
Doesn't work in what sense? Are there JavaScript errors you can see? Can you upgrade to the latest version of Yoast SEO to see if it fixes your issues?

[2015-11-19 14:45] pbearne commented on #553
only Uncaught ReferenceError: $coauthors_loading is not defined

happy to share sceens ot show you

I can toggle by just deactiving/activating co-author

[2015-11-19 14:52] vincio87 commented on #552
No, there aren't any javascript errors.
I can't update Yoast plugin to the latest release because it corrupts the proper working of the shortcake plugin.

Example:

With **Yoast 2.x**
![yoast 2 x](https://cloud.githubusercontent.com/assets/3018251/11273739/4446ade0-8ed5-11e5-8905-b275e16f02aa.png)

With **Yoast 3.x** | Preview doesn't work
![yoast 3 0 1](https://cloud.githubusercontent.com/assets/

[2015-11-19 14:59] danielbachhuber commented on #553
This is a bug in Co-Authors Plus https://github.com/Automattic/Co-Authors-Plus/pull/309

[2015-11-19 14:59] #553 closed, assigned to nobody

[2015-11-19 15:00] danielbachhuber commented on #552
Have you tried with Yoast 3.0.2? There were JS bugs in 3.0.1 that broke parts of the editor.

[2015-11-19 15:12] vincio87 commented on #552
I upgrade to the latest version (3.0.2) and there's a console error:

`Uncaught TypeError: Cannot read property 'value' of null`

Ya, **wp-seo-post-scraper-302.min.js** is the problem! :)

Thank you very much!

[2015-11-19 15:14] pbearne commented on #553
video https://drive.google.com/file/d/0B5QczxsmCk1vTFIxc1BheUViT0E/view?usp=sharing

[2015-11-19 17:07] #552 closed, assigned to nobody

[2015-11-20 09:18] nextgenthemes opened #554 "Feature request: Ability to have a custom button that opens a specified shortcode directly."
It currently takes 3 click to create a shortcode. Add Media -> insert Post item -> Pick shortcode out of a possible bunch of shortcodes.

Maybe I already can do this somehow?

[2015-11-20 14:04] danielbachhuber commented on #554
With #551, it will be two steps. You could use code similar to that on the pull request to open your shortcode directly.

Related #281 #94

[2015-11-20 14:04] #554 closed, assigned to nobody

[2015-11-20 14:44] goldenapples commented on #554
For a little more context, passing a shortcode as `currentShortcode` into the `media.editor.open()` call will open the specific shortcode UI you want.

For example, to open the UI for a "pullquote" shortcode on clicking Ctrl-P:

[code]

[2015-11-22 16:12] nextgenthemes commented on #554
@goldenapples Thanks so much! This is exactly what I was looking for!

[2015-11-22 23:29] pbearne opened #556 "add information text to UI"
HI Guys

I may have missed this, but I want ot put some instructions on the UI form but cant see a way to add them

I am looking to do something like this

`'attrs' => array(
            array( 'type'   => 'info', 'html' => '<p> see <a href="xxx"> for more info</a></p>'
      )
)
`

I put it in the attrs as you might need to have more than one block

[2015-11-23 12:32] danielbachhuber commented on #556
This use case isn't supported yet. See these related issues:
- https://github.com/wp-shortcake/shortcake/issues/408
- https://github.com/wp-shortcake/shortcake/issues/386
- https://github.com/wp-shortcake/shortcake/issues/120

As one way to hack it, you could use the CSS `content` property to inject some text.

[2015-11-23 12:32] #556 closed, assigned to nobody

[2015-11-23 14:11] pbearne opened #557 "Alternate shortcode editing UX suggestions"
I have been working on migrating my plugin author avatar to shortcake and have few of thoughts

I already have a shortcode creator that I also use for widgets which a couple of custom controls and a tabbed section due to a number of options

![image](https://cloud.githubusercontent.com/assets/46270/11337666/aae4ace8-91bc-11e5-9adb-d93e74a154fd.png)
this first control allows to pick and user or ent

[2015-11-23 20:33] danielbachhuber commented on #557
Hm. Interesting idea.

I think we'll want to solve this in whatever way we end up solving #116. The current thinking is to have an API for providing a custom editing interface. We'll keep this use case in mind as we work on it.

[2015-11-25 19:02] nextgenthemes opened #558 "Feature Suggestion: Shortcode Tag Preview"
I have my own shortcode creator dialog build inside thickbox for [ARVE](https://nextgenthemes.com/plugins/advanced-responsive-video-embedder-pro/)  but will be switching to shortcake soon.

![bildschirmfoto vom 2015-11-25 19-49-14](https://cloud.githubusercontent.com/assets/1780826/11406492/c2bfceae-93ad-11e5-8b65-79882f7a1ea7.png)

It looks like this. I think the bottom where the insert/update bu

[2015-11-25 19:50] danielbachhuber commented on #558
Thanks for submitting your comments.

Because Shortcake is intended to obscure the fact you're using shortcodes, displaying the shortcode in the editor doesn't fit the philosophy of the plugin.

Also, there's sufficient helper classes for you to style the form in a way that best fits your fields.

[2015-11-25 19:50] #558 closed, assigned to nobody

[2015-11-25 20:32] nextgenthemes commented on #558
@danielbachhuber Could you tell me where I can find this helper classes to style the form like I need and how to apply them to the form?

Like I said I like to have the labels inline, radios inline and not so much vertical spacing between elements.

I found nothing documented here apart that I guess I could add classes to the inputs with 'meta' - 'class' during setting up the form.

[2015-11-30 22:32] goldenapples opened #559 "Bug: Clicking the edit icon requires two clicks to open the Shortcake modal"
After the shortcake modal has been opened once, clicking the pencil icon on any post element in the TinyMCE editor requires two clicks to open the '{Shortcode} Details` frame of the media editor.

This is specific to this frame having been last open, and trying to open it again with the same or a different shortcode. I suspect that the `currentShortcode` property isn't set correctly when first try

[2015-12-01 16:33] jesperbjerke commented on #559
this is the same bug reported here #501

[2015-12-01 16:59] goldenapples commented on #559
Thanks! I knew I'd seen it brought up before, but couldn't find it by title. yes, it looks like the same bug, and your debugging there is a good start.

[2015-12-02 09:58] rahulv3a commented on #403
I like the idea of getting more control over the position of 'inner_content'.

Any idea when can we expect this feature? I hope soon.

[2015-12-03 06:20] nextgenthemes opened #562 "Classes of input fields should be changeable."
Text fields always get the `regular-text` class, wordpress has `large-text` ... classes that I want to use.

`'meta' => 'placeholder'` works so `'meta' => 'class'` should also work.

Also @danielbachhuber was saying that there are helper classes in https://github.com/wp-shortcake/shortcake/issues/558#issuecomment-159724481. I was thinking there were some classes just to add to change the style. I

[2015-12-03 14:02] danielbachhuber commented on #559
:hammer:

[2015-12-03 14:02] #559 closed, assigned to nobody

[2015-12-06 04:26] nextgenthemes commented on #554
@goldenapples Thanks again for the snippet but I have a problem with my code thats is based on that code.

When I click the button the shortcode dialog is showing without the sidebar and then it locks that state. So when I close the dialog I no longer can access the normal media dialog.

This also happens the other way arround, when I first open the normal media dialog, my own button is showing th

[2015-12-06 08:08] goldenapples commented on #554
Ah, I gave you a bad code snippet - sorry about that!

This should work for your opener function with the latest Shortcake version:

[code]

[2015-12-08 03:38] nextgenthemes commented on #554
@goldenapples Thanks, almost there. With this the dialog is only reopening after two clicks on the button after closing.

[2015-12-08 04:05] goldenapples commented on #554
@nextgenthemes are you on the latest commit in master branch? This sounds like the same regex parser bug we just fixed in #560.

[2015-12-08 04:41] nextgenthemes commented on #554
@goldenapples No I was not.

wp.org version:
folder name: `shortcode-ui` 4 weeks outdated.
github version, no support for [github updater](https://github.com/afragen/github-updater). folder name `shortcake` (when simply cloning this repo). Not a very present way to have ppl run the latest code.

I never used composer but I guess I would need to manually run a command to update or have some cronjob

[2015-12-10 10:58] orest22 opened #563 "Wordpress 4.4 compatibility"
Hello, plugin doesn't work with 4.4
`Uncaught TypeError: Cannot read property 'views' of undefined`

[2015-12-10 14:26] danielbachhuber commented on #563
I'm unable to reproduce the error in WordPress 4.4.

To confirm, this error exists in a stock install of WordPress, with 2016 activated and no other plugins active?

If you do have other plugins active, can you try disabling them to see if the error goes away?

And, can you provide the full error, including line number reference?

[2015-12-10 15:54] kraftner commented on #51
Has anything changed now that https://core.trac.wordpress.org/ticket/28003 has landed?

[2015-12-10 17:04] danielbachhuber commented on #51
Not sure. Can you test?

[2015-12-10 17:08] kraftner commented on #51
Sorry, wasn't clear. I have tested and although images with captions can be dragged now nothing has changed for shortcake views. What I was wondering is if this might have paved the way as I haven't understood yet where exactly the problem is.

[2015-12-10 17:19] chdenat commented on #51
@danielbachhuber  I'm sure not ;)

[2015-12-11 13:00] widoz commented on #545
Installed the 0.6.2 but the issue remains.

This is what I seen on console.

May be a different issue?

[2015-12-11 13:04] widoz commented on #545
Sorry, found another thread with the same issue of mine.

[2015-12-11 15:42] goldenapples opened #564 "Checkbox attribute fields are not set on the model when opening the shortcode UI"
From https://github.com/wp-shortcake/shortcake-bakery/issues/165

Currently in our shortcode model, it's expected that a checkbox field should store a boolean value.

However, when we [format a shortcode string](https://github.com/wp-shortcake/shortcake/blob/master/js/src/models/shortcode.js#L65-111), we don't treat boolean fields any differently than other field types, and serialize them as quote

[2015-12-11 17:29] widoz commented on #475
@rickalee If you interested I solved temporary to deregister the select2 and force to enqueue the version 3.5.2. But I don't know if this can cause other issues in conjunction with other plugins. Form me I've only the fast page switch that register the select2 and everything works fine.

[2015-12-13 23:52] bruno-barros opened #565 "[Question] Is there a way to identify each instance of a shortcode?"
I have some instances of a shortcode on a page and I need to treat each instance with a diferent style.

How could I identify each instance as unique on a page?

[2015-12-14 10:23] widoz opened #566 "Repeatable fields"
Will be the possibility to use or add a repeatable fields? Would be great for example for row/columns shortcodes.

[2015-12-14 14:33] danielbachhuber commented on #566
Possibly. Duplicate request of #244

[2015-12-14 14:33] #566 closed, assigned to nobody

[2015-12-14 14:37] danielbachhuber commented on #565
There isn't a great way to do this at the moment, unfortunately. You'd need to write some custom JavaScript to keep track of the number of instances on your page, and then pass that context in the AJAX preview.

[2015-12-14 14:37] #565 closed, assigned to nobody

[2015-12-17 18:20] davisshaver commented on #565
@bruno-barros You might be able to use CSS `nth` selectors to accomplish the desired effect.

[2015-12-18 08:29] orest22 commented on #563
Hi! Thanks for response. It could be closed. I had installed old Shortcake plugin.

[2015-12-21 22:24] #563 closed, assigned to nobody

[2016-01-11 16:05] ivan79 opened #570 "shortcode-ui.js // bug without inline-content"
I have a problem with my shortcakes without inline-content, the tag don't close.
I resolve that putting this "else" on shortcode-ui.js

[code]

[2016-01-11 18:13] danielbachhuber commented on #570
You actually don't need the tag to close — the shortcode parser works with `[shortcode]`

[2016-01-11 18:13] #570 closed, assigned to nobody

[2016-01-11 22:15] Mte90 commented on #509
any example? i can work on that

[2016-01-12 08:58] ivan79 commented on #570
Yes, but have you tried to put two with parameters together? In my case, one disappear.

[2016-01-12 12:22] danielbachhuber commented on #570
Sorry, I'm not sure I follow. Can you share more details, including steps to reproduce?

[2016-01-12 14:15] jphorn commented on #132
+100. We badly need this to make some of our shortcodes work in a team environment (without writing a 100-page guidebook)

[2016-01-12 15:20] widoz opened #571 "wp-js-hooks scripts is loaded minified when SCRIPT_DEBUG is true"
Within the **inc/class-shortcode-ui.php** the script wp-js-hooks is loaded minified when **SCRIPT_DEBUG** is true.

[code]

[2016-01-12 15:22] goldenapples commented on #571
Thanks, that's a good catch.

[2016-01-13 17:35] widoz opened #572 "Wiki Select example wrong parameters"
Hi,

I don't know if this is the right place where signal a wiki incongruence but in the example for the select field type https://github.com/wp-shortcake/shortcake/wiki/Field-example:-Select the key value pair for the multiple is 'multiple' => false, rather than 'meta' => [ 'multiple' => false ]. May confuse someone about the right usage of the select args.

[2016-01-27 14:44] diegoliv commented on #115
+1 For this one too! I'm creating a shortcode that would wrap some html content around. One approach would be having a WYSIWYG textarea for `inner_content` (which has been discussed), and another approach would be creating the content using the WordPress Editor, then selecting the content, and adding the shortcode (automatically inserting the selected html content into `inner_content`).

[2016-01-28 06:38] nextgenthemes opened #573 "Changing input fields does not affect the actual shortcode output."
Maybe I am doing it wrong. What I want to do is change the imput of a field when its entered or pasted.

The input field changes but is not reflected on the shortcode insertion.

[code]

[2016-02-17 10:36] MALIK-0 opened #574 "Shortcake Example (dev.php) not working"
# Hi I'm currently looking into Shortcake cause I like the idea behind this project.

However I can't get the example code (https://github.com/wp-shortcake/shortcake/blob/master/dev.php) to work. (Also there is a missing php closing tag on the last line)

After installing the Plugin and adding the code of dev.php I can only see the "Shortcake With No Attributes" in the "Add Post Element" section.

[2016-02-17 13:18] danielbachhuber commented on #574
When you install Shortcake, you'll see both Shortcake and the dev plugin available for activation:

![image](https://cloud.githubusercontent.com/assets/36432/13110578/cbfebc54-d535-11e5-9ef2-8910b6e7a4cc.png)

The dev plugin includes two example shortcodes:

![image](https://cloud.githubusercontent.com/assets/36432/13110588/dba0a168-d535-11e5-9752-c01e2056f379.png)

Hope this helps.

[2016-02-17 13:18] #574 closed, assigned to nobody

[2016-02-17 14:09] MALIK-0 commented on #574
Hi Daniel,

thanks for the quick reply and sorry to post again. Before I installed the plugin via the Wordpress backend plugin section. Now I've downloaded the complete zip from this repro and installed it manually. On the attached screenshots you can see, that I've activated both plugins but only the "Shortcake With No Attributes" is visible.

Do you've any idea whats wrong?
![shortcake-1](https:

[2016-02-17 14:56] danielbachhuber commented on #574
No ideas, sorry. I'd need access to the environment to do some debugging. I might recommend deactivating any other plugins you've installed to see if there's a conflict.

[2016-02-18 04:23] nextgenthemes commented on #573
I realised now that actually editing the field one time, like adding a space, then removing it after pasting actually results in the intended behaviour.

[2016-02-18 16:12] goldenapples commented on #573
Hi, sorry - I missed this issue when it was opened.

I suspect that in this case, changing the field's value using `.val()` isn't triggering [the `input` event which updates the Backbone model](https://github.com/wp-shortcake/shortcake/blob/master/js/src/views/edit-attribute-field.js#L10).

A simple workaround in your case is to manually trigger an event on the input after setting its value, so th

[2016-02-19 04:48] nextgenthemes commented on #573
@goldenapples thanks so much. Works fine. And I am really glad you replied here. I already tried to pay a freelancer to fix this issue for me as I not wanted to get into backbone. My description was basically "fix this issue" with a link. He ended up digging deep into my plugin changing all kind of php code, completely missing the point ...

I really knew it would be something simple as this. And

[2016-02-20 10:10] Pigrecolab opened #575 "Icon Picker Field"
I finally managed to find a simple way to create an icon picker field in shortcake.
I used [Balachuang Icon Picker](https://github.com/balachuang/IconPicker) with a small change and then I added this script in WP admin:
`jQuery(document).ready(function($) {

[code]

});`

Could please someone help me to replace the example icons with the fontawesome icons ? I found it on [this link](http://www.fla

[2016-02-22 09:55] braders opened #576 "Clicking 'Edit Attachment' should not cause new page load"
Firstly, I have been really enjoying using  this plugin, and it seems to provide a great interface for content editors.

I have been using the `attachment` field type which is working great. One thing I have noticed however is that when the user edits the shortcode and then clicks 'Edit Attachment' a whole new page loads, breaking the user flow.

It would be better if a new media modal was opened,

[2016-02-22 13:36] danielbachhuber commented on #576
What you're experiencing is WordPress' default behavior, not something introduced by Shortcake. There are historical reasons why "Edit Attachment" is still included on a second page. I'd encourage you to follow along on those conversations on [core Trac](https://core.trac.wordpress.org/).

[2016-02-22 13:36] #576 closed, assigned to nobody

[2016-02-27 10:40] Pigrecolab opened #577 "Jquery UI Error"
Hello,
when I use the color type field I get in console:

After that the insert media button doesn't work anymore.

Maybe it's caused by the last jquery ui update...

[2016-02-29 11:31] mattheu commented on #572
I think the correct usage is indeed `multiple => false`. There is an issue around consistency of when `meta` is used to pass args and when it isn't, but I'm going to close this for now.

Can also just update the wiki if its incorrect.

[2016-02-29 11:31] #572 closed, assigned to nobody

[2016-02-29 20:25] widoz commented on #572
Uhm, the second one worked. The 'multiple' => true doesn't make the select multiple.

Tested with shortcake Version 0.6.2

[2016-03-03 16:10] coderaaron opened #584 "Updating existing shortcode inserts new shortcode"
As I said in the title, when I edit an existing shortcode and click the "Update" button it inserts a second shortcode with the new attributes rather than updating the existing shortcode.

I thought this might be caused by some of our custom code, but I'm still experiencing the problem on a fresh 4.4.2 install using Twenty Fifteen with only Shortcake 0.7.0-alpha and the Example plugin active.

Apol

[2016-03-03 17:10] coderaaron commented on #584
So this appears to be an issue with my Chrome install...apologies

[2016-03-07 23:40] StaggerLeee commented on #565
Why not a select dropdown attribute with changeable CSS classes ?
Option 1 = Blue block
Option 2 = Green block...etc...just for info. And name it so Users cannot miss point. Later adapt CSS code to it.

[2016-03-07 23:43] bruno-barros commented on #565
Yeah!
Simple and effective idea.

[2016-03-09 10:58] StaggerLeee commented on #361
Need just some help. To not open new issue.
Cannot get this to work: **'multiple'    => true,** for gallery (attachments). It behaves as single image attachment.

is it finished ?

[2016-03-10 22:13] cggit commented on #323
this seems to still be an issue

[2016-03-13 02:33] movingSone commented on #577
Is this issue solved, I have tried to recreate it with latest version for shortcake and it is working fine. No errors inside WordPress.

[2016-03-14 04:49] minimaluminium commented on #559
Has this issue been fixed yet?

[2016-03-14 13:34] goldenapples commented on #559
@sodbileg Yes, this issue was fixed with #560, and should be resolved in the master branch. We haven't cut a new release since then, so the problem exists in 0.6.2, the latest released version.

[2016-03-14 21:46] westonruter opened #585 "Content Blocks: Shortcodes & Widgets & Nav Menus"
I recall talking a conversation at some point with @mattheu regarding how shortcodes (as enhanced by shortcake) are a great candidate for the much-mused “content blocks”. I believe in this conversation it was also suggested that widgets (and nav menu items to a limited extent) are just another side of the same coin. I've been wanting to tackle a rewrite of widgets for awhile now to make them JS-dr

[2016-03-15 18:11] szepeviktor commented on #210
@danielbachhuber Is this the issue about registering a shortcode as a widget? And of course editing it by Shortcake UI.

[2016-03-15 22:00] danielbachhuber commented on #210
No, the opposite in fact: being able to use shortcodes in widgets.

[2016-03-15 22:05] danielbachhuber commented on #585
@westonruter Maybe we could schedule a hangout in the near future to discuss at depth?

[2016-03-15 22:06] westonruter commented on #585
Actually, I think we are overdue for wpdev-:sushi:

[2016-03-15 22:43] szepeviktor commented on #210
Thank you.

So Shortcake UI would appear in Appearance/Widgets?

[2016-03-15 22:56] danielbachhuber commented on #210
More or less. Implementation TBD.

[2016-03-15 22:56] danielbachhuber commented on #585
Good point. @mattheu can you make it to Portland anytime soon?

[2016-03-16 00:59] szepeviktor commented on #210
Sounds exciting.

[2016-03-16 08:58] mattheu commented on #585
Agreed - there are definitely some commonalities between all of these projects. And we've quickly run into the limits of standard shortcodes - I think the concept of using widgets stored as a post type would be a great solution for this.

Also would be great to be able to build the forms with the Fields API using standardized schema.

Would be good to hang out - but Portland is a little far for me

[2016-03-17 20:15] westonruter commented on #585
Well, I'm also fine with a hangout :smile:

Monday, April 4th?

[2016-03-17 20:46] danielbachhuber commented on #585
Works for me! We should also do :sushi: soon

[2016-03-17 20:55] westonruter commented on #585
@mattheu night owl or early riser? :smile: http://time.is/compare/0800AM_4_April_2016_in_Portland,_Oregon/Nottingham

[2016-03-17 23:12] westonruter commented on #585
It looks like the Trac ticket for this is https://core.trac.wordpress.org/ticket/33473

[2016-03-17 23:40] mattheu commented on #585
Later is usually best for me - any time 16:00-21:00 UTC is good

[2016-03-17 23:47] westonruter commented on #210
See also #585 and https://core.trac.wordpress.org/ticket/33473

[2016-03-18 18:21] Pigrecolab commented on #577
Sorry, I was not very clear.. If you have a shortcake using the color picker you get that error only if you choose the color and then click on "Insert element" **without closing the color picker box** .
The problem is that after this error javascript is off... Could you please try again ? Thanks a lot

[2016-03-19 18:39] mortona42 commented on #585
Hi, I'm very curious about this conversation.  I'm a relatively new WP dev, with lots of Drupal experience - lately I've been very interested in component driven design and providing flexibility for content authors to add these components to their posts.

Shortcake does scratch the itch, and I can see how projects like shortcake bakery can allow us to start creating shared component repositories.

[2016-03-20 19:07] StaggerLeee commented on #584
Do you have any more details about this problem ? I am experiencing this too. Firefox doesnt repeat shortcode.

Needs explanation as this is not so small problem.

[2016-03-21 14:11] coderaaron commented on #584
I figured out that it was only happening when the shortcode was the very first thing in the content (and only in Chrome).  To fix I just put a `&nbsp;` before the content

[2016-03-21 14:37] khromov commented on #584
Also seeing this issue on Chrome... Can we reopen @danielbachhuber ?

[2016-03-21 14:39] danielbachhuber commented on #584
@khromov On `master` or on the latest tagged release?

[2016-03-21 14:41] khromov commented on #584
@danielbachhuber Latest tagged

[2016-03-21 14:42] danielbachhuber commented on #584
@khromov Can you see if you can reproduce on `master`?

[2016-03-21 16:02] StaggerLeee commented on #584
I have master files overwritten, believe so.

Just disabled all plugins, except Shortcode UI and my own Shortcake shortcodes plugin. Same problem.
And activated default theme to be sure. Same problem.

[2016-03-21 16:35] danielbachhuber commented on #585
@mortona42 You're more than welcome to join our Hangout. I've sent you a Google Calendar invite. We'll be using the Hangout link on the invite.

[2016-03-21 16:48] khromov commented on #585
@danielbachhuber I would love to get an invite as well! :8ball:

[2016-03-21 17:03] NateWr commented on #585
I'd like to get an invite. I usually have a meeting Monday evening but it's short so hopefully won't clash.

[2016-03-21 19:01] StaggerLeee commented on #584
Difficult to find right keywords to search about this problem on Google. Only Shortcake and handfull of visual composer plugins use live shortcode updating.

[2016-03-21 21:05] StaggerLeee commented on #584
@coderaaron

Yes, it is true. Only almost top shortcode makes it. And inserting anything before it removes problem.
I just made a test with dev.php code and problem is the same. Stupid me, lost hours changing things in my own code, believing I am doing wrong. Could test with dev.php from first minute.

[2016-03-21 21:22] goldenapples commented on #584
Thanks for the info on how to reproduce. I was able to reproduce the bug on master in Chrome when the shortcode was the first element in the post content. Strangely, I couldn't reproduce it in Firefox. Reopening this issue as a bug.

[2016-03-21 21:25] StaggerLeee commented on #584
Some info to maybe help you in troubleshooting.
Only some text before shortcode prevents repeating on "update".

I just tested with native gallery shortcode before Shortcake shortcode and it did not help. Shortcode stil duplicate own shortcode, this time just before gallery shortcode.
- 4. Shortcake shortcode
- 3. Shortcake shortcode
- 2. Shortcake shortcode
- Native gallery shortcode
- 1. Shortca

[2016-03-21 21:40] goldenapples commented on #584
Yeah, the bug is actually coming from the regex core defines as `wp.shortcode.regexp()`. We've debated several times whether to use core's shortcode regex or build our own.

The issue is that calling `Regexp.exec()` in Javascript will start by default from the lastIndex which is set as an internal property of the regex, and only return matches after that character. We fixed an issue related to thi

[2016-03-21 21:46] goldenapples commented on #584
In Firefox console:

[code]

In Chrome console:

[code]

[2016-03-22 23:22] d3v1an7 commented on #585
@danielbachhuber Would love to listen in, but timezone difference might be difficult to manage.
Will there be a recording?

[2016-03-22 23:44] StaggerLeee opened #586 "Deleting Shortcode UI Example plugin deletes Shortcake (Shortcode UI) plugin"
Why it is so ? There is not much logic in it. Deleting non-activated Example plugin can confuse some Users and they will be no aware main plugin is deleted too.

Best would be not to list it in plugin list. As it is not ordinary standalone plugin from WP perspective.

That not all is OK witness empty Shortcode UI folder as leftover.

![2016-03-23_003855](https://cloud.githubusercontent.com/assets/

[2016-03-23 12:13] danielbachhuber commented on #586
Because they're bundled together in the same directory. This is core behavior, and not something that we can or want to change.

[2016-03-23 12:13] #586 closed, assigned to nobody

[2016-03-23 12:15] danielbachhuber commented on #585
Probably not. We'll do our best to take notes / produce a summary for afterwards.

[2016-03-23 12:38] StaggerLeee commented on #586
Why then deleting example plugin leave empty Shortcode UI folder ?
It is windows, WP never fails to delete folder on plugin deleting. And I was not inside that folder in Explorer, to be treated as "used".

Check it, not all is OK seems as.

Problem could be for some Users losing its time as I sad it above. Normally after this I got fatal error, Shortcode UI PHP code is not there anymore. And i wen

[2016-03-23 14:06] goldenapples commented on #585
I'd like to listen in on the call as well... been thinking about this problem but haven't come up with a good solution, and I'd like to catach up on discussions that have been happening elsewhere. Can you send me an invite?

[2016-03-23 14:43] danielbachhuber commented on #585
Yep, sent!

[2016-03-23 19:23] dmackinn commented on #584
We're seeing this issue as well. Updating will continuously create additional duplicate shortcodes.

[2016-03-26 00:07] StaggerLeee opened #588 "New example"
You can add this in example list. Many different shortcodes.

https://github.com/gambitph/Page-Builder-Sandwich

[2016-03-29 17:51] taylorscollon commented on #317
Anyone come up with a solution to this? I'd be fine turning off the preview in tinyMCE if that solved it.

[2016-03-30 16:22] #571 closed, assigned to nobody

[2016-03-31 16:18] khromov commented on #584
@goldenapples I've been tracing this error and end up in the `insert` function of `media-controller.js`. That functions just sends the shortcode content to core via `send_to_editor()`... Could you elaborate where you think the problem lies?

[2016-04-01 01:51] westonruter commented on #51
This seems like a key feature that would make the shortcodes behave like content blocks.

[2016-04-01 15:50] mehigh commented on #51
Cutting and pasting (using keyboard shortcuts) is the only possible way to reorder in the visual editor view. Drag and dropping using a Move icon in the tooltip would definitely provide a better user experience.
Any pointers on whether there are any in-progress developments which might touch this feature? Or this needs to be fully developed on top of the plug-in?

[2016-04-01 16:01] mattheu commented on #51
Yeah I'd love to support this. Thanks for linking to that trac ticket - it looks like it specifically refers to images being dragged, and will not just automatically work for all MCE views.

However could be a good start - i'll look into this.

[2016-04-02 00:46] westonruter commented on #129
I think that support for nested views for shortcodes are the answer for how WordPress core will be able provide a UI similar to the many page builders out there, like Visual Composer. Consider shortcodes that represent rows and columns. This paired with the ability to drag-and-drop shortcodes (#51) will make this super compelling.

[2016-04-03 18:01] widoz commented on #244
Any news on this?

[2016-04-03 19:20] szepeviktor opened #590 "Adding new field types"
Is there an example on adding new field types?

Are **there plans to make** field types pluggable?

[2016-04-04 16:51] #458 closed, assigned to nobody

[2016-04-14 13:28] JCzarnecki opened #593 "Editing shortcakes on latest Chrome stopped working"
Hi there,

I have noticed since the latest update of Chrome, at least on a Mac, shortcodes editing stopped working. You open up the edit window but once you save changes, instead of updating the old shortcode, it creates a new one at the very beginning of the post. It is fine on Safari and Firefox.

Please help :(

Best regards and thank you very much in advance!

[2016-04-14 14:00] goldenapples commented on #593
I believe this issue is a duplicate of #584. Its been reported before, and (if this is the same bug) only happens when the shortcode being edited is the first text in the content. If this is the same issue, can we close this and troubleshoot there?

[2016-04-15 07:48] JCzarnecki commented on #593
Thanks for a quick reply. It's a different issue. It happens for all shortcodes, no matter what are their positions in the post - in the middle, at the end - it does occur. Is it only me having this issue on the latest Shortcake with the latest Chrome on a Mac?

[2016-04-15 13:50] goldenapples commented on #593
I don't see that issue in Chrome 50.0.2661.75 (Official Build) (64-bit) using any of the shortcodes from Shortcake Bakery.

Is there anything else about your environment, your WordPress install, or about the shortcodes you're using that could pinpoint the issue?

[2016-04-15 14:37] JCzarnecki commented on #593
That's interesting. I have just upgraded to 50.0.2661.75 and no longer have this issue!

Although a minute ago I was using Chrome 49.0.2623.110 (64-bit) @ Mac and the bug was occurring on that version. Probably the range of affected versions is a bit bigger (maybe all 49.xxx?), because a few of our site's users were experiencing this problem a couple of days ago.

//EDIT: well, the bug actually st

[2016-04-15 20:02] cggit commented on #572
also ran into select multiple => true not working in 0.6.2

[2016-04-16 18:23] widoz commented on #572
@cggit As I said, have you tried 'meta' => [ 'multiple' => false ]?

[2016-04-16 18:40] JCzarnecki commented on #593
Ok, after a lot of testing I think I figured what's going on. I noticed that a new shortcode gets inserted at the beginning only if the post's content starts with a shortcode (any). To re-create the bug, please do the following:

1) Add a new post, don't input any content
2) Insert Post Element -> Button -> Insert Element
3) Insert Post Element -> Toggle -> Insert Element
4) Try to edit text of th

[2016-04-17 13:33] paaljoachim commented on #585
Would it be fitting with a make core forum post summery of the hangout discussion?
I bet a lot of people would like to read the summery and perhaps partake in a followup discussion.

[2016-04-18 19:04] goldenapples commented on #584
I spent a while the other day trying to trace down this error but couldn't pinpoint it. I'd appreciate any advice anyone can provide.

I suspect that there might have to be a fix involving a TinyMCE `beforeExecCommand` hook, like core does to [set the cursor location before inserting an image](https://github.com/WordPress/WordPress/blob/master/wp-includes/js/tinymce/plugins/wpeditimage/plugin.js#L

[2016-04-18 22:47] westonruter commented on #585
@paaljoachim here are the notes from the call: https://docs.google.com/document/d/1dxR5AUpC4RR-UKgWD_e6qTnB9XSEdNCrDdhT47QDikY/edit

[2016-04-19 17:11] paaljoachim commented on #585
Thank you Weston!

[2016-04-21 18:46] westonruter commented on #590
If I recall correctly from chatting with @mattheu, the current fields schema used in shortcake is a bit of a one off implementation of a fields API since the actual Fields API isn't available yet. I seem to recall him mentioning that custom fields could be added in the current setup, but it may require some low-level integration. In lieu of the Fields API, we also talked about there being a way to

[2016-04-21 19:06] szepeviktor commented on #590
@westonruter Thank you.
For me - and maybe for others too - custom fields, combined fields (e.g. _image with a link_) and [repeatable fields](https://github.com/wp-shortcake/shortcake/issues/244) would make Shortcake production ready.

[2016-04-23 04:44] oritiger commented on #559
@goldenapples Hi, I encountered the same issue. Are there any plan for the next release?

[2016-04-28 19:27] stevenvachon commented on #129
Is anything being done about this?

[2016-04-29 00:07] stevenvachon opened #597 "Style elements not injected"
If my shortcode generates:

[code]

the `<style>` is not injected and my preview looks incomplete.

[2016-04-29 06:29] pingram3541 commented on #129
@westonruter Yes and bundled with the customizer, the core will finally have a front end page builder provided by live shortcodes, widgets, menus and even theme/site options. This is exciting times.

[2016-04-29 14:48] khromov commented on #597
I believe TinyMCE has special handling of script and style tags, see:
http://stackoverflow.com/questions/3037501/tinymce-is-removing-style-tags

I suggest using inline element style property instead, ie `<div style="">...` or enqueue your styles with `add_editor_style`:
https://developer.wordpress.org/reference/functions/add_editor_style/

[2016-04-29 15:23] stevenvachon commented on #597
If I type the style tag manually in text/quicktags mode, it is part of the dom in visual mode.

[2016-04-29 16:49] stevenvachon commented on #597
Also, I can't seem to get this to work (?):

[code]

[2016-04-29 16:50] khromov commented on #597
@stevenvachon Text mode and the way Shortcake adds the TinyMCE view are different. I would still advise you to use the aformentioned techniques to insert styling in the preview mode.

[2016-04-29 16:51] stevenvachon commented on #597
Media queries do not work inline and I really don't think that generating multiple *.css files is the best solution.

[2016-04-29 17:38] stevenvachon opened #598 "Attributes showing as empty?"
[code]

[code]

The live site prints:

[code]

and in TinyMCE it prints:

[code]

Is there something that I'm doing incorrectly?

[2016-04-29 17:38] stevenvachon commented on #597
It turns out that it does inject the `<style>` elements, if I changed my logic. Which brings my real issue to #598

[2016-04-29 17:38] #597 closed, assigned to nobody

[2016-04-29 18:56] stevenvachon commented on #598
K, it's this #495

[2016-04-29 19:07] #598 closed, assigned to nobody

[2016-04-29 19:07] stevenvachon commented on #495
Anything being done about this, or is this fixed in 4.4+? My site is currently stuck on 4.3.2

[2016-04-30 22:23] goldenapples commented on #593
I believe that this bug has been fixed in WordPress core, with the update to TinyMCE 4.3.10. (At least I can't reproduce it on Chrome 50.0.2661.86.)

Editing posts in Chrome with WP 4.4.2, I see the bug described above and in #584. In 4.5 and 4.5.1, the problem doesn't occur as far as I can tell.

Other than the TinyMCE update in 4.5.1, I can't think offhand of a changeset that would have fixed th

[2016-04-30 22:34] goldenapples commented on #584
My comments on https://github.com/wp-shortcake/shortcake/issues/593#issuecomment-215999617:

[2016-04-30 23:36] goldenapples opened #599 "Ajax preview action doesn't work when not in post context"
The capability check we have in `Shortcode_UI::render_shortcode_for_preview()` requires that a $post_id be passed in, and performs a `current_user_can( 'edit_post', $post_id )` check. (See #486).

When we're doing previews using the ajax `bulk_do_shortcode` action, the post id is posted along with each query for a shortcode and this capability check makes sense. However, in any other context than

[2016-05-01 23:58] goldenapples commented on #598
No, I don't think you're doing anything incorrectly in the shortcode registration, just that the debug code in your shortcode callback is printing, rather than returning its value as a shortcode callback should.

This might work for debugging in the front-end, but the Shortcake preview is returned inside a JSON Ajax response, so printing output is going to end badly.

Changed your shortcode callba

[2016-05-02 00:20] stevenvachon commented on #598
I'd had `if (!empty($attrs['background-image']))` that was failing, so it wasn't a printing issue. Renaming my attribute to `background_image` fixed it. As pointed out, it's related to #495 -- I have not yet updated WordPress beyond 4.3.2

[2016-05-02 12:58] JCzarnecki commented on #593
Great, it works fine again now after the WP upgrade!

[2016-05-03 05:47] byheath commented on #593
Issue seems to be resolved. Haven't encountered it since upgrading.

[2016-05-03 09:10] khromov commented on #593
Any possible solution for people stuck on an older version?

[2016-05-03 13:53] stevenvachon commented on #495
Finally updated to latest wordpress -- this issue is indeed resolved.

[2016-05-06 12:07] phh commented on #460
@khromov Any update? Sounds like it would make a great feature to this plugin!

[2016-05-06 18:08] ogdsgn commented on #590
Totally agree - additional field types, custom fields, combined fields, and repeats would be awesome.

Would it be crazy to propose implementing something like CMB2?
https://github.com/WebDevStudios/CMB2

or ACF?
https://wordpress.org/plugins/advanced-custom-fields/

I'm not a programmer, so I don't know anything about the actual implementation - just a power user that is looking for great workflo

[2016-05-08 00:42] ogdsgn opened #600 "Color Picker is not saving empty after clearning or removing entry"
Hey,

Looks like the color picker is not saving empty after clearing or deleting the entry in the picker. I'm new to the plugin, so not sure If I'm missing something.

Repro Case:
1. Select a color in the color picker and save
2. Open that element up again and clear or empty the hex value input, and save again
3. Open up a final time to see it has not changed back to empty.

<img width="478" alt="

[2016-05-09 04:42] StaggerLeee commented on #584
Seems as it is OK now. Can confirm it.

[2016-05-10 16:28] pingram3541 commented on #585
Just wanted to add, after reading the notes, that I fall into that "faction of devs that hate shortcodes fundamentally" only because the lack of UI and the fact that WP renders raw shortcodes on the front end when it otherwise doesn't know what to do with them thus providing a public view of all the nasty bracket notations.  Visual Composer has been mentioned and I'm sure we've all seen a page ren

[2016-05-11 01:21] misfist commented on #415
Taxonomy select would be super useful. +1

[2016-05-11 15:17] stevenvachon opened #601 "spans with line breaks around tags causing rendering issue"
[code]

…is incorrectly rendered in the editor as:

[code]

---

Whereas this:

[code]

…is correctly rendered in the editor as:

[code]

---

This also renders correctly:

[code]

…as:

[code]

[2016-05-11 15:30] stevenvachon commented on #601
~~Nevermind -- it was WordPress doing it.~~

[2016-05-11 21:46] rickalee commented on #236
Any update or known workarounds for this?

[2016-05-12 18:16] westonruter commented on #585
@pingram3541 a widget shortcode could just have the widget ID as its sole shortcode attribute, and so there wouldn't be the problems currently faced with data in shortcode attributes being corrupted in the TinyMCE editor.

[2016-05-12 18:17] westonruter commented on #585
FYI: Current state for implementing JS-driven widgets, with with forms being re-usable JS components, can be found at https://github.com/xwp/wp-js-widgets

[2016-05-12 23:01] westonruter commented on #585
I've also created a new repo for a project to be able to add post/page-specific widget areas to content in the Customizer: https://github.com/xwp/wp-customize-content-widgets The readme outlines how I think it can work.

[2016-05-13 14:29] raptor235 opened #602 "Twitter Bootstrap & Shortcake"
Is there any initiatives out there to implement bootstrap into shortcake, so you can have all the bootstrap modules show up as shortcake modules?

[2016-05-13 14:31] khromov commented on #602
Shortcake is framework-agnostic, I don't see a reason to tie itself into a frontend framework.

But you can easily build shortcodes to do this yourself.

[2016-05-13 14:37] raptor235 opened #603 "Plugin attributes vs Layout (Theme) Attributes"
It would be great to be able to add general attributes to existing shortcodes...

As an example let's say plugin X has shortcake integration... but it would take additional attributes from the theme... let's say the theme is running bootstrap...

You might want to add layout attributes to shortcode attributes and wrap the original plugin shortcode... this way you can introduce layout that's driven

[2016-05-13 14:50] raptor235 commented on #602
More clerification here -> https://github.com/wp-shortcake/shortcake/issues/603

[2016-05-13 14:50] #602 closed, assigned to nobody

[2016-05-13 18:59] goldenapples commented on #603
I'm not clear on the question. Are you talking about making it easier to add additional fields to shortcode UI, or making it easier to filter the output of shortcodes?

Adding fields to shortcode UI for shortcodes which have already been registered can be done on the `shortcode_ui_shortcodes`, though its a little hairy.

Making the layout of a shortcode's output filterable would have to be done in

[2016-05-19 11:45] pravdomil opened #606 "Selecting post element in editor causes page jump"
![mov](https://cloud.githubusercontent.com/assets/2387356/15392530/e9c4e8e6-1dc7-11e6-8d02-5b32fbb95141.gif)

Try out this code:

[code]

And make few copies on blank page and try to select between elements.

Clean install no other plugins activated
WP v4.5.2
Shortcake v0.6.2
Chrome v50.0.2661.102

[2016-05-19 12:34] pravdomil commented on #606
fixed by removing `editor.getBody().focus();` from includes/js/tinymce/plugins/wpview/plugin.js:100
and by forcing non gzipped version in includes/js/tinymce/tinymce.php

[2016-05-19 13:14] raptor235 commented on #603
Sorry here is some more clarification...

Basically we currently have the ability to build fields for shortcodes which specifically are configured for the shortcode inner workings.

I think it would be great to think about giving the ability for theme authors to add global fields that apply to **all** shortcodes.

That way no matter which shortcode you decide to work with the theme itself can add

[2016-05-19 18:01] westonruter opened #607 "Add validation mechanism for post element forms"
When adding or editing a post element, there should be a validation mechanism to block inserting a post if it fails to meet certain constraints. See also work being done in the Customizer to do the same: https://core.trac.wordpress.org/ticket/34893

[2016-05-19 18:08] roborourke commented on #236
@mattheu did you have any work in progress I can pick up here?

[2016-05-21 19:01] misfist commented on #123
+1 I need multi-select for taxonomies and other lists.

[2016-05-25 19:59] aaires opened #609 "Can shortcodes with content be made reusable?"
Hi there,
first of all thanks for the amazing plugin.
Second I would like to pick your brain with something I'm trying to accomplish. I would like to have the possibility to save a shortcode created with the UI (shortcode + content) so it can than be re-used in the future. Lets say I have a quote I need to use in several posts instead of writing every time the quote it would be great to re-use it.

[2016-05-26 14:33] khromov opened #610 "Unable to clear attribute when using "post_select" with multiple => false"
There is an edge case when using  "post_select" with `'multiple' => false`. Once you select an item from the dropdown it is impossible to clear it into an empty state. In contrast, when using `'multiple' => true`, there is a button to remove each option, so you can clear it if required.

Example code:

[code]

[2016-05-30 04:45] BronsonQuick opened #611 "Term Select isn't returning the correct values on it's initial render"
This is a bug I introduced in https://github.com/wp-shortcake/shortcake/pull/604 👎

I'll have a PR up to fix this soon!

[2016-06-01 11:32] #611 closed, assigned to nobody

[2016-06-07 11:57] marcin-lawrowski opened #615 "Insert Element hook"
It would be great to have a hook that is triggered after clicking "Insert Element" button. There should be a possibility to discard closing of the layer. This hook would be an ideal place to implement the client-side validation.

[2016-06-07 11:59] marcin-lawrowski opened #616 "Render hook"
It would be great to have a hook that is triggered every time the layer shows up. It has to distinguish between shortcodes. The hook would be perfect to implement any custom add-ons on the interface, for example - when there is a need to add a button next to one of fields and implement its custom behaviour.

[2016-06-07 12:00] marcin-lawrowski opened #617 "Attachment field hook"
I have noticed that the hook is not triggered on attachment field when user deletes the attachment.

[2016-06-07 12:01] marcin-lawrowski opened #618 "DOM leaks"
I have noticed when I click multiple times edit icon in visual editor to show Shortcake edit layer this number increases after every click:
`jQuery('form.edit-shortcode-form').length`

 It is probably due to incorrect rendering design in Backbone views.

[2016-06-07 14:54] goldenapples commented on #617
Yup, that's definitely a bug.

It's happening because there's a check in the `updateValue` method (which is where the hooks are triggered on other events) which returns early if there's no attachment set. We'll have to manually call `triggerCallbacks` in the `_removeAttachment` method.

[2016-06-07 15:02] goldenapples commented on #616
Hmm. Any update hooks registered on a shortcode's attributes get called on initially rendering the UI, and they have access to the shortcode model (albeit in a somewhat awkward way). What more would be required to make this work for your use case? Do we just need to namespace initial render events differently than update events?

[2016-06-17 20:18] r-a-y opened #620 "Support custom order for <select> field"
Currently, for the `<select>` field, for the `options` parameter, if you pass a bunch of options with a custom key order:

[code]

Shortcake sorts the options by key in ascending order, so the select dropdown field becomes:
-  `---`
- No
- Yes

It would be nice if Shortcake preserved the array key order as it was added.

[2016-06-19 06:01] westonruter commented on #620
I've come across this issue recently of preserving the order of PHP-supplied `choices` as well. I'm not sure if Shortcake is sorting the choices itself, but objects (associative arrays) in JavaScript are not ordered like they are on PHP. So when PHP exports the array from the server to JavaScript, it should actually create pure array of JS objects that looks like:

[code]

Here's how I'm handling

[2016-06-22 01:15] StaggerLeee commented on #609
You cant, unless you save your "quotes" directly in Shortcake PHP file. This should not be done. I guess you want to call values form Posts and save them back on the fly (one Post per "quote"). What makes it even much more complex to achieve.

Reusable content is easy to make with other means and tools, not Shortcake. But problem is your wish to save it when you want it, how you want it. No TinyMc

[2016-06-22 14:36] goldenapples commented on #609
What I've done in similar cases in the past is to use a javascript hook on updating a field in Shortcake, which pings an Ajax endpoint that can handle whatever data storage format you need (saving the text to a custom post type, for example). You then could have a Post Select field to choose items in that custom post type.

The shortcode UI for the [Protected Embeds plugin](https://github.com/huma

[2016-06-26 09:43] westonruter commented on #585
Re:

See [#29071](https://core.trac.wordpress.org/ticket/29071): Make it easier to include an instance of the Customizer outside of customize.php

[2016-06-26 10:19] mattheu commented on #606
👍 As discussed at WCEU - this affects the built in galleries too and isn't necessarily a Shortcake issue.

However I think we can turn your fix into a core patch and open a ticket on trac :)

[2016-06-26 10:35] mattheu commented on #620
I've run into this too - there's a PR here: https://github.com/wp-shortcake/shortcake/pull/591

We're not sorting this - its simply because object properties don't have an order. I think we should use an array of objects instead as this maintains the order.

Some backwards compatability handling is needed. The PR could do with some tests.

[2016-06-26 10:47] jfbon commented on #606
It's here https://core.trac.wordpress.org/ticket/28322

So fixed in trunk but it's not in the latest release.

[2016-06-26 10:48] mattheu commented on #606
Thats great. I'm going to close this issue.

[2016-06-26 10:48] #606 closed, assigned to nobody

[2016-06-26 11:03] mattheu commented on #609
Yes I like this idea. I think using some kind of external (and potentially re-usable) data store has other benefits too - handling complex data such as HTML that doesn't play nice with shortcode attributes.

We've discussed using Post meta with some kind of UUID to tie the 2 together, or using a separate post type for content blocks. Possibly even combining this with Widgets and moving those out o

[2016-06-26 11:07] mattheu commented on #600
I'm seeing this too.

[2016-06-26 11:18] mattheu commented on #593
Still stuck on an older version? Could try and patch this in your install, but since its an upstream TinyMCE or WP MCE Views issue, not sure its easy for us to do.

I'm going to close this issue unless anyone has any ideas.

[2016-06-26 11:18] #593 closed, assigned to nobody

[2016-06-26 13:54] mattheu commented on #509
#578 is merged.

[2016-06-26 13:54] #509 closed, assigned to nobody

[2016-06-26 14:29] mattheu commented on #577
👍 I was able to reproduce.

[2016-06-26 14:49] mattheu commented on #600
I tried digging into this, and the problem is that the [Iris color picker](http://automattic.github.io/Iris/) doesn't call the `change` callback when you change to an empty value.

It will need fixing upstream. I've created a ticket. https://github.com/Automattic/Iris/issues/57

[2016-06-26 14:50] #495 closed, assigned to nobody

[2016-06-26 14:51] mattheu commented on #588
Thanks! Added to wiki. https://github.com/wp-shortcake/shortcake/wiki/Supported-Plugins

[2016-06-26 14:51] #588 closed, assigned to nobody

[2016-06-26 14:54] mattheu commented on #523
Interesting idea. Conditional fields would be cool, but not something I'm keen to invent over. In lieu of a solution to this, providing hooks that you could use to achieve this would be great.

Going to leave this open as a new feature, but not something I'm going to be able to get to anytime soon!

[2016-06-26 14:56] mattheu commented on #415
We've got this now!

[2016-06-26 14:56] #415 closed, assigned to nobody

[2016-06-26 15:02] mattheu commented on #575
If you want to add a custom field type, I'd try to start by looking at the colour picker field, post select field etc  and try copying the patterns used there.

I'd love to work a bit more on the documentation for this, and its something we have lots of ideas around.

In the meantime - I'm going to close this ticket. Thanks for your feedback!

[2016-06-26 15:02] #575 closed, assigned to nobody

[2016-06-26 15:04] mattheu commented on #557
Yes allowing you to provide your own custom view for editing the shortcode would help you achieve this, and definitely something I'd like to do.

I'm going to close this for now. Thanks for your input!

[2016-06-26 15:04] #557 closed, assigned to nobody

[2016-06-26 15:06] mattheu commented on #475
+1 I'd like to support the newest version. I'd also like to maintain compatability with other plugins - so would be interested to see which load their own Select2, and which are using newer versions.

I know there was talk about bundling a WP version of this at some stage. Wonder what happened to that...

[2016-06-26 15:09] mattheu commented on #104
Preview is gone. Closing

[2016-06-26 15:09] #104 closed, assigned to nobody

[2016-06-26 15:11] mattheu commented on #51
🎉 Support for this has landed in core as of https://core.trac.wordpress.org/changeset/37446!

[2016-06-26 15:11] #51 closed, assigned to nobody

[2016-06-26 22:42] khromov opened #622 "Using Butterbean for fields"
Came across this plugin by @justintadlock :
http://themehybrid.com/plugins/butterbean

I believe integrating this into Shortcake (for fields) would be a good idea because:
- It uses Backbone and Underscore (included in WP Core)
- It has more field types available
- One less fields implementation
- Fields API still has a long way to go before it will be usable (my impression, possibly wrong) and th

[2016-06-27 03:15] danielbachhuber commented on #622
At this point, I think any substantial refactoring of Shortcake needs to align with the eventual goal of producing a plugin that suitable for committing to WordPress core. We need to do the whole [feature project](https://make.wordpress.org/core/features/) song and dance before we pick our new official way of rendering fields (and supporting custom field UI).

With this being said, Butterbean does

[2016-06-27 09:55] mattheu commented on #622
I would definitely like this to be possible, but I don't think its something to include if we're looking to get into core. I'd like this to be as flexible as possible. Customizer fields might be more feasible.

[2016-06-29 20:18] westonruter commented on #607
I've added a demonstration of how to use the Customizer's new notification API to manage the validation state for standalone controls: https://github.com/xwp/standalone-customizer-controls

[2016-06-29 20:19] westonruter commented on #585
I've fleshed out several examples of embedding Customizer controls in a standalone way, including multi-field controls and making use of the new control notification API in 4.6-alpha to manage the validation state: https://github.com/xwp/standalone-customizer-controls

Screenshots:

<img width="381" alt="multi-field-control" src="https://cloud.githubusercontent.com/assets/134745/16467197/3d1420b8-

[2016-06-29 21:18] westonruter commented on #622
For re-using Customizer controls in Shortcake, I've put together some examples for how Customizer controls can be used in a standalone fashon: https://github.com/xwp/standalone-customizer-controls

[2016-07-04 22:44] szepeviktor commented on #416
:+1: for inline
See in https://github.com/wp-shortcake/shortcake/issues/317

[2016-07-04 22:51] szepeviktor commented on #317
I think you could develop a shortcake outputting the whole heading:

[code]

as `[dt_show_greeting display="full_name"]`

[2016-07-05 19:12] szepeviktor opened #625 "Exclude self"
I am developing an ultra-simplified page builder. It works by a CPT called `blokk`.
There is a shortcake which lets you pick 1 blokk by `post_select` on posts and pages **and blokks also**. So a blokk could contain another blokk.

Could we add `$query_args['exclude_self']` to `Shortcode_UI_Field_Post_Select` to prevent selecting the blokk itself?

[2016-07-05 19:14] szepeviktor commented on #625
I was trying with `post__not_in` arg but there's no way to tell the post ID at `shortcode_ui_register_for_shortcode()`.

[2016-07-05 19:21] szepeviktor commented on #625
Thinking further the current post ID is not in the AJAX request. I think it'll be difficult.
Maybe the solution could be in `edit-attribute-field-post-select.js`?

[2016-07-05 20:23] BenFausch commented on #584
Hi guys, we're seeing a fix within chrome for this, but now have a client experiencing this exact issue in Win7/IE11 with 4.5.2 that I'm able to reproduce in IE.

Client goes to save A,B,C shortcodes, ends up with A,C,B with an empty D shortcode.

[2016-07-12 17:49] luisecc opened #626 "new Type Repeater"
Some days ago , I add a new type "repeater" because i new repeater group of fields input

I use this plugin http://n-molham.github.io/jquery.repeatable.item/
and use https://github.com/DubFriend/jquery.repeater for get JSON of repeater fields

Files used :
zip -> https://drive.google.com/open?id=0Bw2fVMF1AqxHUlRCZ3VlNS1yMUU
rar -> https://drive.google.com/open?id=0Bw2fVMF1AqxHUGdObk1vSlU3a1k

I am

[2016-07-20 09:09] mralessio opened #627 "Image for loaded data for 'post_select' field"
Started using Shortcake for my theme, Thank you for your plugin, it levels up a user expirience on the next level.
It'd be really great to get the thumbnail image when loading data for 'post_select' field. That would be very helpful especially in case of lots of posts. Select2 3.5 or 4 has built-in this feature.

Example:
![select2example](https://cloud.githubusercontent.com/assets/16015111/169813

[2016-07-20 19:00] westonruter commented on #627
FYI: Inclusion of featured image in a post selector has been implemented in an [Object Selector control for the Customizer](https://github.com/xwp/wp-customize-object-selector).

[2016-07-20 19:02] westonruter commented on #627
It's also now in a PR for Customize Posts: https://github.com/xwp/wp-customize-posts/pull/196

<img width="303" alt="jump-to-page-2" src="https://cloud.githubusercontent.com/assets/134745/16999225/c66490ce-4e71-11e6-8a51-d210c68b2484.png">

[2016-07-20 20:17] mehigh commented on #236
Since TinyMCE is so heavy and comes with a big list of dependencies, I decided to spin out and try a different, simpler approach. Most of the times the ones wanting rich text editing don't need all of the offerings of TinyMCE, and that's how I ended up toying with http://summernote.org

I'm explaining the steps I've taken just in case it might help others get ideas.

First of all, I didn't want to

[2016-07-27 16:11] mehigh commented on #616
The `wp.shortcake.hooks.addAction` can be used to tie a function on a particular short-code attribute. Which means that if we need to run some script to all textareas for example (rich text editing is a need which happens to pop frequently), we can't do that without tightly coupling this with all of the occurrences of a textarea field inside this JS file, which would make it cumbersome to maintain

[2016-07-28 12:16] nextgenthemes opened #629 "Whats the future of this plugin?"
I am have plans to ship my next big version of [ARVE](https://wordpress.org/plugins/advanced-responsive-video-embedder/) with a UI powered by this plugin.

I noticed that the wordpress.org version is **12 month outdated**. I just wanted to ask why that is. Would it not make way more sense to let people there actually run the latest code or at least a newer version then 9 month old one when there a

[2016-08-07 18:11] misfist commented on #415
I have this code and the select isn't rendering.

[code]

Is there an example of this field's usage?

[2016-08-08 08:09] BronsonQuick commented on #415
Hey @misfist trying altering:

[code]

to:

[code]

There's an example of this fields usage in: https://github.com/humanmade/shortcake/blob/52882de66decb6a6d5d4d4b59451dcf2f59ff3e1/dev.php#L189

I hope that helps you! 😄

[2016-08-08 08:10] BronsonQuick commented on #415
Or if you prefer you can just do:

[code]

[2016-08-08 19:36] misfist commented on #415
@BronsonQuick - Yes, this totally helps! Though, I think the main problem was that I was using the [WP repo version](https://wordpress.org/plugins/shortcode-ui/) (wpackagist.org, actually) of Shortcake UI with which it didn't work. 🔢 .

I updated my composer file to source from this repo.

Thanks!

[2016-08-08 23:37] mortona42 opened #631 "Advanced example doesn't work"
I enabled the shortcode ui example module, but only the minimal shortcode is working.

[2016-08-09 00:02] mortona42 commented on #631
Scratch that, it is configured to only show for regular posts.

[2016-08-09 00:02] #631 closed, assigned to nobody

[2016-08-16 09:11] alicam opened #632 "Why is my term_select not displaying/working?"
This is my array for the registering of a shortcode/shortcake field:

`array(`
`'label'    => __( 'Select Customer Type', 'clearnetworks' ),`
`'attr'     => 'tax_customer_type',`
`'type'     => 'term_select',`
`'taxonomy' => 'tax_customer_type',`
`'multiple' => true,`
`),`

The custom taxonomy is NOT registered for the post that's being edited. It's a custom taxonomy that applies only to a custom

[2016-08-16 09:23] alicam commented on #632
My more general question is: how do I debug this?!

[2016-08-17 02:58] alicam opened #633 ""Insert Post Element" button beside "Add Media" button?"
I have added a button beside the standard WP "Add Media" button (on the admin edit page, der). I'd like it to do exactly the same thing (open the media modal), but I'd like it to automatically switch to the "Insert Post Element"/Shortcake screen.

I assume that means "hooking" into the backbone routing somehow?? I have really no clue and am hoping someone has done it.

Yes, this is kind of a vanit

[2016-08-18 09:51] kosmiq opened #634 "textarea with encode => true and percent sign"
So I've added a few textareas through the plugin and all is fine and working great. Until someone uses the percent sign (%) in the textarea.

We're using then encode parameter for the textarea since that's was the only option to get the output we wanted, but it wreaks havoc if someone uses the % sign. Or rather it becomes unsaveable.

I tried pulling the latest files from GitHub as of 2016-08-18 1

[2016-08-18 18:57] mehigh commented on #616
@marcin-lawrowski
This is now merged into core and you can hook into either `shortcode-ui.render_new` for when the layer shows up anew (after interacting with insert new post element) or `shortcode-ui.render_edit` when the layer shows up when editing an already existing element from page.
I believe this issue can be closed now.

[2016-08-19 11:33] ajambrovic opened #635 "listItemImage doesn't work for full image path"
The render function in insertShortcodeListItem creates an HTML element if a dashicon is used, but doesn't do that for full image path - the path gets outputted.

Processing:

[code]

Template:

[code]

Proposed solution:

[code]

[2016-08-19 11:45] mehigh commented on #236
@danielbachhuber
I've just published a plug-in which allows you to add this to your own project.
The readme is self-explanatory on how to make use of it:
https://github.com/xwp/wp-shortcode-ui-richtext

This is a quite basic implementation using SummerNote as a rich text editor, but can be improved / contributed to if someone else has a stronger TinyMCE affinity.

This makes use of the latest even

[2016-08-22 05:10] westonruter commented on #585
I've just opened an issue on the JS Widgets project (a next-generation of widgets in core) to propose that any JS Widget defined be automatically made available as a Post Element: https://github.com/xwp/wp-js-widgets/issues/11

[2016-08-22 15:10] eBestPL opened #636 "Shortcakes act as drag&drop when clicked on the new WP/TinyMCE"
Hi there,
Just noticed a bug after update to the latest Wordpress. I have also updated my TinyMCE Advanced plugin (tried downgrades, didn't help). Shortcake 0.6.2.

When you click on a shortcake and want to edit, it doesn't work. Instead the whole shortcake acts like drag&drop, but you only clicked once.

It happens on every browser.

The only workaround I figured out is to right click on it and t

[2016-08-22 16:55] eBestPL commented on #636
It was a conflict with another plugin I have just fixed. This topic can be deleted.

Sorry.

[2016-08-29 14:56] rogercoathup commented on #584
We are seeing the problem if we have two TinyMCE wysiwyg content areas on the page, e.g. the main post editing area, and a custom meta box with a wysiwyg field.

If we update a shortcode in the custom meta box, the updated shortcode gets added to the main editing area, and doesn't get updated in the meta box wysiwyg field.

Note: it only happens when the shortcode is updated; it doesn't occur when

[2016-08-29 15:19] rogercoathup commented on #584
Following up -- can no longer replicate the problem on a post page.  Occurred once, but no more.

However, occurs all the time if I use 2 wysiwyg (TinyMCE) editors on a taxonomy term page.  Shortcode that's updated in the lower editor, gets added to the top editor.

SOLUTION -- it appears to work correctly if I first click in the appropriate editor, then choose the edit option on the shortcode.  I

[2016-08-30 11:03] zugrina commented on #584
Same here, occurs all the time if I use multiple wysiwyg (TinyMCE) editors

[2016-08-31 00:35] goldenapples commented on #584
@rogercoathup @zugrina - I think the issue you're reporting is a different one than what this ticket was  initially about, but I'm not clear enough on how to reproduce. How are you registering these editors?

One thing to note about using Shortcake on term pages is that it's not actually supported at all currently - see https://github.com/wp-shortcake/shortcake/issues/599 for a bit more context, b

[2016-09-05 19:01] 1ucay commented on #626
Nice, It would be possible to extend for tinymce editor? I would like to create accordion effect with
`<h1>Title</h1>`
`<div class="content">Some text</div>
`

[2016-09-05 19:02] 1ucay commented on #626
Also create i18n language for JS over php textdomain. Thx

[2016-09-05 21:29] 1ucay commented on #626
My version...
https://uloz.to/!j2sChVpfL/shortcode-ui-rar

Also there are fix
in file class-field-repeater.php
you shoud in value="{{=it.content || ''}}", otherwise on start repeater is value undefined

in shortcode-ui.js

[code]

[2016-09-08 21:11] szepeviktor opened #637 ""Insert/edit link" field"
Could we have an _Insert/edit link_ field type which makes it easy to select posts/pages.

![insert-link-modal](https://cloud.githubusercontent.com/assets/952007/18367015/694a6a7e-7619-11e6-808c-4b7719764f2d.jpg)

It would return the URL.

[2016-09-08 21:12] szepeviktor commented on #637
Or just use `post_select`?

[2016-09-11 21:24] StaggerLeee commented on #629
Seems as it is stalled. First enthusiasm went out. Maybe they cannot agree with core people about future of this plugin.

[2016-09-11 21:35] khromov commented on #629
From talking to @danielbachhuber I get the impression this plugin is in limbo at least until:
- There is a unified field API so that Shortcake won't have to create its own (This is being worked on by Weston Ruter amongst others)
- The new [shortcode roadmap](https://make.wordpress.org/core/2015/10/08/shortcode-roadmap-draft-three/) starts progressing (It seems to have stalled)
- The issues on whet

[2016-09-11 21:48] StaggerLeee commented on #629
Dont know all responsible developers. But sometimes it helps just to write one comment here or in forum and say hallo to people. It has not to be something tehnically, time demanding, not even support comment.

[2016-09-12 12:16] xyulex opened #638 "¿How do I edit a registered shortcode?"
I have registered some shortcodes, but let's say I want to edit the content.
Is there anyhting particular I have to do? When I select the rendered shortcode, it just says there isn't any attribute to be configured.
Thanks.

[2016-09-13 02:34] nextgenthemes commented on #629
Thats really a bummer, I am disappointed that nobody seem to take care to at least update it to the latest version from here, alpha or not, stalled or not - having a plugin listed and promoted as "future testing" I was expecting more, again especially because there is actually new and improved code here that is not shared with most users.

I know what the issue was: Following #554 I think, I have

[2016-09-13 03:35] zebulonj commented on #629
@nextgenthemes Thanks for tagging me into this conversation. I haven't had any involvement with this plugin in almost two years. Give me a few days, and I'll see what I can learn about its status.

[2016-09-13 07:06] xyulex commented on #638
I finally found it.

[2016-09-13 07:06] #638 closed, assigned to nobody

[2016-09-13 09:06] mattheu commented on #629
Yes we're still using this actively, and I do have some plans but other things have gotten in the way.

I recommend using the version from github for now, but should possibly look at doing another release and updating the version on .org

[2016-09-13 14:14] goldenapples commented on #629
Should we seet up a chat to discuss what needs to be finalized to tag and release version 0.7.0, and perhaps some plans for the future?

[2016-09-16 03:32] hieu-luu-niteco commented on #584
I used plugin ACF to create a wysiwyg (TinyMCE) field.  When I  have more than 1 shortcode in my custom field,  the updating cause error.  Instead of updating the  shortcode, it created a new shortcode.

[2016-09-16 07:23] zugrina commented on #584
I can confirm that I have the same problem cc @hieu-luu-niteco

[2016-09-16 07:59] rogercoathup commented on #584
@goldenapples I bypassed the check (as suggested in referenced thread), to allow it to function on taxonomy term pages

[2016-09-21 02:04] alicam commented on #632
!!!BUMP!!!

[2016-09-21 02:21] alicam commented on #632
OK RESOLVED.

It looks like wpackagist/composer is pulling down an INCOMPLETE version of this plugin. They're not synced properly.

For example, after a composer update/check, the file `inc/fields/class-field-term-select.php` is not there :(

Not sure how to fix that.

A

[2016-09-28 14:06] rogercoathup commented on #634
We are seeing the same problem

[2016-09-28 15:50] goldenapples commented on #635
Apologies for missing this issue. What I've always done is to pass a full image tag for `listItemImage` - see how it's done in Shortcake Bakery, for example: https://github.com/wp-shortcake/shortcake-bakery/blob/d25d6d3636f7fe5ce9127aa7fd35be85626ebf7a/inc/shortcodes/class-googledocs.php#L12

If you pass anything other than a string which begins with `dashicons-`, it'll just be used as-is for the

[2016-09-29 10:28] ajambrovic commented on #635
Hi - after reading your and my comment, I realise I could have came to the same conclusion alone - I agree, the way you do it is much more flexible, and the change by Perturbatio reflects what I wanted to suggest, so this is resolved - thanks!

[2016-09-29 10:28] #635 closed, assigned to nobody

[2016-10-03 04:40] sc0ttkclark commented on #634
Same

[2016-10-03 05:22] sc0ttkclark commented on #634
I cannot think of another solution here, I'm 100% on board with the solution here and will create a PR for it.

[2016-10-03 15:48] #634 closed, assigned to nobody

[2016-10-06 00:15] StaggerLeee opened #645 "ACF Wysiwyg Editor fields takes repeated Shortcake values"
Will try to explain it best I can.
- It is some problem between ACF and Shortcode UI.
- ACF is PRO version, latest.
- Shortcode is updated from Github.
- One ACF Group.
- Several ACF fields attached to Posts, among them two ACF Wysiwyg Editor fields.
- Editing old Shortcake shortcode doesnt change anything in original shortcode. But it adds (for each editing one new) shortcodes in ACF editor field

[2016-10-06 09:53] StaggerLeee commented on #584
Dont know why but I have feeling those two are connected:
https://github.com/wp-shortcake/shortcake/issues/645

Sorry if I am mistaken, still very beginner for Shortcake UI.

[2016-10-06 10:21] StaggerLeee commented on #584
Yes, I am afraid it is the same nasty problem. But now even in Firefox.

When I added some text before shortcode it started to work right each time when updating. And ACF editor field is not populating anymore with updates (it makes one new shortcode for each update).

[2016-10-06 10:23] StaggerLeee commented on #645
It is same behaviour as here:
https://github.com/wp-shortcake/shortcake/issues/584

This time it makes a copy of shortcode in ACF editor field on each update.
- No JS errors in console.
- Same problem in Chrome and Firefox.
- Deactivated all plugins except ACF, to exclude them.
- Tried with default theme.

[2016-10-07 07:06] ghost commented on #584
Experiencing similar problem. Two wysiwyg custom fields, if the field with the shortcode doesn't have focus, the shortcode gets added to the other when editing. This still works on 4.5 though, the issue seems to only be present after upgrading to 4.6.

[2016-10-07 07:53] StaggerLeee commented on #584
Does anyone have/know some handy snippet adding default content in editor ?
It can be solved by adding horizontal line at the top of editor. Can be removed from frontend with one line of CSS code, not so big deal.

I tried "default_content" filter and it works but in some strange and unpredictable way. Sometimes it deletes all own content in editor.

I mean it is not solultion but would give devel

[2016-10-07 14:25] StaggerLeee commented on #584
Yes @MarcelLouwrens you are right. You noticed it right. It is about mouse focus. Focus only on shortcode is not enough. If any place inside editor is clicked first you can edit shortcode well.

[2016-10-09 22:24] westonruter opened #646 "Update Select2 from 3.5.2 to 4.0.3 (or add compat)"
The Customize Posts plugin includes Select2 4.0.3 and it seems that Shortcake is calling a Select2 method that no longer available: https://wordpress.org/support/topic/conflict-with-shortcake-ui/

So can Select2 be upgraded in Shortcake? Or can Shortcake add compatibility for v4?

[2016-10-15 16:26] ameshkin opened #647 "Need Shortcode for Gallery, multiple ID's and images in one field"
Someone had a pull request for a feature that basically enabled a gallery. I tried using that code but it was too outdated and out of sync with master.

I'm thinking of forking and adding this unless someone else has a solution.

[2016-10-17 16:33] goldenapples commented on #647
I'd like to see this in a version 0.7.0 since the code is available and we need to get a new release out soon anyways.

[2016-10-17 16:38] goldenapples commented on #637
I'm curious what the use case is here. A `post_select` field would allow you to choose a post to link to and return the ID. Is there a case where returning the post URL would be better than the ID? It seems like in any case I can think of, the post ID would give you better flexibility.

[2016-10-17 16:39] goldenapples commented on #636
Thanks for reporting and for troubleshooting!

[2016-10-17 16:39] #636 closed, assigned to nobody

[2016-10-17 16:40] goldenapples commented on #633
You can see example code in https://github.com/wp-shortcake/shortcake/pull/551. I think we'll likely expose something like this in the next plugin version, though there's some discussion yet to have on how and where.

[2016-10-17 16:41] goldenapples commented on #632
Ah, probably because we haven't released a new plugin version in a long time. We need to wrap up a couple issues to get 0.7.0 out the door, which includes the term_select field and several other enhancements.

[2016-10-17 16:42] #632 closed, assigned to nobody

[2016-10-17 20:57] szepeviktor commented on #637
_Insert/edit link_ is the fastest way to insert a post **or page** URL.

Although I agree this is redundant which I read _one more feature_.

[2016-10-17 21:01] szepeviktor commented on #637
_Insert/edit link_ sets URL, anchor text and target in one go.

[2016-10-20 17:56] davidvexel commented on #647
@goldenapples do you have an approximate date for next stable release, I'm looking forward to use the new features!

[2016-10-26 10:37] nextgenthemes commented on #629
I tried, updated the "10 months outdated" above to 12 Months now.

[2016-10-26 14:41] Goncalom commented on #616
Hi, I've noticed that this feature is not yet present on the stable, when can we expect this to be pushed to a new version, so it can be available on the wordpress website? Thanks

[2016-10-26 16:10] petitphp opened #648 "term_select field is not compatible with WP < 4.5"
The term_select field use `get_terms( $args )` to retrieve the results for the AJAX request. This break WordPress install before 4.5 where the first argument was a `string|array` of taxonomies's name.

[2016-10-27 04:31] mehigh commented on #616
Indeed it's been more than a year since the Wordpress SVN had been updated with the latest developments in this GitHub. It's a matter worth bumping up.

[2016-10-27 19:35] goldenapples commented on #629
@nextgenthemes We're meeting over Slack to discuss what final tickets should be closed before releasing 0.7.0. If you're interested and able to attend, we'll be in the #feature-shortcode channel of Making WordPress Slack, Monday 2016-10-31 at 16:00 GMT.

[2016-11-03 20:33] #648 closed, assigned to nobody

[2016-11-04 19:24] goldenapples commented on #647
#508, enabling a gallery-type field, just needs to be refreshed. In the last discussion, @mattheu was going to take that on. We're targeting next week - week of 11/7 - for the next release, and that PR is scheduled for inclusion. I'll leave this issue open so that we can attach the PR to an issue for tracking.

[2016-11-04 20:04] goldenapples commented on #646
Seems like the main thing we'll need to rewrite for this to work on Select2 4.0.3 is the `initSelection` method used to set the initial data values of the attribute fields which are rendered with select2 elements.

Since that method has been [removed in the latest Select2](https://select2.github.io/announcements-4.0.html#removed-initselection), we'll need to override the `current` method of the da

[2016-11-04 21:23] mattheu commented on #647
Yeah I'm going to do this tomorrow :)

[2016-11-10 02:23] tung-nt-niteco commented on #584
Hi, did we have the fix for this "focus" problem yet?

[2016-11-10 16:48] goldenapples commented on #633
Resolved via #551

[2016-11-10 16:48] #633 closed, assigned to nobody

[2016-11-10 16:49] goldenapples commented on #599
Moving to a future release, because this will require some thought to get the right capability check to use.

[2016-11-10 16:50] goldenapples commented on #620
Resolved by #591.

[2016-11-10 16:50] #620 closed, assigned to mattheu

[2016-11-15 16:53] goldenapples commented on #647
This is resolved with #508, which was just merged and will be available in the next stable release.

[2016-11-15 16:53] #647 closed, assigned to nobody

[2016-11-15 17:24] goldenapples commented on #616
Resolved in #628, which will be in the next stable.

[2016-11-15 17:24] #616 closed, assigned to nobody

[2016-11-15 17:25] goldenapples commented on #383
Closing this issue. A test spec for the basic edit-attribute-field was merged in #535, and we've been building out test coverage in other areas.

[2016-11-15 17:25] #383 closed, assigned to goldenapples

[2016-11-15 17:31] goldenapples commented on #281
Thanks to everyone who weighed in on the discussion here. We should revisit this discussion in the context of the way that UI concepts in core have evolved.

Shortcake is still in the Media Library, but we added a new way of opening the UI in #551 with the "Add Post Element" buttons. I'm closing this issue for now.

[2016-11-15 17:31] #281 closed, assigned to nobody

[2016-11-16 18:24] goldenapples commented on #283
Done in #508.

[2016-11-16 18:24] #283 closed, assigned to nobody

[2016-11-17 15:53] theimbender opened #658 "[object Object] showing up as radio label"
Using latest master 0ac7ac1f6cbb086748aa287ac7c5f31a02f9f980, the labels for radio attributes are showing up as [object Object]

[2016-11-18 01:24] goldenapples commented on #658
Looks like this field wasn't updated along the select fields as part of #591. Should be an easy fix that we can get in before releasing this version. Thanks for reporting!

[2016-11-18 06:48] #658 closed, assigned to nobody

[2016-11-19 00:38] goldenapples commented on #646
Fixed in latest version.

[2016-11-19 00:38] #646 closed, assigned to goldenapples

[2016-11-19 01:04] goldenapples commented on #577
I remember seeing this issue in the past, but am not seeing it anymore.

I tried to reproduce by:
- opening a shortcode with a "color" attribute
- selecting a color using the color picker, but not closing the iris colorpicker
- clicking "Insert" (or "Update") for a shortcode which has already been sent to the editor

I don't see any error messages in the console. Can someone confirm if this is sti

[2016-11-19 01:09] goldenapples commented on #629
I'm going to close this issue -- we have a new release out the door, and have made at least some progress on gardening the issue backlog and maintaining the code.

There's certainly still a discussion to be had about the future of the plugin, but I don't think a github ticket is going to be the best place for it. It would be good to begin more regular meetings to plan out future development and pl

[2016-11-19 01:09] #629 closed, assigned to nobody

[2016-11-19 08:56] StaggerLeee commented on #645
Seems as this is solved with latest 0.7 version. Will keep an eye on it and report back if it happens again.

[2016-11-19 08:56] #645 closed, assigned to nobody

[2016-11-19 15:34] nextgenthemes commented on #629
@goldenapples Sounds not very good. Why would this Ticket not be a good place to inform people about decisions you still did not make?

Finally the update at least! Please don't do this bullshit useless release policy again. You probably have created the a record of the longest not updated **(1 YEAR+)** "feature testing" "beta" plugin ever. And the worst part there was actually new and fixed code

[2016-11-19 16:37] StaggerLeee commented on #629
It is getting complicated. Github code v0.7.0 seems same as WP plugin directory code, just compared. Difference is some Github specific folders and files, seems as, nothing important for plugin.

I am more concerned dev.php plugin is constantly changing, evolving, and now half-finished. It has some image attachment code but only half of it, doesnt show anything in modal window.

[2016-11-19 16:52] StaggerLeee opened #660 "Shortcake clashes with Advanced Custom Fields (ACF) plugin - Select 2 library"
I pasted all code from **dev.php** and ShortcakeDev shortcode gives blank modal window.
JS error is below.

Not so small problem.

[code]

[2016-11-20 12:36] StaggerLeee commented on #626
How do you use it ?

[2016-11-20 20:39] StaggerLeee commented on #660
Exchange private mails developers between and find solution. Both plugins are very important.

https://support.advancedcustomfields.com/forums/topic/select2-conflict-with-awesome-support/#post-45959

Some temporary solution:

[code]

[2016-11-20 20:54] StaggerLeee commented on #660
Better to keep it on post edit screen only for safety. Wordpress SEO plugin use this script, possibly many more.

[code]

[2016-11-21 22:12] goldenapples commented on #660
Will the ACF fields actually work with select2 version 4? From the work I had to do to update this plugin to work with the newest version of Select2, it seems unlikely that anything beyond a very basic implementation of Select2 which was originally written for an older version of the library will work with v4.

Since the library is not bundled in core, there's not much chance of a version being st

[2016-11-22 08:59] StaggerLeee commented on #660
I sent them mail and they will take a look on it. On forum they say sorting is gone, but as I can see sorting is still there with 4.x versions. Did hard cache reset several times, different ways.
Yes, it is latest PRO version.

[2016-11-22 22:20] goldenapples commented on #660
I spent a little bit of time looking into whether it would be feasible to build the version of select2 we're requiring into the browserify bundle, to encapsulate it and avoid conflicts with plugins which require alternate versions.

However, I didn't get anywhere with this approach. Just owing to the way that jquery plugins are architected (attached as functions to the global `jQuery` object's pro

[2016-11-22 22:40] StaggerLeee commented on #660
Took me few minutes to find solution and fix it. Seems as ACF select2 fields are no different than with version 3.x, So from this side problem is trivial.

But it is not trivial when all users need to know how to add snippet to functions.php. On other side everyone doing Shortcake is for sure advanced enough to add that snippet.

But all this is workaround, and workaround for huge user base. Maybe

[2016-11-25 12:38] phh opened #661 "render_shortcode_for_preview when post_id is null"
Hi there,

When using Gravityforms and adding a post element to the confirmation editor I'm getting a "Something's rotten in the state of Denmark" error.

My current fix is to filter into map_meta_cap and allow this if $post_id is null.

I guess there should either be a check if it's the WP editor in the edit view or allow the shortcode preview if no post_id is sent.

I've just updated to the late

[2016-11-25 17:52] goldenapples commented on #661
Yeah, I've run across that same issue before - see #599.

It's not going to be easy to anticipate all the possible conditions where a user might want to use shortcode previews in editors and define the right capability checks to handle them inside Shortcake. But maybe we could have a filter around the check for whether the user is allowed to preview, and let that be extended elsewhere.

Maybe if w

[2016-11-27 00:14] phh commented on #661
I think a filter would work. And having the current_screen in the filter it would give us alot of flexibility.

But I still think it's sad that the shortcode-ui plugin will not just work "out-of-the-box" with some plugins unless they add the capability check filter.

What is the exact reason for this capability check? It's not like the user is able to insert data from inside this ajax call as it j

[2016-11-28 13:44] yanknudtskov opened #662 "Issue with select2"
The issue from https://github.com/wp-shortcake/shortcake/issues/646 still persists in version 0.7.0

[2016-11-28 21:19] kshaner commented on #660
ACF added a new setting in version 5.5.0 to select (no pun intended) which version of select2 to enqueue.

[code]

[2016-11-28 21:49] #660 closed, assigned to nobody

[2016-11-28 22:18] whyisjake opened #663 "Trailing slash is added to arg list."
Example here:

`[wiredtired wired="Pancetta cupim prosciutto" tired="Meatloaf corned beef kevin porchetta alcatra tongue"/]`

[2016-11-28 22:29] goldenapples commented on #663
Do you see that as a bug?

While it's not required by the core shortcode regex, this was discussed back in #595, and it seemed that the general consensus was that we wanted to use the self-closing shortcode syntax for readability and to avoid potential errors.

[2016-11-28 22:44] whyisjake commented on #663
From a purely optics standpoint, yes. Especially when I am not expecting it on a shortcode that I use often. Might be good to have that disabled by default, or add a param to prevent it.

Might also make sense to add a space after the last argument. (That's totally debatable tho...)

[code]

[2016-11-28 23:20] goldenapples commented on #663
I'm all for that, and that's just a simple cosmetic change for readability.

Whether or not to include the self-closing slash seems like just a matter of style, and I guess I have no strong preference either way. I'd support a PR that made it configurable with a filter or an option, but I don't have a good idea how best to define it.

I'd be curious to get others' opinions here - anyone have stron

[2016-11-29 00:43] MickeyKay commented on #663
@whyisjake are there any functional implications to this change? I'm wondering if there is any case in which this might break things for folks. I realize this syntax is the condoned syntax for self-closing shortcodes, however I do wonder if there are other implications that need to be considered.

@goldenapples On a side note, I'm noticing that the slash seems to be added without a preceding white

[2016-11-29 10:48] mladjom commented on #662
I was able to solve this by adding
<pre>$min = '.full'; </pre>
in class-shortcode-ui.php on line 200

[2016-11-29 10:55] goldenapples commented on #662
I noticed that... it looks like the only difference between the version of select2 in Customize Posts and here is that Customize Posts is loading Select2.full.js, which includes some back compat shims for methods which were removed from the 3.x branch of select2.

If enqueing that same file here is enough to make the two plugins work well together, that seems like a good fix to make.

[2016-11-29 12:00] mladjom commented on #662
It seems that plugin is locking WooCoomerce products edit screen.
[https://wordpress.org/support/topic/version-0-7-0-interferes-with-woocommerce-products](https://wordpress.org/support/topic/version-0-7-0-interferes-with-woocommerce-products)
Even in WooCommerce settings wherever select2 is used select fields are hidden.

[2016-11-29 12:05] mladjom commented on #662
I created pull request which at least temporary solves this  #664

[2016-11-29 15:09] yanknudtskov commented on #662
awesome @mladjom :-)

[2016-11-29 23:20] nickmarti opened #665 "Embed Video (ARVE) and Add Post Element buttons do not work"
After the last update, Embed Video (ARVE) button (from ARVE Advanced Responsive Video Embedder) does not work in editor mode of my WordPress theme. Please provide me with the link of your plugin’s Version 0.7.0-alpha. I had no problems with that version.

Thank you.

[2016-11-30 00:01] goldenapples commented on #665
Question - what version of ARVE are you trying it with? And do you have any other plugins installed?

I just installed Shortcake 0.7.0 and ARVE 7.9.20 on a fresh WordPress install with twentysixteen theme, and I don't see any problems with the two together:

![arve_shortcake](https://cloud.githubusercontent.com/assets/665992/20734245/15abcbc8-b64d-11e6-83ab-0cdff4d1ef44.gif)

[2016-11-30 00:23] goldenapples commented on #661
I think the idea here is just to mirror the capability required to preview a draft post, as a shortcode preview is essentially part of a draft post preview. A user who can't edit a draft post will get a 404 when trying to preview that draft; the capability check just makes that same behavior explicit for the shortcode preview.

One could easily argue that this isn't necessary, because to preview a

[2016-11-30 08:58] phh commented on #661
Fair point. Would it not be better if shortcode-ui were only injected in the add/edit editor screens instead of in all editors? The `shortcode_ui_allow_preview_capability` would do the trick for now but this needs to be ticked for all screens.

The shortcode-ui could then be an option to add to your editor (and manage the capabilities yourself) instead of adding it be default and it not working ou

[2016-11-30 09:05] nickmarti commented on #665
Hi Nathaniel,

Thank you for your prompt reply. Apparently, the latest version of
Shortcake does collide with some of the other plugins I have installed (the
list below), not necessarily with ARVE 7.9.2. Even if I find the plugin in
question I probably don't want to uninstall it. As I said, Shortcake's
version 0.7.0-alpha worked well with my already installed plugins.

   - ARVE Advanced Responsiv

[2016-11-30 16:49] goldenapples commented on #665
OK. I pushed up a tag with the plugin as it was before the update to the select2 library: https://github.com/wp-shortcake/shortcake/releases/tag/v0.7.0-pre

Does that work with your existing plugins?

[2016-11-30 17:12] nickmarti commented on #665
I am not sure because the last version of Shortcake plugin that worked on
my site was titled "0.7.0-alpha" [Shortcake (Shortcode UI) Version
0.7.0-alpha]. Nicolas Jonas attached the download link of that version to
previous version of his ARVE plugin. However, this version of Shortcake
plugin is titled "v0.7.0-pre".

On Wed, Nov 30, 2016 at 5:49 PM, Nathaniel Taintor <notifications@github.com

[2016-11-30 17:23] isGabe commented on #577
@goldenapples I could not reproduce this with the same steps.

Unrelated note: I was playing around with the color picker and the hex color came out with the `#` URL encoded to `%23`, where `#444444` would output as `%23444444`.

`urldecode()` works to get it back to normal hex notation, but wondering if there's a better way to handle that.

[2016-11-30 19:19] goldenapples commented on #665
I'd try this one anyways. The version number in the plugin has been 0.7.0-alpha for a long time; ever since development on the 0.7.0 release began about a year ago. This is a fairly recent snapshot, from right before the updates to the select2 library - which seems to be the change in 0.7.0 which breaks a lot of compatibility - were merged.

[2016-11-30 19:23] goldenapples commented on #661
That's probably a good idea; since the previews don't work on other screens anyways, it might be a good idea not to enqueue the scripts at all on those other pages unless specifically added by another filter - and then that filter would be responsible for also defining the capability required to render the preview.

I'm thinking this is a breaking change for some users who are using shortcake UI o

[2016-11-30 20:19] nextgenthemes commented on #665
Hi, author of ARVE here. I just want to note that the version I marked as 0.7.0-alpha was just a snapshot or some at that point latest Github version of Shortcake UI because I was waiting for a update that was not coming.

I [re-uploaded this](http://nextgenthemes.com/shortcode-ui-0.7.0-alpha.zip) from a backup to my site now, I thought its no longer needed. I hope this helps.

I use this code to

[2016-11-30 20:42] nickmarti commented on #665
Wow! Thank you!

On Wed, Nov 30, 2016 at 9:19 PM, nextgenthemes <notifications@github.com>
wrote:

[2016-11-30 20:56] nickmarti commented on #665
Thanks for clarification. I just want to inform you that the author of ARVE
re-uploaded the version he marked as 0.7.0-alpha, which was the latest
Github version of Shortcake at that point.

On Wed, Nov 30, 2016 at 8:19 PM, Nathaniel Taintor <notifications@github.com

[2016-11-30 21:10] phh commented on #661
Maybe a new filter for adding shortcode-ui's to wp-editors with capability callback?

[2016-11-30 21:17] goldenapples commented on #665
Thanks @nextgenthemes for uploading that.

I'll mark an action item to search through the plugin repository and find any plugins which are using older versions of select2. It might be good to maintain a list of potential conflicts in the wiki here. At the very least, it'd be interesting to know how widespread the potential for conflicts is.

[2016-11-30 21:17] #665 closed, assigned to nobody

[2016-11-30 21:34] goldenapples commented on #577
Was that field registered with "encode => true"? That's the only way I can think of that would happen.

Now that I look through it, it looks like the example color field in the dev plugin is [set as url-encoded](https://github.com/wp-shortcake/shortcake/blob/master/dev.php#L216)... It'd be good to change that example, since it's not necessary to encode a hex value.

[2016-11-30 21:40] isGabe commented on #577
It's funny I saw that `"encode => true"` and changed it to `false` and it did not seem to affect the output. But going back to it just now, I was able to toggle back and forth between encoded and unencoded with that setting. Go figure.

Agree that the example there should be set to `"encode => false"` to avoid confusing people like me :)

I can open up a wee PR for that.

[2016-12-01 09:57] rommeled commented on #584
We use the plugin on more than 30 websites and can confirm there is still the issue with "editing" shortcodes in chrome would insert the shortcode in another edtitor on the admin post edit-screen. We noticed that it will always take the last of the editors available.

[2016-12-01 10:01] tung-nt-niteco commented on #584
@rommeled Yes, it will always take the editor which has the focus. I am desperately looking forward to the fix as well.

[2016-12-01 10:03] rommeled commented on #584
@tung-nt-niteco Here there was no foucs in the editor area which was inserted into. Actually we don't touch anything else than the specific shortcode in the first, of the three, editor areas and still it inserts into the last editor area available on the page.

[2016-12-01 10:05] tung-nt-niteco commented on #584
Ah ok, that makes sense. Yes, if there is no focus, it will take the last editor.

[2016-12-01 10:18] StaggerLeee commented on #584
I dont have this problem anymore, dont know why. Updated ACF to latest 5.5 v. Dont know if it has something to do with problem.

[2016-12-01 18:24] goldenapples commented on #577
Closing this issue, as it seems to be fixed from several reports on this thread. Feel free to reopen if anyone can reproduce with steps on a recent version of core and this plugin.

[2016-12-01 18:24] #577 closed, assigned to nobody

[2016-12-01 18:25] goldenapples commented on #617
Closing, resolved by #619.

[2016-12-01 18:25] #617 closed, assigned to nobody

[2016-12-01 18:56] MickeyKay opened #668 "Initial value not inserted in shortcode for select fields"
Summary: when initially saving inserting a shortcake component, if no fields are changed, none of them are actually inserted into the shortcode. This is an issue since it makes it problematic to save default values.

Screencast example:
![dykibkq3ar](https://cloud.githubusercontent.com/assets/3189678/20807577/64700c5c-b7b4-11e6-8b71-4c1183a558f5.gif)

Doesn't seem like a huge deal, however this ca

[2016-12-01 19:17] goldenapples commented on #668
Hmm. The obvious way around this from the user side is to explicitly set the default value. Depending on the first option in the select field to be the default is less than ideal - among other reasons since there are some back-compatability cases where the order of the elements in the select field are undefined (see #620).

Functionally, it would seem that a select field with no value set shouldn'

[2016-12-01 19:55] MickeyKay commented on #668
Right, that's what we've done in the past, however aside from backwards-compatibility issues (which are understandable dealbreakers for changing this functionality), this requires more work on the developers part since now we need to specify value in two places (both the select list, as well as a default somewhere, whether as the `value` att, or in some behind-the-scenes functionality. Anyhow, I g

[2016-12-03 12:46] raphaelsramos opened #670 "Problem with ACF Pro on post_select with multiple => true"
After update from 0.6.2 to 0.7.0, all my shortcodes with [ 'type' => 'post_select', 'multiple' => true ] stop working!!!

I've tried removed the 'multiple' => true, but it still dont' work.

[2016-12-05 16:05] Nuranto opened #671 "Bug with ACF (pro)"
When editing an existing shortcode using UI in an ACF wysiwyg field, the shortcode is not updated. Instead, a new shortcode with the new values is inserted in post content field.
(Which is hidden by ACF in our configuration).
But the bug does not occurs systematically. It looks like if we click outside of the rendered shortcode, then click again on it, and edit, it works.

[2016-12-05 16:08] Nuranto commented on #671
Could be related to #584

[2016-12-05 16:46] goldenapples commented on #670
We've had a lot of other people note this issue. It's a conflict between the version of Select2 which we're using here (4.0) and the older version which ACF Pro uses by default.

A solution [noted here](https://github.com/wp-shortcake/shortcake/issues/660#issuecomment-263397486) is to use the `acf/settings/select2_version` filter to ensure that ACF loads version 4 of select2.

[2016-12-06 14:35] Drivingralle opened #672 "Load language pack from over plugin translations"
Hey!

The plugin loads translations stored inside the plugin itself. Due to the age of the plugin I guess it's this way because language packs were not working back then.

Now is 2016 and language packs are working fine and some of the translations on wp.org are more or less done but can't be used.

I would love to see that the language packs are used over the translations locked inside the repo.

[2016-12-07 22:26] dartiss opened #674 "Can non-parameter wrappers be used?"
I have a number of plugins that have shortcodes that have no parameters. Instead they wrap around, say, some text to apply a change to it. However, I can't see a way to achieve this as Shortcake only inserts the opening shortcode and doesn't allow for highlighting of content either (where it would then, ideally, put start and end shortcodes around the selected content).

I know it doesn't seem to

[2016-12-09 20:19] rebekah-sofo commented on #459
I'm having the exact same issue with this callback functionality. My test JS file is set up exactly the same way, with console logging for testing purposes, and it is being loaded successfully, but the callback function is just not being triggered. I even changed then copied and pasted the attribute name for the field into the JS file, and still nothing.

Is there a working example for the callbac

[2016-12-11 00:57] westonruter commented on #585
I see this as being a key focus area for 2017.

[2016-12-11 18:26] MickeyKay commented on #585
Love it! This would be fantastic.

[2016-12-13 00:42] grappler commented on #475
I suppose this could be closed as it is fixed https://github.com/wp-shortcake/shortcake/pull/650

[2016-12-13 10:47] #475 closed, assigned to nobody

[2016-12-13 21:43] goldenapples commented on #475
I'd like to merge #666 and release a new version before calling this "done", though. Since loading the "full" version of select2 doesn't change anything here, but does include the backcompat methods that some other plugins using select2 depend on, I'd like to start loading that ratehr than the basic script which we're currently loading.

[2016-12-14 00:31] goldenapples commented on #459
Here's a couple examples which I use that work:

In Shortcake Bakery, there's a js hook which listens to changes on the [googledocs.url field](https://github.com/wp-shortcake/shortcake-bakery/blob/master/assets/js/src/shortcake-bakery-admin.js#L118-L150) and shows different options depending on what type of document the URL is for.

In Protected Embeds, there's a js hook that fires when the shortc

[2016-12-16 18:11] astratagem commented on #359
Yes this makes checkboxes useless in some cases where we need to check for a `false` value. It's easy to work around with a select field and defining `true` and `false` keys but checkboxes are better suited for boolean values.

[2016-12-16 22:12] #668 closed, assigned to nobody

[2016-12-18 14:38] lkraav commented on #129
Just watched @khromov's video introduction. Got to wondering where this particular issue is at 8 months later from last comment?

[2016-12-19 21:09] guillaumemolter opened #677 "Add Post Element button showing up in bbPress"
The new "Add Post Element" button is also showing up in instances of the tiny/compact WYSIWYG editor in bbPress (and most likely in comments, etc..). The button doesn't work but is here. I should also add that I am displaying the Media Library on purpose.

I've desperately tried to remove it using `remove_action( 'media_buttons', array( 'Shortcode_UI', 'action_media_buttons' ));` using different h

[2016-12-23 20:17] 0aveRyan opened #678 "Display registered shortcode label in modal in add/edit view"
We've received a few support tickets now requesting to display the Shortcode `label` and/or `listItemImage` in a small header within the modal on the Add/Edit shortcode view near where the "← Back to list" link is.

i.e.
<img width="339" alt="screen shot 2016-12-23 at 3 15 05 pm" src="https://cloud.githubusercontent.com/assets/9565066/21461755/abf6beac-c922-11e6-8c68-ff17ef7c1729.png">

We have 20

[2016-12-26 16:44] rahulsprajapati opened #679 "Duplicate wp.media popup dialog markup when add/edit shortcode."
When we open wp.media model on `.shortcake-add-post-element` button click event or edit the shortcode event we are creating new media model every time. We should either use the existing model if its exist or we should remove existing model.
Because currently it is adding duplicate markup, like we have one element with id '**inner_content**' for shortcode content which we can't access by id if we h

[2016-12-26 16:46] rahulsprajapati commented on #679
@goldenapples @mattheu
Please give your thought about this. If you feel this is right way I can raise the PR for this.

[2016-12-27 18:30] goldenapples commented on #679
I think would be a very good fix to get in here.

I think I prefer the second option you're proposing in each case - if we create a new media frame rather than reusing the existing one, there's still a few nodes of extra markup that don't get cleaned up on the page. It looks like the markup gets removed from the modal, which solves the main problem you were addressing, but the `.media-modal` div i

[2016-12-27 21:19] rahulsprajapati commented on #679
@goldenapples
yes, we have to clean the variable `wp.media.frames.wp_media_frame`  when we are removing the model. Because we are checking this var to find the existing model.
[code]
If we don't clean this var than it may open blank media model. So we should empty the var when we are removing the model.

[2016-12-27 23:22] goldenapples commented on #677
Hi @guillaumemolter -

It looks like the `remove_action` call you have there is just a little bit off. Since the method that adds the media button is an instance method rather than a static method, you'd have to remove it like this:

[code]

That function also takes the DOM element ID of the editor as an argument, so you should be able to remove that method and add your own callback which outputs

[2016-12-27 23:28] goldenapples commented on #678
I'd love to see a PR that added this. There have been a number of times I've wished I could see the active shortcode - I've also got several shortcodes which just have a single "URL" or "Text" attribute, and it does get confusing.

What do people think about also doing away with the dynamic "{Post element} details" header on editing an existing shortcode in favor of something like the above? It'd

[2016-12-27 23:44] goldenapples commented on #672
Hmm. This sounds like a good idea.

We'd been using the customized implementation we have of `load_plugin_textdomain` because we wanted to use this plugin on environments like WordPress.com VIP, where plugins have to be installed as subdirectories of the active theme. This limitation meant that `load_plugin_textdomain` wouldn't pick up translations which were in the plugin.

I think that there are

[2016-12-28 13:23] pySilver commented on #615
@marcin-lawrowski any idea how to implement this until this in core? I'm looking for the way to prevent invalid shortcode insertions.

[2016-12-28 17:18] goldenapples commented on #615
We'd probably want to insert a filter [in here](https://github.com/rahulsprajapati/shortcake/blob/master/js/src/controllers/media-controller.js#L35-L42), right before the `send_to_editor()` function is called. I'm not sure what context would be useful to pass in, but getting the entire `shortcode` model might be enough.

What kind of validation would you want to be doing here that couldn't be done

[2016-12-28 17:23] pySilver commented on #615
@goldenapples in my particular case I want to prevent invalid values to be provided in params since my shortcode talks to an external webservice. In order to make it user friendly I need to make a prior request before inserting shortcode into post and ofc an ability to report an error (field based or form general error)

[2016-12-28 17:26] goldenapples commented on #674
No, there hasn't been any real progress on being able to use Shortcake views for wrapper shortcodes like that. I think it would be great to have a UX brainstorm to mock up some concepts of how that could look in the editor. As it stands, I don't have any concept of how rendering these types of shortcodes in the editor would work, other than possibly adding "start" and "end" markers and indenting t

[2016-12-28 17:29] goldenapples commented on #615
Ah, makes sense.

The system of JS hooks we use might not be great for that purpose, since they'd tie up execution while you made your external API call. What if we implemented a JS filter at that spot that could return a Promise as a return value, and then wait until that promise resolves to close the modal and send the shortcode to the editor?

[2016-12-28 17:40] pySilver commented on #615
@goldenapples sounds ok :)

I think it would be interesting to have a general validation filter which one can mention in `shortcode_ui_register_for_shortcode` by simply providing callback name. It would be up to developer whether this JS callable is defined and what it does. It's just require to respond with specific format.

We can even scaffold some solution that would tie JS to call some php ca

[2016-12-28 18:11] dartiss commented on #674
I'm happy to assist anyway I can.

It's possible now using the inner content to add something from Shortcake but what's really needed is an ability to highlight content before heading into Shortcake for this to be added in as a default value. The same with then editing - picking up the content for editing as part of the other shortcake fields is really needed. In my own experience, most shortcodes

[2016-12-31 11:02] hirejordansmith opened #683 "Uncaught Error: No select2/compat/initSelection"
Hi,

I'm have an issue I can't seem to resolve unless I deactivate the Shortcake (Shortcode UI) plugin and trying to get to the bottom of it.

I am running WP 4.7 with 2016 theme for theme / plugin conflict testing

The only plugins I have installed at the moment are WooCommerce (v2.6.11) and Shortcode UI (0.7.0)

I also removed all of the actual Shortcode UI code so it's just the plugin itself as

[2016-12-31 16:58] goldenapples commented on #683
I think that problem should be resolved on the master branch here. We have a new release that should probably go out soon to the plugin repository.

Can you try downloading the plugin from here and see if it works?

[2016-12-31 20:16] hirejordansmith commented on #683
Hi Nathaniel,

I downloaded stable version from Master branch from github and see the same issue. Looks like the same version that I'm currently seeing the issue with as well - 0.7.0. Is there a newer version than 0.7.0? Thanks man!

[2017-01-02 10:39] robrecord commented on #236
I would dearly love to see TinyMCE implemented here as my client is finding SummerNote difficult to use - indeed, I am too.

[2017-01-02 16:55] goldenapples commented on #236
Paging @rahulsprajapati, who has a working or nearly-working implementation of a TinyMCE field but was coming up against a bug in this plugin (#679) that was preventing the tinymce editor from working after closing and reopening the modal, because of duplicate markup that's being added and not cleaned up properly here.

[2017-01-02 17:09] goldenapples commented on #683
Hmm. Seems I was wrong in thinking that issue was resolved.

In version 0.7.0, we updated the select2 library we were using from the 3.5 branch to the 4.0 branch, to maintain compatability with plugins that were using the 4.0 branch. However, doing so broke compatability with some plugins that are still using certain features from the 3.5 branch. The master branch here, which will be released as 0

[2017-01-04 00:40] westonruter commented on #585
I just released [JS Widgets](https://github.com/xwp/wp-js-widgets) v0.2.0 which includes JS-driven adaptations of all the core widgets (aside from Links), as well as a Post Collection bonus widget. Another standalone widget plugin called [Next Recent Posts Widget](https://github.com/xwp/wp-next-recent-posts-widget) takes the concept of JS widgets a step further and uses client-side JS templating f

[2017-01-05 18:30] pabowles commented on #683
Having the same issue that hirejordansmith described...Staying on version 0.6.2 for now.

[2017-01-05 20:45] stormrockwell commented on #683
I can confirm this issue happens for me too with woocommerce

[2017-01-09 18:10] szepeviktor opened #686 "Post Element registry"
Could we start a registry where people may link their code?

[2017-01-09 18:10] szepeviktor commented on #686
Maybe in the Wiki.

[2017-01-09 20:56] szepeviktor commented on #686
Here it is!
https://github.com/wp-shortcake/shortcake/wiki/Shortcode-UI-Examples

[2017-01-09 20:56] #686 closed, assigned to nobody

[2017-01-10 16:21] tillkruss commented on #236
I'd love to see rich text support for the `inner_content` field. Are there any updates on this?

[2017-01-13 03:44] westonruter opened #687 "Hitting enter from an input causes the form to be submitted and the page to unload"
After entering a value into a field, if you hit the Enter key then the containing form will be submitted and take the user to `edit.php`.

[2017-01-13 03:53] westonruter commented on #585
A PR is now open for JS Widgets which makes all widgets (that subclass `WP_JS_Widget`, which the plugin does for all core widgets) available as Post Elements via Shortcake: https://github.com/xwp/wp-js-widgets/pull/32

![Widget Post Elements](https://cloud.githubusercontent.com/assets/134745/21917909/85663310-d900-11e6-940c-604c494406ec.png)

The JS widget `Form` gets embedded into the shortcode U

[2017-01-18 14:31] pyronaur commented on #236
+1
Shortcake looks awesome, but we really need rich text edit options for the users.

[2017-01-18 18:14] kshaner opened #688 "Conflict with Enhanced Media Library Plugin"
There is javascript conflict with the enhanced media library plugin (https://wordpress.org/plugins/enhanced-media-library/developers/).

I suspect the error lives there and have filed a support ticket with their developer. https://wordpress.org/support/topic/conflict-with-shortcode-ui-plugin/

The error is ‘TypeError: n is undefined’ and occurs when you click Add Post Element or from within the me

[2017-01-22 18:26] webdados commented on #236
This is a serious drawback because WordPress natively supports rich content on the shortcode content.

I propose that this is implemented ASAP, using TinyMCE (and not SummerNote ou any other editor), only on the 'inner_content' field.

[2017-01-22 19:14] tillkruss commented on #236
100% agreed.

[2017-01-24 15:48] kipraske commented on #670
There is a problem with the `acf/settings/select2_version` that I was wondering if anyone here has come across. It turns out that using this ACF hook, the ACF select2 custom fields no longer allow the user to deselect all of the options.

Okay, sure this is probably an issue with ACF rather than Shortcake, but maybe someone here has a fix for this already. Also, this will let people know that the

[2017-01-25 07:20] yurii-diachenko commented on #683
Hi, the bug happens to me a well on woocommerce. Reverting the plugin back to 0.6.2 fixed the issue

[2017-01-25 16:29] AndonDesign opened #691 "Shortcode-UI highjacks the Media Uploader modal"
Noticed that once you've inserted a shortcode using the "Insert Post Element" modal and then try to insert an image into the editor using the WP native "Add Media" button, the media uploader modal will open at the last used "Insert Post Element" tab rather than the "Insert Media" tab. I know they both share the same modal but it seems it hangs on the Shortcake one after it's been used once.

I see

[2017-01-27 01:28] Hube2 opened #693 "question, wrap existing content?"
Looking over the documentation and examples I cannot find the answer to this but I'm beginning to expect the answer is no.

Can I create a shortcode for use with the plugin to wrap existing content in the editor?

[2017-01-29 19:33] bostonchic opened #694 "Conflicts with WooCommerce"
I use this plugin as it's required by the ARVE plugin for shortcodes but on sites running WooCommerce, it renders WooCommerce useless on backend.  :(

[2017-01-31 09:08] brandomeniconi commented on #683
I managed to create a [temporary patch](https://github.com/silverbackstudio/shortcake/commit/b6a6ba262597be04ab27cf4ce1eaa7f58bf494fc) that registers Select2 to a separate jQuery namespace to prevent conflict with other plugins.

[2017-01-31 10:36] brandomeniconi commented on #317
I've the same problem, I solved it by manually turning off preview for some shortcodes, by unregistering it's view from `wp.mce.views`.

I simply add an admin JS script:

[code]
with this code inside:
[code]
this will disable the preview and (also the edit and remove button), but you can still use the UI to create the shortcode.

[2017-02-01 14:46] MattGeri opened #695 "Cannot use sequential integers as keys (values) in a select field"
As of version 0.7.0, when you define a select form element, you cannot use integers as it's keys. If you do, it will use the name of the select option as the key instead of the integer value (key).

Here is an example of what I am talking about:

In the screenshot below, we're defining a select form element
<img width="633" alt="screen shot 2017-02-01 at 16 35 35" src="https://cloud.githubusercont

[2017-02-01 15:15] yumyo opened #696 "Backend conflict with ACF Pro"
With **Shortcake** enabled, **Edit Filed Group** make the page completely unresponsive and crashes Chrome.

It happens in conjunction with the **Repeater** and **Post Object Fields** at least.

With just one of these fields the page hangs just for a couple of seconds. 3 Relationship and 5 Post Objects in the same group are enough to make the **Edit Field Group** page totally unusable.
The issue di

[2017-02-01 16:55] mattheu commented on #695
Thanks for reporting this.

We made some changes to this code, the main reason being that it didn't maintain the order of the options.

The solution was to change the way this was defined to something like this:

[code]

Short term fix would be to update your code to comply with this.

However, I did add some code to handle compatability, so the old behaviour should not have been broken. I'll take

[2017-02-02 09:22] marcoboekestijn commented on #696
I have the same problem.

[2017-02-02 10:30] David-GH opened #697 "Add Post Element not working"
Hi !

Sorry...
It was my WP theme cause a bug.

[2017-02-02 11:27] #697 closed, assigned to nobody

[2017-02-02 12:54] bu-s opened #698 "Shortcode in post editor buttons should be displayed on focus instead of on hover."
Shortcode in post editor buttons should be displayed on focus instead of on hover.

![screenshot 2017-02-02 12 51 03](https://cloud.githubusercontent.com/assets/723530/22550092/572ade82-e946-11e6-9f64-2cd5d6d97c01.png)

Maybe instead of seeing the edit icons on hover instead you have a notice that says "Press/click to edit
the component."

Sorry if this has already been raised as an issue, but I c

[2017-02-02 15:32] Tobias-Conrad commented on #694
@roborourke @danielbachhuber @thomasmb @glueckpress nice plugin.
i can confirm the issue:
"breaking woocommerce backend",
woocommerce shipment tracking button
and sent note to the customer (standard included in woo) button.

easy to test. just install woocommerce add an invoice and try to sent a note the customer of the invoice. you see the button is not working.

@bostonchic you can just disable

[2017-02-02 17:50] nextgenthemes opened #699 "How to disable the WYSIWYG?"
I imagine I just remove some filters/actions.

[2017-02-02 20:55] alexbudin commented on #694
Yes, this is a HUGE problem as it cannot be used with WooCommerce. It interferes with all its UI in the backend (WooCoomerce -> Settings)

When can we see a fix? As i made the mistake of updating this plugin and now everything in woocommerce is all over the place. I will have to roll back.

Im using this with ProfilePress and seems that ProfilePress does not work without this. So stupid to set dep

[2017-02-02 20:59] alexbudin opened #700 "Woocommerce conflict"
Yes, this is a HUGE problem as it cannot be used with WooCommerce. It interferes with all its UI in the backend (WooCoomerce -> Settings)

When can we see a fix? As i made the mistake of updating this plugin and now everything in woocommerce is all over the place. I will have to roll back.

Im using this with ProfilePress and seems that ProfilePress does not work without this. So stupid to set dep

[2017-02-02 21:18] alexbudin commented on #696
I can confirm this is happening on my end as well. Seems its conflicting with WooCommerce and ACF Pro so far.

We need an update that fixes this ASAP!

[2017-02-02 21:24] southaussienomad commented on #700
Here's other people who have reported a conflict between shortcake and woocommerce https://wordpress.org/support/topic/version-0-7-0-interferes-with-woocommerce-products/#post-8731815

[2017-02-02 21:25] alexbudin commented on #700
The user cpbgroup from there is me :)

[2017-02-08 13:03] rogercoathup commented on #694
Can confirm -- v0.7 is breaking the WooCommerce JS on our sites as well

[2017-02-13 13:42] MattGeri commented on #695
Thanks for the response!

I changed our code to the definition that you described above, and it works for the first example I listed above where the index is integers in numerical order.

However on the other elements (non-numerical), I implemented the same definition, and while the select boxes display correctly, the options never save (or they may save, but the selected value does not show when

[2017-02-14 07:24] westonruter commented on #585
FYI: I've figured out the missing piece here in how to define a custom `View` for a given field: https://github.com/xwp/wp-js-widgets/pull/32/commits/267498c4ff2b6f8229dd6e8f41c96fca593f5589

[2017-02-16 18:20] ChrisFlannagan opened #701 "Nested Shortcodes"
Hi, I work for FlowPress, a WordPress agency.  We are wanting to get shortcake or something like it into our library of shortcode components.  The first thing we noticed when setting it up is the lack of nested shortcodes support.  Is this something that's ever been discussed or has any intention of being implemented? If not we are thinking we'd fork shortcake and try to build it out (and happily

[2017-02-17 19:17] westonruter commented on #585
Just released JS Widgets 0.4.0 which now features full support for Shortcake and being able to use widgets as post elements: https://github.com/xwp/wp-js-widgets/tree/0.4.0#changelog

[2017-02-21 16:08] pySilver commented on #683
@goldenapples any news on this issue?

[2017-02-21 21:16] stalukder03 commented on #683
any update? please let us know.
best regards

[2017-02-22 15:46] htrex commented on #691
I'm using WP 4.7 with Shortcake 0.7.0 (from official WP repo) and seeing the problem.
This is an UX problem, not a bug. The user can switch to the Insert Media tab and it works to insert an image, but I agree with you, the user should directly see the media tab when he/she clicks it.

[2017-02-22 17:24] goldenapples commented on #691
Some previous discussion is here: https://github.com/wp-shortcake/shortcake/pull/551#issuecomment-246858766 and here: https://github.com/wp-shortcake/shortcake/pull/689#issuecomment-273938159

The gist of our discussions around this: WP core expects that the modal state to be preserved when its closed (see discussion on https://core.trac.wordpress.org/ticket/27480 for some rationale behind that de

[2017-02-22 17:28] goldenapples commented on #683
I haven't had a chance to hack on this in a while. @brandomeniconi's hack above seems like a workaround that we could possibly expose in the plugin as an option that we could point people to in case they're having conflicts. Anyone want to have a go at trying to prepare a pull request for it?

[2017-02-22 19:04] brandomeniconi commented on #683
I've used that hack on more than 10 WP installations (with WC and ACF Pro) and it's holding up well. I can try to make a PR from if you agree, but does the plugin has an options page? Or we just create a named constant that users can define in `wp-config.php`?

[2017-02-22 20:44] goldenapples commented on #683
I'd say that a named constant, maybe something like `SELECT2_NOCONFLICT`, would be fine for enabling this feature - no reason to create an options page for this.

The main thing I'd like to see in a PR is to move the hack outside of the built select2.js script, and into scripts that we run before and after loading select2.js if no-conflict mode is desired. That way we can more easily track updates

[2017-02-27 13:12] mariodabek commented on #701
I would also be interested in this functionality, any word on this support coming in future releases ?

[2017-02-27 15:59] khromov commented on #701
This has been discussed before: https://github.com/wp-shortcake/shortcake/issues/129

The core issue is that the regex for handling Shortcodes makes this very hard. Although not impossible. There are also other things in flux like the proposed changes to the shortcode format.

https://make.wordpress.org/core/2015/10/08/shortcode-roadmap-draft-three/

I wouldn't count on this being added any time s

[2017-02-28 12:44] brandomeniconi commented on #683
PR #702 ready. Sorry for the delay and non super clean code but I'm little busy right now. Open for suggestions :)

[2017-03-04 16:55] StaggerLeee commented on #585
![](https://cloud.githubusercontent.com/assets/134745/21917909/85663310-d900-11e6-940c-604c494406ec.png)

Hi @westonruter .
Sorry for offtopic.
Can you put all these examples in Shortcake Wiki ?

[2017-03-13 14:46] mfolkeseth opened #708 "Suggestion, add post element to meta boxes"
We are using the media gallery to select images for our meta boxes. It would be great if Add Post Element could do the same. Then we'll have one big button for all media needs.

[2017-03-13 21:06] tushar-borole opened #709 "get all attribute name inside Javascript"
How can i get all attribute and its value in form of JSON in javascript

[2017-03-13 21:51] misfist commented on #415
Is there any way to return the term slug rather than the term id?

[2017-03-13 21:57] khromov commented on #415
@misfist The data is stored as IDs. You can use `get_term( $term_id, $taxonomy )->slug` to get the slug.

[2017-03-13 22:00] misfist commented on #415
@khromov I need the shortcode term value returned as the slug. I'm not sure how I could accomplish that.

Also, thanks for your speedy reply!

[2017-03-15 00:14] goldenapples commented on #415
@misfist There isn't currently a filter around how that attribute is stored on the shortcode. Your best bet, if you can't just get the slug from the term id in your shortcode callback, might be to use the term_select field, let that return the term id, and set up an event attribute callback to update a second field, which is read-only in the UI, which stores the slug that you want to use.

Not pre

[2017-03-15 00:42] misfist commented on #523
For anyone looking for the documentation, I think this is the correct link https://github.com/wp-shortcake/shortcake/wiki/Event-Attribute-Callbacks

[2017-03-15 01:40] misfist commented on #415
@goldenapples Thanks for getting back!

I'm creating shortcode UI elements for shortcodes that come with a plugin I'm using (i.e. didn't write). It expects slugs for taxonomy terms.

Sounds like populating a second field with the slug based on selection in term_select _could_ work.

In principle, I understand how I'd do this, but in actuality...

1. What would the field type of the second field be

[2017-03-15 05:23] mattheu commented on #415
If you don't have too many terms, you could use the standard select field and build the options from get_terms, allowing you to pass the slug as the value.

[2017-03-15 19:19] misfist commented on #415
@mattheu The number of terms will be completely variable.

I'm adding these elements so that users will have an easier time making use of the [shortcodes](http://docs.wp-event-organiser.com/shortcodes/) provided by Events Organiser (https://wordpress.org/plugins/event-organiser/). Term select will be used for venue and category, which can have multiple selections.

I think the term_select UI works

[2017-03-16 18:55] goldenapples commented on #415
@misfist One thing which I recently did when faced with a similar case (I was trying to build a UI for an existing shortcode which had an attribute which expected the URL for a permalink to a post):

* used a post_select field to enable users to select a post.
* added a text field to hold the permalink
* hooked into the event attribute hook for the post select field. In that callback, make an ajax

[2017-03-16 20:58] misfist commented on #415
@goldenapples Is there a hidden field type?

[2017-03-22 11:28] tung-nt-niteco commented on #584
Tried to upgrade ACF pro to 5.5.1 and 5.5.9, but it did not solve the problem.
If anyone even knew the solution, or if the shortcake author fixed it, please let us know.

[2017-03-23 08:34] soyket opened #710 "Get Shotcake button -(add post element) in widget"
Hi! So i am trying to create a custom widget and I want to be able to add this button there , so that people can insert the shortcode directly in there ! How can I do that ? The shortcode-ultimate has something like this to load a button on their widget area : <?php Su_Generator::button( array( 'target' => $this->get_field_id( 'content' ) ) ); ?>

Need urgent help

[2017-03-23 18:11] goldenapples commented on #710
Does your widget include a WP_Editor field? If so, and if the editor is initialized with the 'media_buttons' setting set to `true`, then the "Add Post Element" button will be automatically included there.

[2017-03-23 18:16] soyket commented on #710
Hi! thanks for the quick replay ! And currently no . I just crated the widget because I saw that shortcode-ultimate has the widget system, which can be very useful time to time. They don't have the wp_editor , just a regular text area type widget with button on top . So following their code I came to this :

 `<?php
class Soykot_Widget extends WP_Widget {
	function __construct() {
		$widget_ops =

[2017-03-27 20:54] joyously opened #711 "Explain better in readme, fallback more gracefully"
I just installed version 0.7.1.
The readme.txt file sort of tells me what to do, but not really. In order to "make using WordPress shortcodes a piece of cake", I would expect that I could see at least a list of registered shortcodes while in the editor. Even if they didn't integrate with this plugin, they have to register, so this plugin should be able to list them.
All I see is a button called "A

[2017-03-28 10:51] rianrietveld opened #712 "The add post element button highjacks the active modal in the media modal"
For a site I have the `add media button`, the `add post element` and 1 other button above the editor.
Once you selected `add post element` the active modal item stays 'Insert Post Element' if you select one of the other buttons. The active menu and the title stays 'Insert Post Element'.

[2017-03-28 17:09] goldenapples commented on #712
Hmm. I thought this issue was fixed in #689, and that we were successfully resetting the modal state on closing to avoid that issue. Anyone else seeing this?

[2017-03-28 18:19] rianrietveld commented on #712
Ok, if this has been merged 12 days ago, we may have not updated this yet on our site. I will check this ASAP.

[2017-03-28 19:41] goldenapples commented on #711
I agree that the documentation could be much clearer about what this plugin does. In its current form, this is really just a developer utility plugin that doesn't do much on its own.

If you'd like to be able to use shortcodes off the bat to see how the UI for this plugin functions, I'd try installing either [Shortcake Bakery](https://github.com/wp-shortcake/shortcake-bakery), which enables a numb

[2017-03-28 20:09] joyously commented on #711
This is a feature plugin that could go into core! But it would never make it if it doesn't do _something_ for all the existing shortcodes, and stop thinking of its users as "just developers".

Not really. I thought of writing the list one myself(sort of as a meta box) and then saw this plugin and thought it should accommodate all the existing shortcodes as well as the ones that provide a specific

[2017-03-28 20:14] joyously commented on #711
Besides, you could do an ajax call for `do_shortcode()` to get a preview, even if it doesn't have UI registered.

[2017-03-29 08:03] rianrietveld commented on #712
@goldenapples Thanks for pointing me to the proper issue, it turns out we need to update our current plugin version.
cc @mattheu

[2017-03-29 08:03] #712 closed, assigned to nobody

[2017-03-29 08:27] mfolkeseth opened #713 "Attribute field for editor?"
What about wordpress editor (wysiwyg) as attribute type?

[2017-03-29 10:21] #713 closed, assigned to nobody

[2017-03-29 16:31] goldenapples commented on #699
I'm sorry, what are you referring to removing? You'd like a way of keeping the Add Post Element UI, but not showing the preview of the shortcode in the editor?

[2017-03-29 17:02] goldenapples commented on #708
What would the expected outcome be? The "Add post element" workflow, as designed now, is tied to an editor instance, and inserts a shortcode at the current insertion point in the editor. If you went through that UI to add a shortcode in a meta box, what would happen after inserting it? How would that differ from a customizer instance?

[2017-03-29 17:10] goldenapples commented on #710
Hmm. I think this will not work very smoothly because:

* Shortcake is closely coupled to the tinymce code instantiated in the WP_Editor class
* There are issues including a WP_Editor instance in widgets or meta boxes, because it can't be detached or moved around in the DOM.

In your code, you're using "10" as the editor ID which is passed to the Shortcake "Add Post Element" media buttons. Where d

[2017-03-29 17:14] goldenapples commented on #700
I've replied on the .org support ticket. Closing this out as the issue is resolved, but please reopen if you continue to experience conflicts.

[2017-03-29 17:14] #700 closed, assigned to nobody

[2017-03-29 17:16] goldenapples commented on #696
The recent update 0.7.1 fixes this.

If you're using Shortcake with other plugins that load select2, and you experience conflicts, the fix is to add the following line to wp-config.php:

`define( ‘SELECT2_NOCONFLICT’, true );`

[2017-03-29 17:16] #696 closed, assigned to nobody

[2017-03-29 17:30] nextgenthemes commented on #699
Exactly that yes. If someone has problems with the preview and thought I can offer a workaround by disabling it with a option.

[2017-03-29 17:50] goldenapples commented on #699
Hmm. Might be worth offering a way of doing that.

When I've wanted to do that, I've always just shortcircuited the shortcode callback when in the admin.

[code]

A programmatic way of doing that, say with an option in the arguments passed to `shortcode_ui_register_for_shortcode`, might be nice. How would you picture it working?

[2017-03-29 17:53] goldenapples commented on #687
Seems like a bug we should fix, as that's not a good experience at all.

[2017-03-29 18:02] goldenapples commented on #713
There are a few plugins which add this as a field.

For example: https://github.com/xwp/wp-shortcode-ui-richtext  (using Summernote editor)

Also [this gist](https://gist.github.com/rahulsprajapati/b1363acee3864cf344f4fec10d8cbc18) shows the rough outline of using a tinymce editor in a shortcake rich text field.

[2017-03-29 18:03] goldenapples commented on #691
I believe this is resolved with #689 - closing this issue.

[2017-03-29 18:03] #691 closed, assigned to nobody

[2017-03-29 18:03] goldenapples commented on #683
Resolved.

[2017-03-29 18:03] #683 closed, assigned to nobody

[2017-03-29 18:09] goldenapples commented on #709
That would be a nice enhancement. You can get all of this data as a Backbone collection from the `collection` argument which is passed to each of the event attribute hooks, but it would be great to expose a simpler javascript API so that the process of registering a shortcode UI doesn't require investigating the entire `wp.media` Backbone structure.

[2017-03-29 18:10] goldenapples commented on #694
This should be fixed with 0.7.1, but may require setting the `SELECT2_NOCONFLICT` flag in your wp-config.

[2017-03-29 18:10] #694 closed, assigned to nobody

[2017-03-29 18:11] goldenapples commented on #693
Not currently, but it has been requested many times. Pull requests would be welcome, though!

[2017-03-29 18:13] goldenapples commented on #688
It looks like this was fixed in Enhanced Media Library plugin: https://wordpress.org/support/topic/conflict-with-shortcode-ui-plugin/

[2017-03-29 18:13] #688 closed, assigned to nobody

[2017-03-29 18:13] goldenapples commented on #679
Closed via #689.

[2017-03-29 18:13] #679 closed, assigned to mattheu, rahulsprajapati

[2017-03-29 18:15] #677 closed, assigned to nobody

[2017-03-29 18:26] goldenapples commented on #584
Is anyone available to dig into this problem? I don't have an ACF Pro license to test it out.

[2017-03-29 18:26] goldenapples commented on #671
It sounds like the same thing that's being reported there. Let's close this issue and work on it there.

[2017-03-29 18:26] #671 closed, assigned to nobody

[2017-03-29 18:27] #662 closed, assigned to nobody

[2017-03-29 18:34] Hube2 commented on #693
Thanks for the answer. I'll keep it in mind if I find some free time to add another project to my list.

[2017-03-29 18:34] #693 closed, assigned to nobody

[2017-03-29 22:55] Tobias-Conrad commented on #694
please show a notification if to set or set it by auto. thx

Am 29. März 2017, 20:11, um 20:11, Nathaniel Taintor <notifications@github.com> schrieb:

[2017-03-30 02:08] tung-nt-niteco commented on #584
I think the problem is not because of ACF Pro, the key to fixing this is "multiple" (as you switch between the HTML editors without paying attention to the mouse focus, you will get the problem). So the idea is to fix the ShortCake plugin instead of trying the external components. The suggestion is to include also parent-id (the id of the HTML editor) into the ShortCake elements and carry that par

[2017-04-03 13:43] zedejose opened #716 "Unstralatable string "Thumbnail Details""
In https://github.com/wp-shortcake/shortcake/blob/master/inc/fields/class-shortcode-ui-field-attachment.php#L138 the string is not gettexted, making it untranslatable:

<img width="474" alt="screen shot 2017-04-03 at 14 41 43" src="https://cloud.githubusercontent.com/assets/1371600/24611946/b6345304-187b-11e7-816b-bcf3d8994bd3.png">

Also, and this is a doubt more than an issue, maybe it shouldn't

[2017-04-04 17:59] goldenapples commented on #716
Thanks for pointing that out. It also looks like the "Edit Attachment" link text in that same container is also not gettexted, which should also be fixed.

I also agree that "Attachment Details" makes more sense in that text than "Thumbnail Details", especially because that same label is shown for non-image attachments.

Here, for example, "Thumbnail" doesn't make any sense, since there's no thumb

[2017-04-04 20:41] #716 closed, assigned to nobody

[2017-04-05 18:15] lukeabeck opened #718 ""required" plugin when using Avada"
Hey Guys,

When your plugin is installed, it's adding our "required" label to our plugin area like this: http://d.pr/i/7ur3

Why?

[2017-04-06 11:25] rasmustaarnby commented on #699
Passing an option to the arguments in `shortcode_ui_register_for_shortcode` seems like a good way of doing this. It could be something like `'preview'  => false` to disable the preview in the editor.

It could be filtered it in the `handle_ajax_bulk_do_shortcode` function here https://github.com/wp-shortcake/shortcake/blob/master/inc/class-shortcode-ui.php#L412 but preferably the ajax call shouldn

[2017-04-06 21:41] szepeviktor commented on #718
Hello!
Sharing more details helps solving your problem sooner.

[2017-04-07 00:46] lukeabeck commented on #718
Hello In Return :)

The problem is pretty simple ... we saw a customer who had your plugin installed. When your plugin is installed, we went to Avada > Plugins and saw this: http://d.pr/i/7ur3

When we installed it ourselves, it did not happen, so it's possible the user is somehow doing this themselves, however that would seem odd as it's not their own plugin. It's a bit confusing. Naturally, our

[2017-04-07 01:11] nextgenthemes commented on #699
Don't do it for me. I opened this because I had a user who had problems with the preview. That was b4 the big update I think. Never heard back or another problem. This is low priority for me now until I get another support request from someone who has issues with the Shortcode UI. But I think I would personally use it because I don't need the preview and actually would prefer just to see the short

[2017-04-07 06:40] rasmustaarnby commented on #699
I think this is a good idea and would like it done. I have several use cases for it and generally only want the "Add Post Element" UI, which is really nice. The preview often creates more bloat in the editor as we typically do not include the css/js needed to style the shortcode output.

[2017-04-07 18:58] goldenapples commented on #699
I'd consider this a blessed enhancement, and I agree with @rasmustaarnby above about the `'preview' => false` option making sense in the shortcode registration.

Trying to cram this logic into the `handle_ajax_bulk_do_shortcode` callback does seem a bit hacky, though, since the shortcode UI attributes shouldn't need to be registered for the Ajax callback. Adding a bit of logic into [`shortcodeView

[2017-04-10 10:42] mfolkeseth commented on #708
I get you. This is a bad researched type of question. Closed.

[2017-04-10 10:42] #708 closed, assigned to nobody

[2017-04-18 11:19] pySilver opened #720 "This plugin is in conflict with Beaver Builder"
While Shortcode UI is active - most BB elements which uses wysiwyg are not able to render wysiwyg correctly. As a result it becomes (wysiwyg) inaccessible.