[2014-11-15 09:24] chdenat opened #51 "Cannot drag shortcaked shortcode"
Hello

Maybe a feature request more than a bug.
When a shortcode have been inserted, it is not possible to move it through the article like images.

[2014-11-15 18:48] danielbachhuber commented on #51
Yep, I don't believe we've addressed this yet.

[2014-11-18 16:35] roborourke commented on #51
The same is true for all mce views such as embeds so maybe this is something for core. Only reliable way to do it would be to extend the toolbar buttons with a handle you can click and drag.

[2014-11-18 16:47] danielbachhuber commented on #51
This sounds like a good way to do it :) Something we could trial in Shortcake, and then contribute upstream.

[2014-11-18 16:49] danielbachhuber opened #55 "Test coverage for the JavaScripts"
Coming out of #54, we should have test coverage for the important parts.

[2014-11-24 18:40] noppanit commented on #55
@danielbachhuber I think it's a good idea to restructure our js as well. It's 800 lines of code already. Should it be the task of this issue or it can be a separate issue?

[2014-11-24 18:42] danielbachhuber commented on #55
It can be the task of this issue.

[2014-11-24 19:50] zebulonj commented on #55
@danielbachhuber @noppanit Would love to discuss what the restructuring of the JavaScript might look like. I will follow-up later with recommendations (short-term and long-term).

[2014-11-24 20:40] noppanit commented on #55
@zebulonj sounds good look forward to your recommendations.

[2014-11-26 17:29] zebulonj commented on #55
@danielbachhuber @noppanit Hoping to get some initial feedback on the following recommendation before you shut down for the holiday.
1. I recommend using [Require.js](http://requirejs.org/) to support modularizing the code base and to manage dependencies. The Require.js [optimizer](http://requirejs.org/docs/optimization.html) would be used to package the source into a single file, as part of the b

[2014-11-26 17:45] noppanit commented on #55
Thank you @zebulonj for the recommendation. What do you think about http://browserify.org/ vs Require.js?

Just to clarify my comment. I hit some limitation of require.js sometime when I needed to use plugin that's not require.js compatible. Also, browserify syntax is like Node.js

However, I want to here your thoughts as well.

[2014-11-26 18:19] zebulonj commented on #55
@noppanit I don't have first-hand experience with Browserify, but based on what I've read I'd be interested in trying it.

If this were a larger scale code base, or if this code was supporting a more complex user interface, I'd be very hesitant. On larger applications, I'd want to have the option of compiling my code into several modules so that secondary features could be loaded only as needed. B

[2014-11-26 23:23] zebulonj commented on #55
@danielbachhuber @noppanit Is there a project you're currently using Jasmine on that I should reference for consistent setup? If not, happy to setup Jasmine the way I usually would.

[2014-11-26 23:25] noppanit commented on #55
@zebulonj we use it internally, but I think you can set it up the way you usually would. You want to use Grunt or Gulp?

[2014-11-27 00:11] zebulonj commented on #55
@noppanit Perhaps (this plugin is using Grunt). Upside would be easy to run tests (from the command line) and good for continuous integration (which may not be relevant in the context of this plugin). Downside would be that PhantomJS isn't necessarily representative of the actual browser. Could potential setup for both (in browser and via command line). I like to use the Karma test runner to suppo

[2014-11-27 17:49] noppanit commented on #55
It's likely that we would need both since we want to utilize CI as well as ability to run from command line.  Please feel free to use Karma and i think it's a good idea to test on real browser as well since it's involving DOM manipulation. Grunt ia also a good option for us as we have been using Grunt as well.

Best Regards,
Noppanit Charassinvichai aka Toy

twitter: @noppanit

On Wed, Nov 26, 201

[2014-11-29 05:47] zebulonj opened #65 "Overridden #set() Method on Shortcode Model Only Effective on Hash of Attributes"
When the `attrs` attribute on the Shortcode model is set, it should be cast to a `sui.models.ShortcodeAttributes` collection, if it isn't one already. The overridden [`set(...)`](https://github.com/fusioneng/Shortcake/blob/master/js/shortcode-ui.js#L54-L61) method behaves as expected when attributes are passed via a hash (e.g., `.set({ attrs: [...] })`), but not when passed as an individual key an

[2014-11-29 05:53] zebulonj commented on #65
Test [spec](https://github.com/fusioneng/Shortcake/blob/3b666f1f43dd0091b129b00c7e1d81fc56cf1d20/spec/shortcodes/shortcode-spec.js#L51-L56) added in pending branch (#64).

[2014-11-29 06:27] zebulonj commented on #55
@danielbachhuber @noppanit I've done some additional exploration of Browserify as an option for managing dependencies and building the code for distribution. Based on that exploration, I'm feeling less inclined to use it on this project. As best as I can see so far, it lacks the advantages that Require.js has in the context of dependency injection for unit testing (and may pose other challenges in

[2014-11-30 23:27] danielbachhuber commented on #55
I don't have strong opinions at this time — I'll defer to Toy.

[2014-12-02 15:51] danielbachhuber opened #66 "Capture keyboard bindings when modal is open"
When I have the modal open to edit a shortcode:

![image](https://cloud.githubusercontent.com/assets/36432/5265543/fae4feb0-79f7-11e4-832c-36ceee12f8b5.png)

We should capture a couple of keyboard bindings:
- [x] ESC should close the modal, without updating.
- [ ] Enter / return should close the modal, with updating.

[2014-12-02 19:30] noppanit commented on #55
Actually, Browserify has dependency injection as well for testing. I think the argument between Require.js vs Browserify.js can easily turn into the argument of Grunt vs Gulp. :-) Personally, for this plugin I don't thing it's a bad idea to use Require.js because this plugin is self-contained. And it's easy to change to any other service locator framework later on.

Here's my challenge about Requi

[2014-12-03 06:17] zebulonj commented on #55
@noppanit Thanks. Like I said, I don't have any first-hand experience with Browserify. I'd be grateful if you could point me toward a concise example of dependency injection with Browserify (whether in the test context or not).

[2014-12-03 21:56] zebulonj opened #68 "Create Services Layer"
Per suggestion by @noppanit, remove [`ShortcodePreview#fetchShortcode(...)`](https://github.com/fusioneng/Shortcake/blob/feature/live-preview/js/shortcode-ui.js#L485-L507) logic to services layer that abstracts interaction with server.

[2014-12-04 02:53] MickeyKay opened #70 "JS errors out of the box when running WP 4.1-beta2-30587"
I get the following JS errors when attempting to run the demo code on the latest release of WP Dev (4.1-beta2-30587). Any ideas?

Uncaught TypeError: Cannot read property 'id' of undefined
load-scripts.php?c=1&load[]=jquery-core,jquery-migrate,utils,jquery-ui-core,jquery-ui-widget,jquery…:157 Uncaught TypeError: Cannot read property 'id' of undefined

Uncaught TypeError: Cannot read property 'view

[2014-12-04 17:14] danielbachhuber commented on #70
Interesting. I can't reproduce. To confirm, you've disabled all plugins, are running TwentyFourteen, etc?

[2014-12-11 00:36] danielbachhuber opened #73 "Modal preview doesn't resize to height of the embed"
See screenshot:

![image](https://cloud.githubusercontent.com/assets/36432/5387165/9b09248c-808a-11e4-9440-3ad883c99ebf.png)

Think we need some `postMessage()` to report the expected height.

[2014-12-11 01:49] zebulonj commented on #73
Is it the iframe that doesn't resize? There is a mutation observer in there (modeled on the TinyMCE View code) that should resize the iframe. It worked with the YouTube embed.

—
Sent from my mobile device.

On Wed, Dec 10, 2014 at 4:36 PM, Daniel Bachhuber
notifications@github.com wrote:

[2014-12-11 15:09] danielbachhuber opened #76 "Tabs UI"
Another tabs UI we could copy:

![image](https://cloud.githubusercontent.com/assets/36432/5396191/a1d0356a-8104-11e4-9167-766a215d52b9.png)

[2014-12-11 15:24] danielbachhuber commented on #73
Interesting. It is an iframe. I'll have to see how it differs from the YouTube embed.

[2014-12-11 16:26] zebulonj commented on #73
Does it resize correctly in the editor itself (and if so, is it in an iframe there too)?

—
Sent from my mobile device.

On Thu, Dec 11, 2014 at 7:24 AM, Daniel Bachhuber
notifications@github.com wrote:

[2014-12-11 17:44] danielbachhuber commented on #73
Yes, and yes.

[2014-12-12 18:13] danielbachhuber opened #82 ""Insert Element" should be disabled until a Post Element is selected"
See screenshot:

![image](https://cloud.githubusercontent.com/assets/36432/5416758/843740c8-81e7-11e4-846e-2db64abe042d.png)

[2014-12-12 18:53] danielbachhuber opened #84 "MCE view edit UI is obscured when shortcode UI is first in post content"
See screenshot:

![image](https://cloud.githubusercontent.com/assets/36432/5417332/05e8d0a0-81ed-11e4-9ce1-f745e6b02949.png)

Haven't debugged fully — might be a core issue.

[2014-12-12 19:48] danielbachhuber opened #86 "Shortcodes with dashes in attributes don't work in TinyMCE views"
Stuff breaks. @mattheu has more details.

[2014-12-19 09:09] tmconnect opened #90 "Conflict with Advanced Custom Fields Plugin"
If using both plugins together I got two javascript errors using the ACF field settings

[Error] TypeError: undefined is not an object (evaluating 'wp.media.view.settings.post.id')
    (anonyme Funktion) (load-scripts.php, line 157)
    global code (load-scripts.php, line 157)
[Error] TypeError: undefined is not an object (evaluating 'wp.mce.views')
    (anonyme Funktion) (shortcode-ui.js, line 10

[2014-12-22 17:54] danielbachhuber commented on #66
@mattheu and I spent some time on this today. Core actually handles the ESC case for us — when the modal has focus. The problem is that the modal doesn't have focus when initially loaded, because the TinyMCE plugin steals it back: https://core.trac.wordpress.org/browser/trunk/src/wp-includes/js/tinymce/plugins/wpview/plugin.js#L331

Because document focus is within the iframe, the parent can't ste

[2014-12-22 19:28] danielbachhuber commented on #51
Related core ticket: https://core.trac.wordpress.org/ticket/28003

[2014-12-22 19:46] danielbachhuber commented on #66
Opened a core ticket https://core.trac.wordpress.org/ticket/30817

[2014-12-22 19:51] danielbachhuber opened #93 "Support for editing shortcode inner content"
If I have a shortcode like this:

[code]

It should be possible to edit that inner content.

[2014-12-22 23:17] roborourke commented on #51
My initial experiments were unsuccessful - image dragging is a special case
in contenteditable elements. Dragging nested elements only really worked
with inline content. I'll add my findings to the trac ticket.

I'm going to try a different approach with simple up/down arrows.

##

Robert O'Rourke
_mobile:_ +447816329424
_skype: *rob.o.rourke
*web:_ röb.co

[2014-12-23 14:54] mattheu commented on #93
This is currently possible. Just add an attribute as normal with the name 'content'.

Perhaps this should be a bit more explicit....

[2014-12-23 14:56] danielbachhuber commented on #93
Seems a bit magical — what if I had an attribute named "content"?

[2014-12-23 14:58] mattheu commented on #51
I've spoken to a few people about this - and it is indeed an issue in the core implementation of media views.

I know that there is a plan to support views like this in TinyMCE - perhaps this is a reason that they have been reluctant to try and work around this in WordPress?

[2014-12-23 15:32] mattheu commented on #93
Yeah agreed.

[2014-12-26 17:49] coderaaron commented on #90
Here is the quick fix I use:

change

[code]

to

[code]

starting at line 1070 in shortcode-ui.js

Be warned I haven't done extensive testing with this "hack", but it seems to work for what I've been doing.

[2014-12-29 11:46] chdenat opened #98 "Some changes in css to have better rendering"
Hello,

Not an issue but maybe enhancement !

I'm playing around rendering into the editor and made some change to have better rendering with these css in my editor style css.
It suppresses the grey rectangle when I insert my shorcode and offers a better rendering.
To edit or delete, I've to click on  the shortcode area and act as usual.
I've played around and did not see any issue or fallback !

[2014-12-29 13:21] chdenat opened #99 "Add mce editor to textarea field"
Hello,

I've some shortcode used to insert formatted text (ads, list.., headers, paragraphs ....).

Is there any wordpress dedicated action I can launch with an "add_action" to force mce editor on textarea fields  in order to ease the editing ?

Another way is to integrate this with the textarea through a checkbox labelled add editor (or the stabdard button to switch from HTML to editor). When cli

[2014-12-29 16:03] danielbachhuber commented on #99
This isn't yet supported, but we can file it as an enhancement.

[2015-01-02 20:01] samhermes opened #100 "Checkbox always checked"
Once a checkbox is checked, it won't allow you to uncheck it. There doesn't seem to be any update to the shortcode if the box is unchecked, so the value remains true no matter what.

[2015-01-02 20:26] danielbachhuber commented on #100
Thanks for the report! I have a good sense of what's causing this — we'll try to get it fixed in the next release.

[2015-01-04 09:47] MickeyKay commented on #70
So I think I found out what's causing this, along with an example. Try running underscores as your theme, and you should see the error.

It seems like this arises from a lack of `wp_enqueue_media()` being called on the admin page. For whatever reason, most themes seem to be triggering this call, however underscores doesn't. So it seems like perhaps you need to ensure your plugin is calling in the

[2015-01-04 18:28] MickeyKay commented on #70
Just as a follow up, I want to be clear on what the consequences of this are:

When using most themes, my shortcode renders as expected, like so (with no JS errors):
![image](https://cloud.githubusercontent.com/assets/3189678/5606973/16ad6efc-93fc-11e4-878d-33640eaab2e5.png)

However when I activate _s theme, it doesn't render as expected, instead I just see the shortcode:
![image](https://cloud.g

[2015-01-04 19:11] danielbachhuber commented on #70
Oh, this makes sense. We can fix by running `wp_enqueue_media()`

[2015-01-04 20:35] MickeyKay commented on #70
Any idea why some themes work and some don't. It seems like calling
wp_enqueue_media() in the admin isn't something a theme should be doing
anyways. Well, either way this would be a good fix!

On Sun, Jan 4, 2015 at 11:11 AM, Daniel Bachhuber notifications@github.com
wrote:

[2015-01-06 01:34] danielbachhuber commented on #70
Actually, on second thought, we shouldn't be loading Post Elements unless the media library is loaded, as it's largely dependent on the media library.

`wp_enqueue_media()` is called by core when the post type supports thumbnails, loads the editor, etc. I suspect you've found some instance where this isn't the case.

[2015-01-06 01:37] MickeyKay commented on #70
Well it's just pure underscores. You can see what I mean by installing
underscores and testing. The "Add Media" button utilizes the same scripts,
I believe (though I may be mistaken), and this works just fine with
underscores. So that leads me to believe it's something missing/erroneous
with Shortcake. Thoughts?

On Mon, Jan 5, 2015 at 5:34 PM, Daniel Bachhuber notifications@github.com
wrote:

[2015-01-09 10:35] paaljoachim opened #101 "Wow this looks really interesting!"
Hey

This plugin looks really really interesting! Visible content shortcodes seen in the content creation screen. Awesome!

A few thoughts... (my focus area is design and video tutorials easywebdesigntutorials.com - not much of a developer..... yet...:))
It seems the plugin can experiment with various shortcodes and see what it is able to show and not.
That the plugin could gradually add various s

[2015-01-09 10:39] paaljoachim opened #102 "Feature plugin for Core?"
Hey

Just thinking here. It seems this plugin could actually become a feature plugin for core (sometime down the road be added to core).

[2015-01-09 13:37] danielbachhuber commented on #102
Yep! That's the idea. Currently, the primary challenge to mitigate is that shortcode UI needs to be manually specified for each shortcode. I'm not sure we'll ever get around that.

[2015-01-09 13:37] #102 closed, assigned to nobody

[2015-01-09 13:40] danielbachhuber commented on #101
Thanks!

Yep, it requires implementation on a developer's part — not just activate and use.

We're certainly hoping other people adopt the plugin (and submit bug reports, pull requests, etc. :smile:  )

[2015-01-09 13:40] #101 closed, assigned to nobody

[2015-01-09 15:25] paaljoachim commented on #101
So if a developer makes a test plugin with a few visualized shortcodes I could create an article and a video tutorial showing the future of shortcodes.

Btw
I have e-mailed a few people (wptavern and a few shortcodes plugin developers), posted in the Advanced WordPress group on facebook:
https://www.facebook.com/groups/advancedwp/
as well as posted in the LinkedIn WordPress Developers group.

This

[2015-01-09 20:49] ellatrix opened #104 "Why preview?"
I'm not sure why a preview is necessary. The one that I currently see is not a live previews, as in, I don't see a preview as I change stuff. I can understand the use of a live preview, but that's not really doable if you need information from the server (would be different if the shorcode provides a JS template). Now you can just as well update the shortcode (1 click) and edit it again (1 click)

[2015-01-10 09:57] paaljoachim opened #105 "Aesop Story Engine similar to Shortcake"
Hey guys

It seems the Aesop Story Engine is something similar to Shortcake.
For instance here is the aiview js code:
https://github.com/bearded-avenger/aesop-core/blob/master/admin/assets/js/tinymce/aiview/plugin.js#L7

Both projects can probably learn from each other and perhaps also collaborate.

[2015-01-12 11:43] Danny159 opened #106 "Access Media"
Have the ability to select a madia file :)

[2015-01-12 15:13] danielbachhuber commented on #106
@Danny159 Not sure I follow. Could you explain in greater detail?

[2015-01-12 15:17] Danny159 commented on #106
Sorrry @danielbachhuber, Have a button next to a text box saying Add Media, where you can then select an image from the Media Library and it puts the URL into the textbox :)

Hope you now understand :)

[2015-01-12 15:21] danielbachhuber commented on #104
See #61 for the discussion around the original implementation.

The primary justification in my mind is that opening a modal is a blocking experience. Switching between tabs to see a preview of the value you're changing is much less mental overhead than opening and closing repeatedly.

But, as you can see from the conversation, we tried to do a more live-ish preview which didn't work out for the t

[2015-01-12 15:24] danielbachhuber commented on #105
Thanks for the tip — we'll have to check it out.

[2015-01-12 15:27] #105 closed, assigned to nobody

[2015-01-12 15:33] danielbachhuber commented on #106
What if we had a rich textarea that behaved like the normal WordPress editor?

[2015-01-12 15:38] Danny159 commented on #106
Hmm, Yes I guess you are right... :)

[2015-01-13 16:18] liuronghuan opened #107 "How can i integrate it with theme"
i like your plugin very much ,I am a theme writer for user experience i want to integrate it with my theme not with a plugin how should i do

[2015-01-13 22:17] danielbachhuber commented on #107
Hi @liuronghuan, this plugin is in alpha stage and we aren't supporting individual theme implementation.

[2015-01-13 22:17] #107 closed, assigned to nobody

[2015-01-15 21:20] danielbachhuber opened #109 "JS error on /wp-content/upload.php"
![image](https://cloud.githubusercontent.com/assets/36432/5766804/1a910a04-9cb9-11e4-8bbc-7e3d13e6aa46.png)

![image](https://cloud.githubusercontent.com/assets/36432/5766806/209e2eb8-9cb9-11e4-8153-ec7c597fac69.png)

We're probably loading our JS on far more views than we should be.

Related #70

[2015-01-16 01:38] crstauf opened #110 "Overwriting Stylesheets"
Shortcake overwrites/removes stylesheets added via WordPress built-in function `add_editor_style`.

Removing the TinyMCE filter and placing this code in the construct of the class will add the CSS file to the editor, and keep from overwriting other stylesheets.

`add_editor_style($this->plugin_url . '/css/shortcode-ui-editor-styles.css');`

[2015-01-16 18:41] chdenat opened #111 "Issue when using ACF edition pages"
This made me crazy during 30 minutes ... :)

When Shortcake is activated I can not make any edit in my ACF admin pages  and got the issue described in the attached image.

When shortcake has been deactivated  all is fine.

May be it is related to the fact that there is no mce in the ACF page ?

Thanks for any tmp fix.

![2015-01-16 19_32_31-nouveau groupe de champs gf38 wordpress](https://cloud.gi

[2015-01-16 18:48] chdenat commented on #111
Guys,

FYI I've fixed it by making a test on wp.mce :
<code>
if (wp.mce) {
                wp.mce.views.register(
                    shortcode.get('shortcode_tag'),
                    $.extend(true, {}, sui.utils.shortcodeViewConstructor)
                );
            }
</code>

[2015-01-16 18:48] #111 closed, assigned to nobody

[2015-01-16 18:50] danielbachhuber commented on #111
@christian-denat Yeah, it's #109. I'll try to get this fixed shortly.

[2015-01-16 20:42] danielbachhuber commented on #110
Thanks for the report, @crstauf, we'll take a look.

[2015-01-16 20:44] crstauf commented on #110
Welcome, Daniel! Wasn't sure if you'd want me to submit a branch/pull
request for something so small or not.

Caleb Stauffer

On Fri, Jan 16, 2015 at 3:42 PM, Daniel Bachhuber notifications@github.com
wrote:

[2015-01-16 20:45] danielbachhuber commented on #110
Oh, pull requests are more than welcome !

[2015-01-16 20:47] crstauf commented on #110
Nice! Will do then. :-)

Caleb Stauffer

On Fri, Jan 16, 2015 at 3:45 PM, Daniel Bachhuber notifications@github.com
wrote:

[2015-01-26 13:22] phh opened #113 "No composer.json ?"
It would be easier to install Shortcake if the plugin had a composerfile or was in the WordPress plugins repo.

[2015-01-28 00:24] danielbachhuber commented on #110
This was fixed by #112

[2015-01-28 00:24] #110 closed, assigned to nobody

[2015-01-28 00:41] danielbachhuber commented on #113
Pull requests welcome (for composer.json)!

We'll be adding it to the WordPress plugins repo sometime between now and the next release.

[2015-01-28 08:42] phh commented on #113
Sure thing :)

Here's a very simple basic composer.json file.
https://github.com/fusioneng/Shortcake/pull/114

[2015-01-28 16:17] #113 closed, assigned to nobody

[2015-01-28 16:25] danielbachhuber opened #115 "Select some text to wrap a shortcode around"
It would be nice if a user could select some text, and wrap a shortcode around the text.

If we added a TinyMCE button to the editor, we could detect when text was selected.

Prompted by https://spinpress.com/inline-notes-shortcode-experiment/

[2015-01-28 16:29] danielbachhuber opened #116 "Ability to edit a shortcode's attributes inline"
For shortcodes that don't have substantially complex fields, it might be nice to be able to edit a shortcode's attributes inline.

[2015-01-29 12:07] swissspidy commented on #115
Yay!
I'm not quite familiar with TinyMCE, but maybe I can dig a bit into it next month to test this.

Looks like getting the selected text is quite easy
- http://stackoverflow.com/questions/22507165/getting-start-and-end-of-selected-text-from-tinymce
- http://www.tinymce.com/wiki.php/API3:class.tinymce.dom.Selection

Maybe looking at the "Add link" button will help too.

[2015-01-30 10:39] cyrildc opened #119 "Styling problem, shortcode instance always returns 1"
Hi,

In my button shortcode I declare an $instance variable (like on the gallery shortcode) to set a css class for the button so that I can add css style.

[code]

The issue is that in the visual content editor, the instance always returns 1. If I have multiple buttons on the page, the styling is wrong.

[2015-01-30 16:16] danielbachhuber commented on #119
Try:

[code]

[2015-01-30 16:16] #119 closed, assigned to nobody

[2015-01-30 16:47] cyrildc commented on #119
I've tried but it doesn't work:

[code]

If I add 2 pullquotes shortcodes in the editor, they both echo 1 for the $instance in the editor.

[2015-01-30 16:50] danielbachhuber commented on #119
Oh. That's because the preview happens through admin ajax, which is run once for each preview.

[2015-01-30 16:53] cyrildc commented on #119
So there is no way to achieve it?

[2015-01-30 16:53] danielbachhuber commented on #119
None that I can think of, other than if you were to have a shortcode argument for the style.

[2015-02-01 15:43] bobbingwide commented on #119
The ajax interface could pass an identifier through to the shortcode which could then be intercepted by 'shortcode_ui_before_do_shortcode'. This means the shortcode has to do more work to find the instanec number it intends to use.

[2015-02-01 16:21] bobbingwide opened #120 "Display shortcode help and name on Insert Post Element"
When you're working on the Insert Post Element dialog it can be difficult to know which shortcode you're actually working on. I propose a couple of improvements.
1. The shortcode tag, as well as the shortcode label should be displayed.
   e.g For WooCommerce's [best_selling_products] shortcode, the tag is best selling products and the label is  'List best selling products on sale'.
2. This informa

[2015-02-01 17:47] bobbingwide opened #121 "Support more options than dashicons for "images""
With hundreds of shortcodes possible in one WordPress installation, there may not be enough dashicons to choose from for the Insert Post Element List display.

It would be nice if the dashicons solution could be extended to support genericons and other icon fonts.

Note: To display an actual image you just need to return an image tag.

`<img class="" src="http://qw/wp-content/plugins/oik/images/bb

[2015-02-01 18:01] bobbingwide opened #122 "Treat default values differently from placeholder"
Many of my shortcodes have a lot of parameters, with each parameter mapping directly to a value for a WordPress function's parameter.

A lot of these parameters have default values, either set by the shortcode or by the invoked function.

It would be nice to be able to display the default values to the user - this can be achieved using the placeholder - but not have unchanged placeholder values cr

[2015-02-01 18:12] bobbingwide opened #123 "Single or multiple post selection list"
Shortcodes such as [gallery] include parameters which require the user to specify the ID or IDs of the posts to be displayed, included or excluded.

The logic should allow for parameters which allow multiple values to be specified.

I have many shortcodes which also support the entry of post IDs.

It would be nice to have native support for selecting the posts from existing content.

This requirem

[2015-02-01 18:30] bobbingwide opened #124 "Deferred loading of shortcode list, syntax and selection lists"
In the current implementation, whenever you edit a post, shortcake builds a large JSON structure containing information about all the active shortcodes.

In my development environment I can have over 170 of my own shortcodes.
Some themes deliver shed loads, so does Jetpack, WooCommerce and Easy-Digital-Downloads.

Many of my shortcodes have lots of parameters.
Any many of the parameters have multi

[2015-02-01 23:01] danielbachhuber opened #125 "Add to WordPress.org plugins repo"
It would be nice if everything auto-deployed, though. We'll need to handle:
- [x] Deploy master to svn trunk
- [x] Tagged releases
- [x] Readme conversion
- [x] Screenshots
- [ ] Banner image

[2015-02-01 23:28] westonruter commented on #125
Our `svn-push` script handles these: https://github.com/xwp/wp-dev-lib/blob/master/svn-push

[2015-02-02 03:25] danielbachhuber commented on #125
@westonruter do you have it hooked into Travis?

[2015-02-02 03:32] westonruter commented on #125
No, but that would be sweet.

[2015-02-02 03:39] danielbachhuber commented on #124
Interesting idea. We'll keep this in mind as we go forward.

[2015-02-02 03:43] danielbachhuber commented on #123
We actually have an internal Select2 field for selecting one post for a shortcode. I can understand and agree with the appeal of being able to pick multiple posts. We'll keep this in mind as an enhancement.

[2015-02-02 03:45] danielbachhuber commented on #120
Where is this label defined?

I like this idea.

Can you share in a wireframe what this might look like?

Not sure I follow what would this contain. Can you elaborate with a wireframe?

[2015-02-02 04:19] danielbachhuber commented on #121
I agree. I think our argument definition for shortcode UI needs revisiting.

[2015-02-02 04:37] danielbachhuber commented on #122
Is this not the current behavior? Not sure I follow.

[2015-02-02 09:42] bobbingwide opened #126 "Don't process nested content"
I have a shortcode called [bw_geshi] which takes its input from the $content.
I use it to document code, especially examples of shortcodes.
e.g.
`[bw_geshi lang=html]
Here is some nested content
With a shortcode [oik]
<span>and some more</span> HTML
[/bw_geshi]`

Clicking on the Edit link loses the nested shortcode tags.

[2015-02-02 11:58] bobbingwide commented on #120
Re: Label.

In my solution for the oik base plugin ( github.com/bobbingwide/oik ) the text that I propose for label is returned as shortcode help.  I tried using the shortcode tag and label in the label parameter to shortcode_ui_register_for_shortcode() but, with the current styling, this is too long.

![image](https://cloud.githubusercontent.com/assets/2474435/6000169/a6084b48-aad2-11e4-91cc-4823

[2015-02-02 12:00] bobbingwide commented on #120
Oops, didn't mean to close.

[2015-02-02 12:40] bobbingwide commented on #120
Replacing "Insert Post Content" with the shortcode label and tag
![image](https://cloud.githubusercontent.com/assets/2474435/6000678/a623b238-aad8-11e4-953b-2f7261aa0821.png)

Also note that the label for each parameter contains the parameter name and a short description.

[2015-02-02 13:27] bobbingwide commented on #120
The detailed view would be similar to the Media Library List View
Columns would be: icon image, shortcode tag, label and and other relevant values.
In oik, I have an admin page - oik options > shortcode help
![image](https://cloud.githubusercontent.com/assets/2474435/6001160/712ac9a8-aade-11e4-9296-6d7b5cb3af2d.png)

Here the link in the Help column opens up more help for the shortcode, with an ex

[2015-02-02 13:38] danielbachhuber commented on #126
Ignoring nested shortcodes seems like the best way to handle this for the time being.

[2015-02-02 13:46] bobbingwide commented on #122
In my example for gallery I'd taken the defaults and assigned them to the 'value' for each parameter.
This therefore generated the shortcode with these default values.

I want to be able to display the default value to the user, but only create the actual parameter to the shortcode when the user has explicitly chosen it.

ie. If I just choose Insert Element the generated shortcode would be `[galle

[2015-02-02 14:13] bobbingwide opened #127 "No preview for some codes"
There are some shortcodes for which you would not want a preview to be created in the Visual editor and others where you wouldn't want a preview in "Insert Post Element".

For example.
- Shortcodes that need to be manually paired in order to produce valid HTML ( e.g. [div] and [ediv] )
- Shortcodes that produce a lot of output that the user would rather not see in the visual editor.
  Many of my s

[2015-02-02 14:51] bobbingwide opened #128 "Support positional (unnamed) parameters"
Some shortcodes accept positional parameters. e.g. [bw_link github.com/fusioneng/Shortcake/issues/128]
which would display a link to this issue.

Some shortcodes accept multiple positional parameters
e.g. [wp v p] - which would display WordPress 4.1 PHP 5.5.18

Positional parameters appear in the $atts array as unkeyed values.
So, for the above,
- when $atts[0] == 'v' then the shortcode displays t

[2015-02-02 15:04] bobbingwide opened #129 "Enclosed shortcodes"
Some shortcodes require the content to be enclosed between shortcode start and end tags.
It should be possible to identify these shortcodes using a mechanism other than using a labelled parameter of 'content'.

Conversely, it should be possible to identify shortcodes that DO NOT SUPPORT the $content parameter. So if I have manually created a shortcode like this

`[my-shortcode]Some awesome inner c

[2015-02-02 15:20] danielbachhuber commented on #128
Seems like a reasonable request.

[2015-02-02 15:24] danielbachhuber commented on #129
Yep, agree.

[2015-02-02 16:03] bobbingwide opened #130 "Extended select - alternate parameter values"
There are some parameters where the user has a fixed number of options for a field value

e.g. order=ASC|DESC

and others where there are some predefined values but the parameter also supports free-form values. e.g. the `orderby` parameter for the [gallery] shortcode which defaults to "menu_order ID"  - a concatenation of two fields to sort by.

In this instance a simple select field does not allo

[2015-02-02 16:53] bobbingwide opened #131 "TinyMCE button / Quicktag rather than Add Media"
It's probably no big thing but it's not immediately obvious that Add Media would be used to create a shortcode. It would be nice to be able to support display of the "Insert Post Content" dialog through a toolbar button.

In my oik plugin I defined a TinyMCE button in the Visual editor and a Quicktag for the Text editor.
Both buttons are optional; the UI is not enforced.

I imagine this is related

[2015-02-02 17:14] bobbingwide commented on #122
Hi, looks like I'd coded it wrong.
In my routine that maps my shortcode's syntax arrays to those required by shortcake
rather than use `'placeholder' => $default`
I'd coded `'value' => $default`.

I copied the code from #46 - where 'value' is used to show the default, rather than referring to the example on readme.md

[2015-02-02 17:15] #122 closed, assigned to nobody

[2015-02-02 17:34] bobbingwide opened #132 "Ability to mark parameters as Required"
Some shortcodes may operate successfully with no parameters whatsoever.
Others require certain parameters to be set.

It would be nice if the preview did not get invoked if the required parameters were not defined.

[2015-02-02 18:17] bobbingwide opened #133 "Support parameter name aliases"
There are some shortcodes which accept values through multiple parameter names.
I have one ( [bw_link] ) where I accept parameter names of: href, url, src and link.

If the shortcode in the content contains any one of these parameter names, then it would be nice if  only one entry field is displayed, for the given parameter name.
- This is a very low priority requirement.
- This particular shortco

[2015-02-02 19:37] bobbingwide opened #134 "Support plugin extensions to the shortcode parameters"
I have a number of shortcodes in one plugin which are extended by one or more other plugins.
The other plugins add new parameters to the shortcode.
When only the base plugin is active then the syntax need not reflect the additional parameters.
When the extensions are active then these should be shown.

Example: The [bw_telephone] shortcode is extended by the oik-users plugin so that the telephone

[2015-02-02 19:57] bobbingwide opened #135 "Support parameters which may also be 'content'"
When I first developed shortcodes I only worked with parameters and didn't make use of 'content'.

I now have shortcodes which would be better coded to process the $content rather than a named parameter. In order to transition I'll need to be able to support accepting the content either from a named parameter or from the nested content.

e.g. `[bbboing text="Code is poetry"]` could just as easily

[2015-02-02 20:12] danielbachhuber commented on #135
You should do this as a one-off migration by writing your own WP-CLI command. I don't think it's viable for Shortcake to do this automatically.

[2015-02-02 20:12] #135 closed, assigned to nobody

[2015-02-02 20:13] bobbingwide opened #136 "Control sort sequence of shortcodes"
The order in which the shortcodes are listed on the Insert Post Element dialog depends on the sequence in which they are registered.

It would be nice if the user could have some control over how they are listed.
- My preference is to sort by shortcode tag.
- Others may prefer the most used to appear first
- I very much doubt that the sequence in which the plugins and theme register them would mak

[2015-02-02 20:14] danielbachhuber commented on #136
I was just thinking this the other day. I think sorting alphabetical makes the most sense.

[2015-02-02 20:25] bobbingwide opened #137 "Filter / search mechanism for shortcodes"
Even if the shortcodes are nicely sorted on the Insert Post Content dialog, there may still be too many on display.

It would be nice to have a filter and/or search mechanism that will enable the user to find the shortcode that they need.
- It would be implemented something like the Media Library tab
- The search need not be limited to the shortcode tag
- There could be contextual information prov

[2015-02-02 21:02] bobbingwide opened #138 "Incorporate "catalog" functionality"
In all the plugins and themes available for WordPress there are probably well over 2,000(*) unique shortcodes. Each one waiting to be discovered and used.
- For my own shortcodes I developed an API to define each shortcode's syntax.
- I used the output from this in my own shortcode creation routine (quicktag and TinyMCE buttons)
- It is also used to populate the 'shortcode help' admin page.
- And

[2015-02-02 21:33] mattheu commented on #134
As you said this is currently possible.

Regarding 124 - I think its reasonable idea. However I don't actually think it would affect this issue. I'd say that if you're extending one plugin that adds a shortcode to shortcake - then your plugin should make sure its adding this later.

[2015-02-02 21:36] mattheu commented on #137
Agreed this could be useful

[2015-02-02 21:43] mattheu commented on #131
We originally had a separate button, and decided to role it all into the single button. I'm certainly open to UX feedback on this though. However I think we should be consistent - pick one and go with it.

If we stick with the current - It should definitely try to handle your situation.

[2015-02-02 21:45] mattheu commented on #130
I think its hard to handle all of these edge case situations. My preference here would be to make it as easy as possible for individual plugins to add custom fields.

In this situation for example - the field could autocomplete/validate a free text field.

[2015-02-02 21:53] mattheu commented on #104
I'm not totally sold on the preview. I'd be interested to hear other users experiences of it. Does anyone find it useful?

My biggerst concern here is that I don't want the added complexity of previews affecting the ease of implementing complex shortcodes in the media views.

Currently - its working and its not obtrusive. But i'm not attached to it and I would certainly favour removing to ensure s

[2015-02-02 21:56] mattheu commented on #121
I think we should support a custom image, or dashicons. This should be pretty easy.

[2015-02-02 22:19] danielbachhuber commented on #138
You might be the only one with this problem :wink:

[2015-02-02 22:35] eliot-akira commented on #129
On the topic of enclosed/nested shortcodes: I just discovered Shortcake - love the concept and implementation - and started to explore how to integrate my [plugin](https://wordpress.org/plugins/custom-content-shortcode/)'s shortcodes - and I've got several nested ones. An example of a basic syntax is:

[code]

I was able to register the parent shortcode, get an input form via Add Media with parame

[2015-02-02 22:50] franz-josef-kaiser opened #139 "Split templates into single templates and register via the WP Dependency API"
As shown in [this PR](https://github.com/fusioneng/Shortcake/pull/118/files#diff-19950a22ee7d4e0bf323e00407199c1aR75) by @danielbachhuber the `.tmpl` scripts could be registered as _real_ scripts.

When split up into single files, this change allows the _easiest_ exchange of templates there could be. Just `wp_deregister_script( $handle );` the plugin template and `wp_register_script( ... );` your

[2015-02-02 23:35] soderlind commented on #106
@danielbachhuber not sure if I agree. If I only need to add media, why should I have/see the wp editor?

I'd prefer a field like this (screenshot from the [Admin Page Framework](https://github.com/michaeluno/admin-page-framework)):

![media-file](https://cloud.githubusercontent.com/assets/1649452/6011468/7c30ad0a-ab3c-11e4-8650-a9cfee7d1446.png)

[2015-02-03 00:06] sc0ttkclark commented on #116
Such yes

[2015-02-03 00:48] lukecarbis commented on #136
+1 for alphabetical. Makes it easiest for the user to find.

This in mind, they should be sorted by title, not shortcode tag.

For example a shortcode with the title of `Awesome Shortcode` and a tag of `xwp_awesome_shortcode` should be sorted with A, not X.

[2015-02-03 01:28] eliot-akira commented on #129
I traced it down to: `sui.utils.shortcodeViewConstructor.View.edit`.

At the start of the function, variable `shortcodeString` in my case is `[loop type="post"][field title][/loop]`. After the regex, content = matches[3] is undefined. I tried the inner content without the shortcode: `[loop type="post"]test[/loop]` - ah, now the content is retrieved correctly and shows up in the textarea in Post El

[2015-02-03 16:46] roborourke commented on #126
Yep - WordPress by default doesn't process nested shortcodes - that's up to the shortcode implementer to call `do_shortcode()` on their returned content.

[2015-02-04 00:45] milgrom commented on #106
I agree that an add media button would be a great addition to keep things simple for non technical users.  And the rich textarea editor would also be a great addition for situations where it's required.

[2015-02-04 00:47] milgrom commented on #99
This is something that would be great.  If we could insert a field that uses the default wp_editor then we could also create nested shortcodes along with other formatted text which I use when developing certain complex shortcodes that function inside of other shortcodes.

[2015-02-04 15:27] Danny159 opened #140 "IE11 Crashes"
There seem to be a problem with IE11.

When you edit a page that uses Shortcake and click to edit the shortcode IE11 freezes says a script it looping then crashes...

Is anyone else having this problem? Or know of a fix.

Thanks

[2015-02-06 11:39] yumyo commented on #106
+++1

[2015-02-06 13:17] yumyo opened #141 "Image upload [how to]"
Hello,
first of all thank you for Shortcake, it's a really beautiful solution to handle shortcodes in wordpress.

An image upload feature is critical in many of our current projects. As far as I understand it could be achieved using Shortcake along with the **fieldmanager** plugin but I can't get it working. Could you exaplain how to build a simple [image] shortcode with the ability to let users s

[2015-02-06 14:52] danielbachhuber commented on #141
Already requested in #106. Please don't open duplicate tickets.

[2015-02-06 14:52] #141 closed, assigned to nobody

[2015-02-06 14:52] danielbachhuber commented on #109
Fixed in #118

[2015-02-06 14:52] #109 closed, assigned to nobody

[2015-02-06 14:53] danielbachhuber commented on #90
Fixed in #118

[2015-02-06 14:53] #90 closed, assigned to nobody

[2015-02-06 15:23] bfintal commented on #134
Why not use `apply_filters` and `add_filter` to the parameters? Tested it and it works fine.

[2015-02-06 15:31] danielbachhuber commented on #134
Huh? Explain further?

[2015-02-06 15:35] bfintal commented on #134
The original post was regarding extending a shortcode's parameters. For example, I did this with the `pullquote` demo:

[code]

Then somewhere else:

[code]

[2015-02-06 16:03] danielbachhuber commented on #98
Hi @christian-denat, is this still an issue?

[2015-02-06 16:06] danielbachhuber commented on #70
@MickeyKay Can you see if this was resolved by #118 ?

[2015-02-06 16:07] danielbachhuber commented on #127
Maybe if a preview can't be safely produced, we should have some placeholder image instead?

[2015-02-06 16:15] danielbachhuber opened #142 "Abstract shortcode-ui.js into modules with Browserify"
`shortcode-ui.js` is getting quite long and complex. We should break it into logical modules using Browserify.

@noppanit Can you weigh in with some thoughts in this regard?

[2015-02-06 16:20] noppanit commented on #142
I'd like to refactor this and add some tests as well. Or @jitendraharpalani58 if you want to do it, it's ok for me as well.

[2015-02-06 16:46] danielbachhuber commented on #142
@jitendraharpalani58 wants to work on it, but you'd make a great review partner :)

[2015-02-06 17:14] chdenat commented on #98
Daniel,
For me it's an enhancement, because the short code area is reduced to a bold line and it is ok for the shortcodes that require alignment on left or right.

[2015-02-08 14:07] mattheu commented on #134
Yes something like this would work.

 I think there are a few ways you could approach this. Another would be to use `register_shortcode_ui` to register the shortcode again. If you need to get the attributes added previously you could use the `get_shortcode` method.

Either way - I think this is the responsibility of your code rather than something to handle in Shortcake - so I'm going to close thi

[2015-02-08 14:07] #134 closed, assigned to nobody

[2015-02-09 02:07] bfintal commented on #134
@mattheu I agree

[2015-02-10 21:54] franz-josef-kaiser commented on #139
We [now have a core ticket](https://core.trac.wordpress.org/ticket/31281) to move that one right in. In the meanwhile, the plugin could still incorporate it.

[2015-02-11 03:43] mishterk commented on #127
Just as a note for anyone who wants to disable/modify the output in the editor – alternative content, wrapped in an `is_admin()` conditional, can be returned early within the shortcode handler. This is served up in the WP editor in place of the front end output.

[2015-02-11 04:10] mishterk opened #144 "Form enhancements"
I'd love to see – in the Post Element Details Edit tab – a richer form experience.

Field descriptions (below the labels) would be very handy, and maybe the ability to increase field widths based on a selection of options (small, medium, large?).

If these abilities are already in there – awesome – I'm just having trouble finding some decent docs on possibilities keys in the `attrs` array when reg

[2015-02-11 14:59] danielbachhuber commented on #144
I agree. Adding in #145

I think what we really need is generic support for `attributes` in a similar manner to Fieldmanager. You'd be able to pass `style`, `length`, data attributes, etc.

@mattheu thoughts?

[2015-02-11 15:00] mattheu commented on #144
+1

[2015-02-11 15:37] danielbachhuber commented on #140
Sorry for the late reply. We can leave this open to see if anyone else can confirm.

[2015-02-12 08:34] bfintal commented on #131
I agree that this should be inside a TinyMCE button instead though, since strictly speaking, a post element isn't media. The "Insert Post Element" integrates great with the media manager, so it should be kept that way. When the TinyMCE button is clicked though it should open the media manager with the "Insert Post Element" pre-selected.

[2015-02-12 08:36] bfintal commented on #126
I agree, this should be left as is

[2015-02-12 08:37] bfintal commented on #116
This would be great, although I'm not so certain that TinyMCE views can readily handle this

[2015-02-12 08:40] bfintal commented on #104
My opinion is that either:
1. the preview tab is removed, or
2. when the screen is large enough, put the preview side by side with the settings that updates when the settings change; then hide the preview on smaller screens.

[2015-02-12 16:38] jitendraharpalani58 commented on #100
@danielbachhuber @samhermes which checkbox is it?

@samhermes can you please upload a screenshot?

[2015-02-12 17:10] danielbachhuber commented on #100
I think you'll need to create a sample checkbox field

[2015-02-12 22:35] danielbachhuber opened #148 "Restrict shortcode UI to specific post types"
For instance, if I have a "Newsletter Item" shortcode, I only want to have it appear for my "Newsletter" post type.

[2015-02-13 05:09] #70 closed, assigned to nobody

[2015-02-13 05:09] danielbachhuber commented on #82
:shipit:

[2015-02-13 05:09] #82 closed, assigned to nobody

[2015-02-13 14:25] rogercoathup opened #151 "Edit button not working"
Icon button to edit a shortcode once added to post content is not working - throws an error at line 661 in shortcode-ui.js:
TypeError: undefined is not an object (evaluating 'this.frame.toolbar')

Version v0.2.0-dev of Shortcode  UI
Version 1.0.0 of Shortcake UI Pullquote Demo

Clean install of WP, 2015 theme, Vagrant / Chassis

[2015-02-13 14:36] chrisvanpatten commented on #151
I'm having the same problem, with the same error at the same line. (Well, it's worded differently... "Uncaught TypeError: Cannot read property 'toolbar' of undefined" ...but I'm guessing it means the same thing!)

[2015-02-13 15:17] danielbachhuber commented on #151
Thanks for the quick report! Fixing this in #152

[2015-02-13 15:20] danielbachhuber opened #153 "Decide whether Shortcake is coupled with TinyMCE or the media library"
The media library can be used independently of the editor, and vice versa.

We need more robust code for making sure Shortcake is only included for the editor

From #149

[2015-02-13 15:22] danielbachhuber commented on #153
I think Shortcake should be coupled with the editor, and make sure appropriate media assets are enqueued if the media library hasn't already been enqueued.

[2015-02-13 15:27] danielbachhuber commented on #153
@sanchothefat Can you look into a better solution for this, given that you were keen on fixing it?

[2015-02-13 15:29] mattheu commented on #153
At the moment we're pretty coupled to both. The UI is completely tied to the media library, and the rendering is completely coupled to the editor.

However - I think it actually makes more sense to couple with the media library - as you currenlty can't use without.

I can easily see the need to use the Shortcake UI outside of the editor. We pretty much have this requirement on Fusion at the moment

[2015-02-13 15:29] roborourke commented on #153
@danielbachhuber we're kind of at the mercy of WordPress core here, the `print_media_templates` action is coupled to the media library so we'd have to use `wp_enqueue_editor` and a generic hook like `admin_print_footer_scripts` instead.

[2015-02-13 15:31] danielbachhuber commented on #153
Huh? Where do previews appear, if not within TinyMCE?

[2015-02-13 15:32] danielbachhuber commented on #153
FWIW, #149 causes JS errors, so I need to revert.

[2015-02-13 15:33] danielbachhuber commented on #153
That's fine. I think we should ditch `print_media_templates` as it's been causing us troubles. See #139

[2015-02-13 15:35] #151 closed, assigned to nobody

[2015-02-13 15:35] roborourke commented on #153
Can you elaborate on the js errors you saw? I was getting the same problem hence the PR

[2015-02-13 15:38] danielbachhuber commented on #153
An internal JS file that has dependencies on Shortcake started throwing an undefined variable error.

I don't think the solution is to change the load action. I think the solution is to internalize the printing of our own templates, and also calling `wp_enqueue_media()` to make sure the media library assets already always available.

[2015-02-13 15:42] mattheu commented on #153
Well currently they're very inter-linked - but I think it should be possible to further decouple the preview rendering and the TinyMCE.

Similar to how you can have a Media field in Fieldmanager - that shows a button that then inserts the image ID into a hidden field. Fieldmanager then renders the image preview.

You could have a similar button to trigger the shortcake UI, and inserts the shortcod

[2015-02-13 15:43] bfintal commented on #153
In my opinion, behavior-wise, couple it with Media Library because the UI is there. The "Add Media" (or hopefully the "Add Shortcode" button or something else to be placed beside the current button) would tie the output towards TinyMCE. Then the preview can be there regardless of TinyMCE being there or not.

[2015-02-13 15:45] roborourke commented on #139
@franz-josef-kaiser main difficulty here is that for Fieldmanager at least the templates don't actually exist as files anywhere, it's generated code. Wondering if your example could be modified to allow registering a script as source code directly without need for an actual file

[2015-02-13 15:47] roborourke commented on #153
So we need a public `enqueue_shortcode_ui()` function?

[2015-02-13 15:48] danielbachhuber commented on #153
Oh, I see where you're going. Not sure why you'd use a shortcode to store data in this case, but I can see the case for being able to reuse the modal UI.

It depends on how you look at it. I see it as the UI being in TinyMCE with Media Library as an artifact of the implementation decision. If we build #116 (inline editing), we're no longer coupled with the media library.

Regardless, it sounds lik

[2015-02-13 15:56] bfintal commented on #153
#116 can be an entirely different thing if only the editable parts would be the ones that can be seen in the rendered view.

You can be totally independent from the Media Library if all the settings are somehow editable in TinyMCE though.

[2015-02-13 15:57] mattheu commented on #116
I think a first step could be to allow shortcodes to override the editor form view and provide their own.

This way - you could completely customize the appearance. You could make the form look exactly like the rendered shortcode.

The next step - you could provide an option to render the form inline instead of the preview for a given shortcode. Providing editable forms doesn't totally break the M

[2015-02-13 15:58] mattheu commented on #153
Agreed on this.

Regarding #116 - I think it is further argument that decoupling all aspects from each other is a good move. Then you can use the bits you need from shortcake in the places you need them.

[2015-02-13 16:24] danielbachhuber commented on #100
@samhermes Can you confirm the fix?

[2015-02-13 16:49] danielbachhuber opened #155 "Odd layout happening with the attachment field"
Looking like this:

![image](https://cloud.githubusercontent.com/assets/36432/6191307/4063ca22-b35d-11e4-8cb3-dc9e2b4232b9.png)

cc @mattheu

[2015-02-13 16:58] danielbachhuber commented on #106
Added in #146 as `type=attachment`

[2015-02-13 16:58] #106 closed, assigned to nobody

[2015-02-13 16:59] danielbachhuber commented on #136
I can think of a situation where you have a lot of shortcodes and want to break them into sections too (e.g. ones that are always used vs. those that are used just occasionally).

[2015-02-13 17:00] samhermes commented on #100
Confirmed. Thanks guys!

[2015-02-13 17:01] danielbachhuber commented on #155
Nevermind, this turned out to be a JS error #156

[2015-02-13 17:01] #155 closed, assigned to nobody

[2015-02-13 17:25] rogercoathup commented on #151
Can confirm that fixes the problems.  Many thanks.

[2015-02-13 17:34] #100 closed, assigned to nobody

[2015-02-13 23:57] franz-josef-kaiser commented on #139
@sanchothefat Nice to read from you again (after .. years?) :)

Short question: Fieldmanager? wat?

[2015-02-14 00:23] roborourke commented on #139
@franz-josef-kaiser you too, has been a fe years now I guess!

So this is [Fieldmanager](https://github.com/alleyinteractive/wordpress-fieldmanager). Shortcake has built in support for a few of its field types if it detects the Fieldmanager plugin is installed and activated.

The code that outputs the templates is in this file https://github.com/fusioneng/Shortcake/blob/master/inc/fields/class-sho

[2015-02-14 10:08] jitendraharpalani58 commented on #93
@danielbachhuber This issue is a bit unclear to me. We need add a new feature to edit content.
Consider this for example:

[code]

can we add another element with key as content

[code]

Am I thinking it right?

[2015-02-14 10:27] mattheu commented on #140
Confirmed this bug - opening PR now

[2015-02-14 10:40] mattheu commented on #148
:+1:

[2015-02-14 10:47] mattheu commented on #139
I don't think we should let the fieldmanager fields hold us back if we want to go down this route. We can always handle those separately.

[2015-02-14 12:01] mattheu commented on #93
Yes I think that would make things a bit clearer. Currently we just treat an attribute with the attr 'content'  as a speacial case.

[2015-02-14 12:08] franz-josef-kaiser commented on #139
@sanchothefat Yes, you [can add and localize](http://wordpress.stackexchange.com/a/61650/385) non existing scripts. Took me a while to figure that one out, so please refer to the linked WP.SE answer to save yourself some headaches. So no, it's not crazy. It's just WordPress :)

Just from looking at the source, I think this should still allow to let above filter work. But on the other hand, when I

[2015-02-14 12:08] franz-josef-kaiser commented on #139
@mattheu I don't even understand why this plugin has built in support for anything. That should be the task of an adapter plugin or _Fieldmanager_ itself. When looking at the sheer amount of field frameworks, libraries and plugins, I could imagine that it would take a serious amount of code to support even only the major ones and a lot of time to keep up to date. I could also imagine having a bunc

[2015-02-14 12:23] mattheu commented on #139
Essentialy Fieldmanager integration is a 'plugin' for Shortcake. I'm in agreement that it should no longer be budled. I'm opening a new issue.

[2015-02-14 12:32] mattheu opened #160 "Remove fieldmanager fields"
It was a good test case for the customization of shortcake but I think its time to stop bundling it.

Firstly - its confusing - quite a few people are put off shortcake because it seems like it requires fieldmanager.

Secondly - I don't think it should complicate development of shortcake. Of course Shortcake should aim for extensibility - and as before fieldmanager support chould be a great test c

[2015-02-14 12:45] roborourke commented on #160
+1

[2015-02-14 13:23] franz-josef-kaiser commented on #160
:+1:

[2015-02-14 16:56] danielbachhuber commented on #160
Let's package what we have in a separate repo (which I can create next week), and make sure Shortcake doesn't fatal if the fields are missing

[2015-02-14 16:58] danielbachhuber commented on #93
We should remove `content` as a special case, and handle inner content in a proper manner.

[2015-02-15 00:03] soderlind commented on #98
I tried to add this css, but I still can't align the shortcode using the align buttons in tinymce.

[2015-02-15 18:00] danielbachhuber commented on #160
@mattheu I've granted you access to the new repo if you want to take care of it. Otherwise, I can do later this week.

[2015-02-16 05:10] jitendraharpalani58 commented on #93
@danielbachhuber what are you proposing ?
I think having a `content=>{{value}}` pair is a good way to go as it gives an option to support nested shortcodes. Along with this, we can add some front end UI also to support inner content (to make it more intuitive).

So there will be two ways of adding inner content
- via code (`content=>{{value}}`). Default value: true (will show the add/edit button)

[2015-02-16 13:56] chrisvanpatten commented on #131
I agree and think a TinyMCE button makes more sense, or at least as its own button next to Add Media. Whether the Insert Post Element tab gets broken out into its own modal or not is beyond the scope of my opinions though :)

[2015-02-16 15:07] danielbachhuber commented on #93
The current problem is that `content` is a valid shortcode attribute, but we can't use it. We should have a special flag for it instead.

[2015-02-16 22:47] soderlind commented on #104
For some project I like the preview, for other I don't, i.e. I like to be able to disable / enable preview in  register_shortcode_ui
eg:

[code]

[2015-02-16 23:32] mattheu commented on #104
I think this is reasonable. See also https://github.com/fusioneng/Shortcake/issues/127

[2015-02-17 00:26] bfintal commented on #131
+1

[2015-02-17 00:39] danielbachhuber commented on #104
I'd like to refrain from any decisions one way or another until we have solid technical direction on #116.

Whether or not inline editing is feasible for most shortcodes significantly impacts the future of the preview UX

[2015-02-17 12:44] bfintal opened #165 "Support numeric attribute"
I encountered Jetpack's Googlemap shortcode that has this syntax:

`[googlemaps http://blahblahblah.com]`

It's attribute key is numeric, and by the time the shortcode is rendered into the editor view, the attributes get lost in **js/shortcode-ui.js** `formatShortcode()`. The `$attr` variable inside the `add_shortcode` doesn't contain it anymore

I think this should be handled

[2015-02-17 15:14] danielbachhuber commented on #160
Thanks @mattheu

[2015-02-17 15:14] #160 closed, assigned to nobody

[2015-02-17 15:19] danielbachhuber commented on #165
Duplicate of #128

[2015-02-17 15:19] #165 closed, assigned to nobody

[2015-02-17 15:58] bfintal commented on #165
Didn't notice that

[2015-02-17 15:59] bfintal commented on #128
+1 Need it

[2015-02-17 16:27] zedejose opened #166 "Translating Shortcake"
I was about to create a pull request, but decided to check here if my approach is correct, first:
- I see no `load_plugin_textdomain`call anywhere in the code, I assume it's missing and should be there
- Textdomains vary across the code, see https://github.com/fusioneng/Shortcake/blob/master/inc/class-shortcode-ui.php#L80 (textdomain is `shortcode-ui`) and https://github.com/fusioneng/Shortcake/bl

[2015-02-17 16:40] danielbachhuber commented on #166
Correct.

Let's go with `shortcode-ui`, for internal consistency with the rest of the codebase.

+1 automation

[2015-02-17 16:58] danielbachhuber opened #167 "Preview is broken entirely right now"
![image](https://cloud.githubusercontent.com/assets/36432/6232750/0b533786-b683-11e4-9903-788b3ec2d9e9.png)

@mattheu thinks #143

[2015-02-17 18:04] #167 closed, assigned to nobody

[2015-02-17 19:09] danielbachhuber opened #169 "Support for quick edit buttons"
Core's embedded image representation has these nifty alignment quick-edit buttons:

![image](https://cloud.githubusercontent.com/assets/36432/6235133/0a95fec0-b695-11e4-89de-27bca251d4b9.png)

It would be neat if Shortcake:
- Optionally supported these alignment parameters for shortcodes
- Supporting registering arbitrary "Quick edit" shortcode buttons

[2015-02-18 00:33] zedejose commented on #166
Hmmm I've hit a block of not very elegant solution:
- To make it "proper", the `load_plugin_textdomain`call should be made inside the `Shortcode_UI`class, but since that is in a subfolder, I have no way of retrieving the plugin's base dir elegantly (making it 100% portable). I mean I _can_, but it feels hacky and... dirty.
- The other option is to call it in from the main file, like so https://gis

[2015-02-18 00:38] danielbachhuber commented on #166
What if we set a conference and then reference that?

I don't know that 100% portability is a huge concern though. If/when this ends up in core, we'll be changing up the translations anyway.

[2015-02-18 00:44] zedejose commented on #166
works for me, where/when is good?

[2015-02-18 01:02] danielbachhuber commented on #166
Sorry. "Conference" was meant to be "constant"

[2015-02-18 01:07] zedejose commented on #166
constant is also good :)

[2015-02-18 02:55] bfintal commented on #139
I'm not familiar with Fieldmanager, although I think it's used in the attachment field #146, as well as my proposed color field #161. So if unbundled, those fields would have to be adjusted.

[2015-02-18 10:38] mattheu commented on #139
I don't think this will affect anything.

Doesn't look like your color field #161 relies on fieldmanager - and the new image field #146 doesn't - although it replaces a previous image field that did.

[2015-02-18 12:38] nturbanov opened #171 "Add support for wpautop()"
Since there is no possibility to add a TinyMCE field yet, support for wpautop() would be great, ie. a single line break renders a `<br />` and a double line break a `<p>`.

`<?php echo wpautop( $content ); ?>` works in the front-end and the WP editor, but the html tags are visible in the Shortcake textarea, except the very fist opening `<p>` and the very las closing `</p>`.

[2015-02-18 12:57] soderlind commented on #169
+1

[2015-02-18 13:11] soderlind commented on #98
I guess #169 will fix this :)

[2015-02-18 17:56] #166 closed, assigned to nobody

[2015-02-18 20:29] danielbachhuber commented on #171
There's a couple ways you could hack this right now:
1. Hook into the preview actions to add a `<p>` tag before and after.
2. Have some conditional logic in the shortcode that runs the result through `wpautop()` when the context is admin ajax.

I suppose the easiest way to do this would be to run the preview HTML through a filter. It seems messy to have two actions _and_ a filter though.

@mattheu

[2015-02-18 20:29] danielbachhuber commented on #138
I think we'll close this as #maybelater for now. It could be a supplemental plugin that someone builds.

[2015-02-18 20:29] #138 closed, assigned to nobody

[2015-02-18 23:28] mattheu opened #173 "Add a way to check whether an attribute is present."
To allow field scripts to be loaded conditionally

From #161

[2015-02-19 15:29] danielbachhuber commented on #140
Thanks for your work on this, @mattheu

@Danny159 Can you confirm the fix?

[2015-02-19 20:40] danielbachhuber commented on #136
Going with alphabetical by label for now. We can come back to sections later if it comes up again.

[2015-02-19 20:55] #136 closed, assigned to nobody

[2015-02-19 22:55] danielbachhuber opened #176 "iframes can be difficult to select"
Given this example:

![image](https://cloud.githubusercontent.com/assets/36432/6277829/f08be7a2-b846-11e4-8847-c5775c348912.png)

It can be difficult to mouse click and select the iframe, because mouse click events aren't propagated. The only realistic way to select is with keyboard arrows, which isn't intuitive.

For shortcodes that produce iframes, maybe we should have some more clickable UI ele

[2015-02-19 23:01] danielbachhuber opened #177 "Personalize "Insert Post Element" and "Post Element Details""
Because we have the label for the shortcode, we can make this "Insert [Shortcode Label]" and "[Shortcode Label] Details"

[2015-02-20 12:16] mattheu commented on #171
This is a tricky one.

So I think that this should be handled in the JS as thats where the problem lies - rather than adding a filter.

I _think_ we can fix this by running the content through `switchEditors._wp_Nop` in 2 places. Once when outputting the formatted shortcode. Once when parsing the content from the raw shortcode.

I'm going to open a PR with this - but I am a little concerned that i

[2015-02-20 12:22] mattheu commented on #169
+:100: on the alignment

[2015-02-20 13:37] soderlind commented on #169
@mattheu agree, and with alignment being able to set the width is need.

[2015-02-20 14:19] mattheu commented on #169
The issue here however is the wp mceView doesn't really handle this at all...

[2015-02-20 21:59] soderlind commented on #169
Hopefully the work [being done](https://make.wordpress.org/core/2015/01/22/the-case-for-js-modules/) will make it easier to grok wp.*

[2015-02-21 13:22] bfintal commented on #128
As with @bobbingwide's findings, Shortcake renders unnamed attributes as `0="value"`. A fix can be to perform a `preg_replace` to remove those numeric attribute names to make them work with WordPress' shortcode parsing.

[2015-02-21 13:23] bfintal commented on #139
Good to know :+1:

[2015-02-22 12:45] ellatrix opened #181 "TinyMCE views API improvements for 4.2"
Hi,

Just wanted to say that I'm redoing some parts of the TinyMCE views API, so if someone sees any  issues, let me know. Also, If you have any suggestions for improvements in 4.2, let me know too. :)

Thanks!

https://core.trac.wordpress.org/ticket/31412

[2015-02-22 22:13] ellatrix commented on #181
The patch as it currently is will break things.

[2015-02-23 02:11] danielbachhuber commented on #181
@iseulde Can we package a backwards compat shim somehow then?

[2015-02-23 09:16] ellatrix commented on #181
Certainly. I'll see what I can do.

[2015-02-23 11:48] bfintal opened #183 "Checkbox doesn't recognize value = true"
I think `'value' => true` should be make the checkbox option get the default option to be checked. It doesn't seem to be recognized unlike the similar yet different `'value' => 'true'`

[2015-02-23 12:04] bfintal commented on #183
I think WordPress shortcodes parse everything as strings, so if that's true then I guess this is okay.

[2015-02-23 12:04] #183 closed, assigned to nobody

[2015-02-24 00:11] bfintal opened #185 "Failed to load preview when editing in non-post type"
For example, this plugin uses TinyMCE inside Appearance > Widgets: https://wordpress.org/plugins/black-studio-tinymce-widget/

Views always show a "Failed to load preview" because post data cannot be set up. This should work even without post data.

This was reported to us https://github.com/gambitph/Page-Builder-Sandwich/issues/50

[2015-02-24 08:17] mattheu opened #187 "Easy for shortcake field input IDs to conflict"
I was testing the checkbox PR and #182 and noticed that if I used the attribute name 'checkbox', then clicking the label didn't focus the checkbox.

This is because the ID conflicts with another field on the page.

A simple fix would be to prefix `id` and `attr` to avoid conflicts. I don't think this will have any other effects.

[2015-02-24 12:24] danielbachhuber opened #188 "Shortcode preview should trigger a TinyMCE resize"
Otherwise we get clipped content in the editor:

![image](https://cloud.githubusercontent.com/assets/36432/6349218/030febd2-bbdd-11e4-9e13-495a64900ba8.png)

[2015-02-24 12:35] danielbachhuber opened #190 "Resolve hack in renderShortcodeUIMenu"
There's some comment:

[code]

We should fix this

[2015-02-24 12:37] danielbachhuber commented on #187
Let's fix this for v0.2.0 — it would be nice to get out of the way.

[2015-02-24 13:03] danielbachhuber opened #192 "Add browserify to default grunt task"

[2015-02-24 13:04] #140 closed, assigned to nobody

[2015-02-24 13:04] danielbachhuber commented on #142
:ship:

[2015-02-24 13:04] #142 closed, assigned to nobody

[2015-02-24 13:18] danielbachhuber opened #193 "When shortcode preview is selected, "delete" should remove it"
Current behavior is to trigger browser back button

![image](https://cloud.githubusercontent.com/assets/36432/6349960/942c400a-bbe4-11e4-96c6-78e0ca490394.png)

[2015-02-24 15:33] danielbachhuber opened #195 "Shortcode previews dependent on JS are broken"
Caused by #143

Shortcodes dependent on JS need to be sandboxed in an iframe so document.ready fire.

[2015-02-24 15:37] danielbachhuber commented on #195
@mattheu You dropped https://github.com/fusioneng/Shortcake/pull/143/files#diff-0d42b6c6c12ff49c12fe9b436c6e95b0L861 entirely but it's not clear why — I don't think core's code gives us an equivalent.

[2015-02-24 15:38] #192 closed, assigned to nobody

[2015-02-26 19:04] bfintal opened #201 "500 Server Error, need advice"
Hello,

A user had this error:

Need your advice on this one, since it's a weird one. Looking at line `29` there shouldn't be any problem. The server is running on PHP 5.3+ so anonymous functions are okay.

I'm including Shortcake this way:

[code]

[code]

Anything wrong here?

[2015-02-26 19:05] danielbachhuber commented on #201
Your server probably isn't running 5.3 even though you think it is.

[2015-02-26 19:10] #93 closed, assigned to nobody

[2015-02-26 19:15] bfintal commented on #201
That's what I'm thinking since the error is `unexpected T_FUNCTION`. However, he was able to run the plugin before with no problems. Then his host removed the plugin due to this 500 error. Unfortunately, the above error message is the only clue I've got. Ideas?

[2015-02-26 19:18] danielbachhuber commented on #201
https://www.google.com/search?q=unexpected+T_FUNCTION&oq=unexpected+T_FUNCTION&aqs=chrome..69i57.284j0j7&sourceid=chrome&es_sm=91&ie=UTF-8

[2015-02-26 19:29] danielbachhuber opened #202 "Editing a shortcode with iframed preview duplicates the shortcode"
See https://github.com/fusioneng/Shortcake/pull/200#issuecomment-76078140

It appears that the second shortcode always gets added to the beginning of the editor and, if you edit it, changing the duplicate shortcode won't cause a third shortcode to appear.

Previously #195

[2015-02-26 19:30] #195 closed, assigned to nobody

[2015-02-26 19:40] bfintal commented on #201
Alright, just needed confirmation that THAT was the only possible cause of this. Thanks!

Closing this.

@danielbachhuber now off to my PRs _(nudge)_ :point_right: :smile:

[2015-02-26 19:40] #201 closed, assigned to nobody

[2015-02-26 22:26] mattheu commented on #181
I've managed to update this to work fairly easily. Only concern is VIP might deploy this change before 4.2... Quickstart at least will update to trunk right?

[2015-02-26 22:55] #202 closed, assigned to nobody

[2015-02-27 09:52] bfintal opened #206 "Multiple option for select type attributes"
I tried manually adding a `multiple` attribute on an existing `select` attribute to see what the output would be. The output was a csv string containing the values highlighted in the drop down - the correct expected output.

I would suggest adding a `multiple` option that can be used for `select` types.

[2015-02-27 21:02] pbearne opened #210 "Extent this to widgets"
Hi Guys

This more of an idea than an issue

In my plugin author avatars list I provide an TinyMCE plugin with a form in popup to generate a short-code and use the same form in a widget so it can be every page.

I am looking at replacing tinyMCE plugin code with this but that will still leave me with the widget code to maintain.

So to the idea how hard would it be to wrap the generated from into

[2015-02-27 22:29] danielbachhuber commented on #210
Related #153

It would be neat if the "Insert Post Element" interface could be used independently of the shortcode preview (and vice versa).

I'm open to a pull request that attempts this decoupling behavior :) Now that our JS has been abstracted (#142), it should be easier to do

[2015-02-27 22:35] danielbachhuber commented on #176
Resolved by #203

[2015-02-27 22:35] #176 closed, assigned to nobody

[2015-02-27 22:37] danielbachhuber commented on #206
We should really just solve https://github.com/fusioneng/Shortcake/issues/144#issuecomment-73894464, which would support any arbitrary attribute.

[2015-02-28 07:03] bfintal commented on #206
#144 sounds like a good encompassing solution for stuff like this

[2015-02-28 07:03] #206 closed, assigned to nobody

[2015-02-28 07:03] bfintal commented on #144
+1 solves the `multiple` attribute for select types

[2015-03-01 03:57] bfintal opened #211 "content type doesn't display description"
Minor bug: when the attribute type is `content`, the `description` parameter doesn't display anymore.

[2015-03-01 04:06] bfintal commented on #185
Fixed by #186

[2015-03-01 04:06] #185 closed, assigned to nobody

[2015-03-02 15:32] danielbachhuber opened #214 "WordPress 4.2 compatibility issues"
From https://github.com/fusioneng/Shortcake/pull/209#issuecomment-76698566
- Styles aren't imported into the iframes automatically, and I'd rather not have to duplicate this functionaliyt from core.
  - I've opened a ticket on trac - https://core.trac.wordpress.org/ticket/31464
  - Currently no styles are imported so some things look broken
- Sometimes iframe previews are not correctly resized to

[2015-03-02 15:48] danielbachhuber commented on #211
Thanks for the report. Fix coming shortly.

[2015-03-02 15:51] #211 closed, assigned to nobody

[2015-03-04 09:48] dashaluna opened #216 "Radio buttons - the first option is always saved"
When you click to choose radio buttons the blue marker is display correctly next to a chosen option. However, when you do preview or insert, the first option value is always passed.

[2015-03-04 12:34] bfintal opened #219 "Show default message when a shortcode has no fields to edit"
This is more of a UX enhancement. In the Add Post Element UI, when a shortcode is clicked and it doesn't have any attribtues, insert it right away instead of showing a blank UI.

What do you guys think?

[2015-03-04 13:09] danielbachhuber commented on #219
I'm :-1: because it adds inconsistency and complexity to the UX

[2015-03-04 15:29] danielbachhuber commented on #216
@dashaluna Can you confirm the fix?

[2015-03-05 01:40] bfintal commented on #219
No problem, I agree it is inconsistent. The reason for the comment is that when the shortcode doesn't have any attributes, it's a bit awkward to see the UI blank.

[2015-03-05 01:59] danielbachhuber commented on #219
Maybe we should have a default "There are no fields" to edit message?

[2015-03-05 03:55] bfintal commented on #219
I think that do the trick :+1:

[2015-03-05 08:37] bfintal opened #220 "Idea: 2 column layout instead of tabs: attributes & preview"
I was testing out some shortcodes a while ago and I found myself editing the shortcode and going back to the UI a lot just to change some fields.

I would like to suggest that UI layout be changed into 2 columns: left side for the attribute editing and right side would be for the preview. The preview would refresh when an attribute is changed (with a refresh throttler).

Personally, with the curre

[2015-03-05 15:02] danielbachhuber commented on #220
See some past conversation in #61 about why it was implemented as it was. I agree that live preview would be ideal, but it's a crappy UX unless it's realtime.

Related #104

[2015-03-05 17:32] danielbachhuber opened #221 "Search UI can conflict with Post Elements grid"
![image](https://cloud.githubusercontent.com/assets/36432/6510355/68ba75da-c31a-11e4-83c0-f10495d88755.png)

From #137

[2015-03-05 17:32] danielbachhuber commented on #137
One minor issue, but this is looking pretty good otherwise #221

[2015-03-05 17:32] #137 closed, assigned to nobody

[2015-03-05 21:49] danielbachhuber opened #222 "Clicking "Insert Post Element" should always take you back to the list"
![image](https://cloud.githubusercontent.com/assets/36432/6515407/68118226-c33e-11e4-9514-9729371490ca.png)

This always gets me.

[2015-03-05 22:16] scottbasgaard commented on #216
@danielbachhuber works now, thanks for the quick fix!

[2015-03-05 22:16] #216 closed, assigned to nobody

[2015-03-10 12:24] w3guy opened #223 "How to open the shorcode UI dialog when a button is clicked (click event is triggered)"
Great job you've all done with the Shortcode API. i integrated shortcake to a plugin am working on and it's great.

I would love to add a button close to the `Add Media` button using WP `media_buttons` action hook that will open the shorcake dialog when a click event is triggered without having to navigate to **Add media** button >> **Insert post element**

Can you guys point me to the direction t

[2015-03-11 03:39] danielbachhuber commented on #125
@mattheu Cool to ship tomorrow? cc @jitendraharpalani58

[2015-03-13 07:40] w3guy opened #226 "Shortcode getting wrapped with <p> tag when Tinymce is switch to Text mode."
Each time a shortcode is inserted to TinyMCE and switch to Text mode, the shortcode ends up being wrap by a `<p>` tag.

Example

`<p>[user-avatar]</p>`

Please someone point me in the direction to get this fixed cc @danielbachhuber

[2015-03-13 14:47] danielbachhuber commented on #226
I haven't seen this happen with any of our shortcodes before.

To confirm, this is on a fresh install of WordPress, with TwentyFifteen active and all plugins disabled?

[2015-03-13 14:59] w3guy commented on #226
@danielbachhuber  It only happens when i switch to visual mode and back to Text mode. Inserting directly to text mode doesn't include the `p` tag.

Lemme do a test on a fresh install and see.

[2015-03-13 16:20] w3guy commented on #226
@danielbachhuber error was my fault.

**Background**
Am using `wp_editor` to render a TinyMCE editor.

Setting `wpautop` to true or removing it entirely fixed the problem.

I'm closing the issue right now.

Thanks Team fusion.. you guys rock

[2015-03-13 16:20] #226 closed, assigned to nobody

[2015-03-13 22:29] w3guy opened #227 "Doc related: how are options for <select>, radio buttons and checkboxes created?"
text, textarea, email, url, number, and date are straight-forward to implement, how do i create the different options for radio, select, checkbox?

Say the `type` is set to `select` what array parameter is used for defining the options?

cc @danielbachhuber

[2015-03-16 01:28] danielbachhuber commented on #227
`option`: https://github.com/fusioneng/Shortcake/blob/master/inc/templates/edit-form.tpl.php#L52

You don't need to cc me on every issue. I get the notification regardless.

[2015-03-16 01:28] #227 closed, assigned to nobody

[2015-03-16 22:57] mattheu commented on #214
https://core.trac.wordpress.org/ticket/31464 is fixed.

[2015-03-16 23:00] mattheu commented on #223
Internally we have to do this when you 'edit' a shortcode. I think you will want something like this:

[code]

[2015-03-16 23:01] mattheu commented on #181
Closing this issue. Master is now compatable - and there are separate issues for any outstanding problems.

[2015-03-16 23:01] #181 closed, assigned to nobody

[2015-03-18 16:58] danielbachhuber commented on #125
https://wordpress.org/plugins/shortcode-ui/

[2015-03-18 16:58] #125 closed, assigned to nobody

[2015-03-18 16:59] danielbachhuber opened #231 "Create README.md from readme.txt"
Now that we have a readme.txt for WordPress.org (#230), we should treat that as master and build our Github README.md from it.

https://github.com/benbalter/WP-Readme-to-Github-Markdown could be helpful.

[2015-03-18 21:26] danielbachhuber commented on #214
Yep, 31464 is good for our needs.

[2015-03-19 03:47] w3guy commented on #223
Worked. Thanks @mattheu

[2015-03-19 08:02] #223 closed, assigned to nobody

[2015-03-19 12:29] w3guy opened #234 "Shortcode attribute dialog blank when visual editor (rich_editing) is disabled by the user"
Came across this bug few minute ago.

Note: am using shortcake to easily insert some custom shortcode i made in my post.

I disabled the `visual editor` in my WordPress profile and when i tried to use shortcake, the attribute dialog turn out blank.

See images below for clarity.

![visual-editor](https://cloud.githubusercontent.com/assets/4140659/6730244/ee21c2fc-ce3a-11e4-9a46-da758525d7c9.png)

[2015-03-19 14:16] danielbachhuber commented on #234
Thanks for the report — we'll take a look into this.

[2015-03-19 19:53] danielbachhuber opened #236 "Add rich text as a potential field"
For shortcodes where you might want to grant the user basic HTML, it would be helpful to apply TinyMCE to a field and grant basic WSYWIG access.

[2015-03-22 02:55] w3guy commented on #227
Got the cc part.

It isn't `option` but `options`.

For future reference, here is a sample code.

[code]

Where the array key is the attribute value and the array-value the option label.

[2015-03-22 15:11] w3guy opened #237 "Cant get "inner_content" working.. Peep in to correct my code"
Here is my code

[code]

[2015-03-22 15:18] jitendraharpalani58 commented on #237
@Collizo4sky if you are using `inner_content` you will not need `attr=>'content''. If you just need a field for inner content, you could suffice:

[code]

Also, `attr` is an array, for example:

[code]

[2015-03-22 15:32] w3guy commented on #237
I understand but the problem is, it isn't working. i.e the attribute dialog is empty.

Ok see. i used this code your provided

[code]

This is the result

![wmpty-shrt](https://cloud.githubusercontent.com/assets/4140659/6769957/f9ce2438-d0b0-11e4-9626-aa43a2f87f2d.png)

[2015-03-24 16:02] w3guy commented on #237
#238 ##Bug Alert

inner_content textarea appear on the dialog of shortcode that originally do not support or include the inner_text content.

Eg i have a shortcode with no attribute.. prior to this commit, the dialog becomes blank which is expected but after this comment, inner_text textarea appears on `all` shortcodes regardless of whether it is needed or not.

![bug](https://cloud.githubusercont

[2015-03-24 18:38] w3guy commented on #234
I will be very happy if this bug is fixed as soon as possible. My clients are seriously on my neck.

I will be happy if you guys provide me a temporary fix while waiting for the an official fix to the plugin

[2015-03-25 09:23] w3guy commented on #234
Well i found a temporary fix to this issue by using css to make hidden the visual tinymce tab when users has rich editing disabled.

[2015-03-25 14:33] MWDelaney opened #239 "Shortcode preview inline-block or floated"
Hello!
This is a great tool and I'm eager to integrate it into my shortcode plugins. Having a single, predictable UI for inserting and editing shortcodes is a noble goal and I'm excited to see it!

Is it possible to make a shortcode preview either inline-block or floated, the way TinyMCE floats images? Many of my shortcodes tend to be for inline elements (like Font Awesome icons) and the full-widt

[2015-03-25 19:48] jeromydarling opened #240 "Incompatible with PHP 5.3?"
Myself and a number of others users are running into this issue activating Shortcake:

Parse error: syntax error, unexpected T_FUNCTION in /wp-content/themes/aurelia/framework/shortcake/shortcode-ui.php on line 29

Does shortcake require PHP 5.4?? I have no plugins installed

[2015-03-26 17:39] toolstack opened #241 "Attribute values without quotation marks are ignored"
A shortcode like:

`[testcode attr=yes]`

fails to parse the value of the attribute as it is not enclosed in quotation marks (ie. `[testcode attr="yes"]`).

The problem is on line 158 of shortcode-view-constructor.js:

`attributeMatches = matches[2].match( /(\S+?=".*?")/g ) || [];`

".*?" restricts the match to only attributes with quotation marks around their values.

[2015-03-26 18:00] cjmaio opened #242 "Allow for HTML in the 'description' attribute when registering shortcode"
It would be incredibly useful to allow for HTML in the 'description' attribute when registering a shortcode.

For example, when I add a field called 'icon' for an end user to add in a Font Awesome icon, I want to give them the URL to the list of icons. When I tried it, I ended up with this:

[code]

I am not sure if that was done on purpose or not. If not, I may submit a PR with this functionality

[2015-03-26 20:41] whyisjake opened #243 "Custom View is showing up, but not the Add Media view..."
[code]

Using this code, but no workie..

![image](https://cloud.githubusercontent.com/assets/848187/6856511/c975581e-d3bd-11e4-89bf-3b1ec78bcd2b.png)

![image](https://cloud.githubusercontent.com/assets/848187/6856513/cde3280e-d3bd-11e4-984e-31d829f09038.png)

[2015-03-27 11:07] danielbachhuber commented on #240
It requires PHP 5.3. The error message you're seeing indicates you're running PHP 5.2 or lower.

[2015-03-27 12:14] jeromydarling commented on #240
I'm on site5 and running 5.3.x according to their KB:

http://kb.site5.com/php/how-to-change-your-php-version/
 On Mar 27, 2015 6:07 AM, "Daniel Bachhuber" notifications@github.com
wrote:

[2015-03-27 12:34] danielbachhuber commented on #241
Thanks — we'll get this fixed.

[2015-03-27 12:36] danielbachhuber commented on #239
Not at the moment. You can follow #169 for progress on that request though.

[2015-03-27 12:36] #239 closed, assigned to nobody

[2015-03-27 12:42] danielbachhuber commented on #240
Nope, you're running PHP 5.2 or lower. You should triple-check your config.

[2015-03-27 12:44] danielbachhuber opened #244 "Repeatable fields"
[Request from WordPress.org](https://wordpress.org/support/topic/still-needs-work-but-its-a-game-changer):

[2015-03-27 12:48] toolstack commented on #241
Thanks, I've started poking at it, I've got about 50% of a solution in place.

[2015-03-27 12:48] danielbachhuber commented on #243
@whyisjake Is this in a stock install of WordPress, or Wired's instance? If the latter, could you have some conflicting media library code?

[2015-03-27 13:32] toolstack commented on #241
Here's a replacement parseShortcodeString that handles quoted and unquoted values, attributeRegex is pulled straight from WordPress's shortcode parser:

[code]

[2015-03-27 20:41] toolstack commented on #241
I forked and created a pull request for the above code as well as a few other additions.

[2015-03-28 14:45] mattheu opened #247 "Preview rendering twice following update"
Affects WP trunk + Shortcake master. If you update an existing element, it gets inserted twice.

This issue is only present after https://core.trac.wordpress.org/changeset/31832

I have opened a ticket on trac to track this issue: https://core.trac.wordpress.org/ticket/31796

[2015-03-28 14:46] danielbachhuber commented on #247
Thanks @mattheu !

[2015-03-30 21:38] mattheu commented on #243
Just got round to looking into this. I've not encountered the issue.

I just tested this code locally and all was working fine. I tested Shortcake v0.2.1 and WP 4.1.1. Also Shortcake master and WP trunk.

Would be happy to help further. I wonder if you (or a plugin) is doing anything to modify `wp.media.view.MediaFrame.Post`

[2015-03-31 14:29] StaggerLeee opened #250 "Examples repository"
Would it be difficult to manage some kind of users code repository ? Some place where people can leave their code, possibly with screenshots what this code does. You have one example.

So that beginners can study code and get whole picture what is possbile and what not. Maybe reuse some snippets and adapt them to own needs.
I see they exist everywhere, but still not complete snippets.

I mean I co

[2015-03-31 17:25] FriendlyWP opened #251 "Call to undefined function is_rtl() in theme.php on line 1380"
Hi, I'm getting the fatal error `Call to undefined function is_rtl() in ... wp-includes/theme.php on line 1380` when Shortcake is running and I'm editing a page/post.

When I comment out line 30 of inc/class-shortcode-ui.php (`$this->add_editor_style();`) the error disappears. It seems like everything works fine without that line, including the loading of the plugin's editor stylesheet.

[2015-03-31 17:42] mattheu commented on #251
I'll take a look at this. Are you running into this issue on the standard post edit page in the WP Admin?

[2015-03-31 17:42] mattheu commented on #250
:) I think the Wiki on github would be a great place for stuff like this.

[2015-03-31 17:43] mattheu commented on #247
Fixed in https://core.trac.wordpress.org/changeset/31931

[2015-03-31 17:43] #247 closed, assigned to nobody

[2015-03-31 17:43] FriendlyWP opened #252 "Referencing shortcake in another plugin / plugin load order?"
Hi, I have Shortcake installed and everything works fine if I reference it from within my theme's functions.php file. I'm trying to move my shortcodes into a separate functionality plugin, however, and when I do I run into the issue of Shortcake not being available if my plugin loads before Shortcake.

If my plugin is named zzz-plugin-name, it loads after shortcode-ui and everything works fine.

I

[2015-03-31 17:46] mattheu commented on #242
Thanks for reporting. I think this is a fairly common requirement. There is a PR already - https://github.com/fusioneng/Shortcake/pull/189

When data is passed to an Underscores templates - you need to explicitly allow unescaped output. We'll look into a workaround.

[2015-03-31 17:51] FriendlyWP commented on #251
It was editing a Page, but yes, the standard post.php edit screen.

[2015-03-31 17:56] StaggerLeee commented on #250
Please add it to explanation on Github main page. This issue will be quick lost among others.
https://github.com/fusioneng/Shortcake

[2015-03-31 17:56] danielbachhuber commented on #250
We can do as a part of #231

[2015-03-31 18:04] danielbachhuber commented on #252
You should hook your registration calls on `plugins_loaded`:

[code]

[2015-03-31 18:04] #252 closed, assigned to nobody

[2015-03-31 18:18] danielbachhuber commented on #237
@Collizo4sky Can you confirm the fix on `master`?

[2015-03-31 18:18] #240 closed, assigned to nobody

[2015-03-31 18:42] whyisjake commented on #243
Yeah, turns out we had some code that hijacked things. Working now.

Cheers.

[2015-03-31 21:24] whyisjake commented on #243
This is the offending code. I'm not really very familiar with Backbone, but something here is stomping out the links that are created from the shortcode ui.

[code]

[2015-03-31 22:17] mattheu commented on #243
Thanks Jake - I was able to replicate the issue using the code you provided. The way we're integrating with the media modal can definitely be improved. I'll dig into this a bit further.

[2015-03-31 23:43] whyisjake commented on #243
Thanks @mattheu.

[2015-04-01 05:00] w3guy commented on #237
@danielbachhuber works flawlessly. Please update the WP repo.

[2015-04-01 09:12] them-es commented on #251
To reproduce this issue you need to install the [RTL Tester Plugin](https://wordpress.org/plugins/rtl-tester/)

Workaround is to run 'add_editor_style' in class-shortcode-ui.php after the theme has been setup
`add_action( 'after_setup_theme', array( $this, 'add_editor_style' ) );`

[2015-04-01 12:56] danielbachhuber commented on #237
We will ship v0.3 in the next month or so. In the interim, you're welcome to use the `master` branch of this repo.

[2015-04-01 12:56] #237 closed, assigned to nobody

[2015-04-01 13:05] #251 closed, assigned to nobody

[2015-04-01 14:40] danielbachhuber commented on #250
We now have https://github.com/fusioneng/Shortcake/wiki/Shortcode-UI-Examples

It will be linked to in the readme shortly. I'd love some help fleshing it out, formatting, etc. :)

[2015-04-01 14:40] #250 closed, assigned to nobody

[2015-04-01 14:44] #231 closed, assigned to danielbachhuber

[2015-04-01 14:48] StaggerLeee commented on #250
Thank you. Unfortunately cannot help with anything right now. Have no clue how to use it and dont have any snippet yet.

[2015-04-01 15:29] mattheu opened #257 "https://core.trac.wordpress.org/ticket/31480"
Keep an eye on this - https://core.trac.wordpress.org/ticket/31480

Arguments passed to render are changing - will need to make a small change when this gets merged.

[2015-04-01 15:30] danielbachhuber commented on #257
Will we need to shim for 4.1?

[2015-04-01 15:30] danielbachhuber commented on #214
Closing in favor of #257

[2015-04-01 15:30] #214 closed, assigned to nobody

[2015-04-01 15:34] mattheu commented on #257
No - We already have backwards compat by keeping around the old view object - as the structure of this code was changed.

[2015-04-01 18:54] BenChirlinn commented on #243
I've narrowed down the issue to this line in our custom media uploader code `var frame = wp.media.editor.add('content');`. My guess is it's stomping out your custom uploader with a new basic one from the default template in the page. Is there an easy way for our code to fetch out your custom frame object and add our custom router items to it?

[2015-04-02 02:24] jimmyandrade opened #258 "Ability to add attributes such as "min", "max" and "step" to the numeric field."
Here's one suggestion for how to do this...

First, a function to add the fields...

[code]

An example of how to call:

[code]

[2015-04-02 13:06] danielbachhuber commented on #258
Is this a question?

[2015-04-03 06:23] StaggerLeee opened #259 "Createer WP Plugin"
https://beta2.createer.com/Wordpress

Take a look at this. What is this ? Something like Visual Composer or better. And can you maybe use some inspiration from this, or is this completely different visual editing platform. (bypassing WP editor at whole)

[2015-04-03 18:17] jimmyandrade commented on #258
No. As I wrote above, it's a suggestion. It would be nice if the attributes "min", "max" and "step" were supported when adding a numeric field related to some shortcode attribute.

But it is still a question: support for these attributes already exist? I couldn't find it when browsing the plug-in code. After all, I'm sorry if I expressed myself badly. My English is not the best ;)

[2015-04-03 21:52] danielbachhuber commented on #258
Not yet. Hopefully coming in v0.3 with generic support for attributes: #212

[2015-04-03 21:52] #258 closed, assigned to nobody

[2015-04-05 07:35] bfintal opened #260 "Undefined index: attrs"
I'm getting this error notice since I have shortcodes defined that don't have any attributes:

[2015-04-06 17:12] danielbachhuber commented on #257
@mattheu Can this be closed, or are there other changes we'll be waiting for?

[2015-04-06 17:13] mattheu commented on #257
Nope we can close.

[2015-04-06 17:13] #257 closed, assigned to nobody

[2015-04-06 19:31] danielbachhuber commented on #259
Thanks for the heads up!

[2015-04-06 19:31] #259 closed, assigned to nobody

[2015-04-06 19:54] mattheu opened #264 "dev.php - Example shortcode."
We currently have dev.php that includes an example shortcode. Its great for pople getting started, as well as development.

The file just needs to be included.
- It was brougt up in the chat this month that this could be enabled in the beta tester plugin.
- I keep committing this include by mistake ;)
  - daniel suggested a git pre commit hook.

Probably some improvements that can be made here.

[2015-04-06 20:05] danielbachhuber commented on #264
We can also add plugin headers to the `dev.php` file so WordPress recognizes it for activation in the admin. This would be my suggestion.

[2015-04-06 20:16] mattheu commented on #264
Didn't know you could do that... good idea.

[2015-04-07 08:19] phh opened #265 "Broken Dependencies - shortcode-ui (missing)"
From Query Monitor:

| Scripts |  | Dependencies |
| --- | --- | --- |
| Broken Dependencies | shortcake-field-attachment http://***/wp-content/plugins/shortcode-ui/js/build/field-attachment.js | shortcode-ui (missing) |

[2015-04-07 14:09] CybMeta commented on #99
I also think a "editor" field type would be great, specially for shortcodes that outputs block elements.

[2015-04-07 14:12] CybMeta commented on #99
I just saw this added for v0.3.0 milestone: https://github.com/fusioneng/Shortcake/issues/236

[2015-04-07 16:22] danielbachhuber commented on #265
@phh Sorry, not sure what this is referring to and the attachment field seems to work fine. Can you clarify?

[2015-04-07 18:03] danielbachhuber commented on #260
@bfintal Can you confirm the fix?

[2015-04-07 20:36] phh commented on #265
Due to this error from the query monitor plugin:
![shortcake issue](https://cloud.githubusercontent.com/assets/1304003/7032957/b77b9908-dd76-11e4-81f9-f0168899dfbd.png)

But it seems like the script is enqueued. Maybe a query monitor issue then?

[2015-04-07 20:45] danielbachhuber commented on #265
cc @johnbillion

[2015-04-07 20:49] johnbillion commented on #265
What screen are you seeing this error on?

[2015-04-07 20:56] phh commented on #265
Everywhere inside the admin area.

[2015-04-07 20:58] johnbillion commented on #265
Found it.

This is actually a broken dependency in Shortcake. The `shortcode-ui` script is only registered on the `wp_enqueue_editor` action, but the `shortcake-field-attachment` script is enqueued everywhere and depends on `shortcode-ui`.

This means on screens other than the post editing screen the `shortcake-field-attachment` script has a broken dependency and doesn't get enqueued.

[2015-04-08 06:37] hirejordansmith opened #267 "Issue with shortcodes displaying in Post Editor for v0.2.2"
I updated a few sites that I'm using Shortcake on (thanks so much btw!) and after I did, I am unable to see the actual shortcode content in the post editor. I just see the media loading graphic but it never actually loads. http://grab.by/GeZk

There don't appear to be any issues with actual functionality on the front end but I think my clients would be confused by this.

I downgraded back to v0.2.

[2015-04-08 06:38] hirejordansmith commented on #236
Yes Please!

[2015-04-08 10:15] chrisvanpatten commented on #267
I've noticed this as well. Flipping to the text editor and back to visual fixes it.

I upgraded the dev copy of my site from 4.1.1 to 4.2-trunk and that fixed it, so I'm guessing it's related to some of the 4.2 compat fixes. I'm running back through commits to see where it broke... I'll report back if I figure it out.

[2015-04-08 10:24] chrisvanpatten commented on #267
So as far as I can tell the last commit that worked in 4.1.1 was 1575335fa623250c48523d46071d421b08d73e0e, which suggests to me that it's a problem in 9005e709454fd25d8346e445a5be07fca5f81267. Maybe those 'true's are required?

[2015-04-08 11:36] danielbachhuber commented on #267
Dang. I didn't see this in my testing. Can you provide explicit reproduction steps?

[2015-04-08 14:26] bpdeconi commented on #267
I'm experiencing this as well. Here's what I've experienced:

1) Add Media > Insert Post Element > Select your shortcode
2) Fill out the attributes, click Insert Element. Important: Don't click the Preview tab.
3) Result: Loading placeholder appears in the editor, but never resolves into the shortcode content.
4) Click the edit button your shortcode element, but don't make any changes.
5) Click Up

[2015-04-08 16:15] danielbachhuber commented on #267
Hm, I can't reproduce using these steps. @mattheu's PR makes sense to me though.

[2015-04-08 16:21] danielbachhuber commented on #267
@bpdeconi @chrisvanpatten Can you confirm the fix?

[2015-04-08 16:32] #267 closed, assigned to nobody

[2015-04-08 16:33] danielbachhuber commented on #265
Makes sense. We'll get this fixed.

[2015-04-08 16:57] bpdeconi commented on #267
@danielbachhuber Yes, this is fixed for me.

[2015-04-08 17:56] hirejordansmith commented on #267
Working like a charm on every site I just updated to v0.2.3. Thanks so much for your work on this plugin. I've been looking for a reliable shortcode UI for some time.

[2015-04-08 19:17] danielbachhuber commented on #267
Glad to hear! Thanks for following up.

[2015-04-08 19:39] chrisvanpatten commented on #267
Can confirm it's all good for me too. Thanks! :rocket:

[2015-04-13 11:06] zu opened #270 "Where to find more info?"
I'd love to have some more infos eg. on what fieldtypes are available. Any hints on where to find it?

[2015-04-13 19:14] #260 closed, assigned to nobody

[2015-04-14 00:00] danielbachhuber commented on #270
See: https://github.com/fusioneng/Shortcake/wiki/Registering-Shortcode-UI

`text, checkbox, textarea, radio, select, email, url, number, and date.`

You can also use `attachment`.

[2015-04-14 00:00] #270 closed, assigned to nobody

[2015-04-14 14:58] chrisvanpatten commented on #236
Ooooh yes this'd be great!

[2015-04-15 22:07] danielbachhuber commented on #222
@mattheu Can you provide me some direction on how you think this should be done?

I _think_ I should be registering a new event listener to `MediaController`, and calling `MediaController.refresh`. This is as far as I've gotten though.

[2015-04-15 22:11] danielbachhuber opened #274 "Release v0.3.0"
- [ ] Update readme.txt
- [ ] Update `.pot` file
- [ ] Write an announcement post
- [ ] Push to WordPress.org

[2015-04-15 22:23] danielbachhuber commented on #177
Modifying "Insert Post Element" is somewhat blocked by https://github.com/fusioneng/Shortcake/issues/222#issuecomment-93582258

[2015-04-16 13:41] #264 closed, assigned to nobody

[2015-04-17 14:10] #148 closed, assigned to danielbachhuber

[2015-04-17 14:13] #219 closed, assigned to danielbachhuber

[2015-04-20 16:31] mattheu commented on #236
I think that this is a blocker for this one: https://github.com/fusioneng/Shortcake/pull/179

[2015-04-20 17:54] #187 closed, assigned to nobody

[2015-04-20 19:22] danielbachhuber opened #281 "De-couple Shortcake from the Media Library"
Let's make it possible to use Shortcake independently of the Media Library. There should be an "Add Post Element" button which appears alongside "Add Media". In the Media Library, we should still have an "Insert Post Element" link in the side nav.

Discussion in https://wordpress.slack.com/archives/feature-shortcode/p1429556818000361

Previously #153

[2015-04-20 19:26] danielbachhuber commented on #153
Our `enqueue_shortcode_ui` action has proved sufficient for loosely-coupling assets. We'll continue with the conceptual paradigm discussion in #281

[2015-04-20 19:26] #153 closed, assigned to nobody

[2015-04-20 19:27] mattheu commented on #244
Going to punt this from 0.3.
- I'm not sure how to do this with the current structure.
- I'm also wary of rewriteing the whole thing and building fieldmanager
- We should reach out to the Metadata API featured plugin project to ask about this.
- I'll hold off assigning a new milestone until this has better direction

[2015-04-20 19:29] danielbachhuber commented on #243
Punting to next milestone.

[2015-04-20 19:31] #265 closed, assigned to danielbachhuber

[2015-04-20 19:36] mattheu commented on #236
Pusing to 0.4.

Perhaps we could encode this data in order to work around the complications with nested HTML in shortcodes.

[2015-04-20 20:42] zu commented on #281
I'd support the idea of having the chance to use shortcake without the "Add Media.." button but rather for each element having a button or a dropdown in the editor toolbar. As for example a quote (as is in the example) is not a "media" and it's really not intuitive at all to find this kind of shortcode in the media gallery.

[2015-04-20 21:55] StaggerLeee commented on #244
So it means we could use Shortcake as best possible visual tables editing TinyMce tool ?
If it is so it is revolutionary.

[2015-04-21 12:36] danielbachhuber commented on #123
@bobbingwide we've just added a `post_select` field which permits the selection of a single image. However, galleries aren't easily accommodated. Is it worth opening another issue for media selection?

[2015-04-21 12:43] mattheu commented on #123
We should be able to support galleries as part of the attachment field I think. I think we should open a ticket. I've had this request before.

Also related is #244

[2015-04-21 12:44] mattheu opened #283 "Support galleries, or comma-separated lists of IDs"
The Attachment field should support galleries. Allowing you to add multiple files which will be stored as a comma separated list.

[2015-04-21 12:44] mattheu commented on #283
From #123

[2015-04-21 12:54] #123 closed, assigned to nobody

[2015-04-21 13:06] danielbachhuber commented on #234
Related #153

[2015-04-21 13:07] danielbachhuber opened #284 "Move JavaScript source files into `js/src`"
As they're currently structured, it's difficult to search.

[2015-04-21 13:07] danielbachhuber commented on #284
Need to do this after the other pull requests are in to prevent merge conflicts.

[2015-04-21 13:15] danielbachhuber commented on #234
Thanks again for the report @Collizo4sky. Turned out to be relatively straightforward.

[2015-04-21 13:19] w3guy commented on #234
The pleasure is all mine. :dancer:

[2015-04-21 13:53] #234 closed, assigned to danielbachhuber

[2015-04-21 14:13] danielbachhuber opened #287 "Capture return event when focus on on a field"
When editing a shortcode, if the focus is on a shortcode field, `Return` should save the shortcode.

The current behavior is that the post is saved.

[2015-04-21 14:14] #241 closed, assigned to nobody

[2015-04-21 15:38] danielbachhuber commented on #171
Moving this out of v0.3.0

[2015-04-21 19:18] danielbachhuber commented on #177
I'm fine with just #275 for now.

[2015-04-21 19:18] #177 closed, assigned to danielbachhuber

[2015-04-21 20:13] #222 closed, assigned to danielbachhuber

[2015-04-22 09:42] mattheu opened #292 "Remove legacy support for placeholder property"
Now set as part of meta object.

Introduced https://github.com/fusioneng/Shortcake/pull/291

[2015-04-22 11:10] bobbingwide commented on #123
@danielbachhuber OK. I'll have a look and see if I can use it.
But it's not just attachments are referenced by post ID.

[2015-04-22 11:31] mattheu commented on #123
The post select allows you to specify any query you want so should be able to select any post type.

[2015-04-22 13:52] danielbachhuber opened #293 "Abstract utility for generating HTML attribute string from array"
There's a bit of copy pasta in #291, specifically https://github.com/fusioneng/Shortcake/pull/291/files#diff-4891c5a8a1c3d1eb0914f86fd88c00b9R374

It would be nice to abstract this out to a common helper with tests.

[2015-04-22 13:54] #144 closed, assigned to nobody

[2015-04-22 13:58] danielbachhuber commented on #126
@bobbingwide Does `inner_content` attribute solve this for you?

[2015-04-22 13:59] danielbachhuber commented on #86
@mattheu This is solved now, right?

[2015-04-22 14:00] danielbachhuber commented on #84
This was fixed upstream in core.

[2015-04-22 14:00] #84 closed, assigned to nobody

[2015-04-22 14:01] danielbachhuber commented on #98
Let's keep #169 for tracking alignment.

[2015-04-22 14:01] #98 closed, assigned to nobody

[2015-04-22 14:34] mattheu commented on #86
I'm happy to close.

Its solved in that core doesn't support them so I don't think we need to either. Although shortcake does seem to handle them fine.

[2015-04-22 14:35] mattheu commented on #86
Actually - now we're using the shortcode regex from core - they don't work.

[2015-04-22 14:35] #86 closed, assigned to nobody

[2015-04-22 14:55] #284 closed, assigned to nobody

[2015-04-22 15:58] mattheu opened #295 "Enforce coding standards for JS"
Following on from - https://github.com/fusioneng/Shortcake/pull/290#issuecomment-95245184 - we should have a grunt task that scans JS files.

[2015-04-22 22:40] bobbingwide commented on #281
Why does it have to be a button next to Add Media?
My dialog for inserting shortcodes is accessed via a toolbar button for TinyMCE and a quicktag for the HTML editor.
http://www.oik-plugins.com/wordpress-plugins-from-oik-plugins/oik-base-plugin/oik-options/oik-options-buttons/oik-shortcodes-button/
I haven't changed it much since April 2012... waiting for someone to develop a better UX :-)

With o

[2015-04-23 17:58] danielbachhuber opened #298 "Fix enqueued fields"
404 in production:

![image](https://cloud.githubusercontent.com/assets/36432/7303749/82b38f90-e9a7-11e4-84c2-8933b93433cd.png)

[2015-04-23 18:14] #298 closed, assigned to nobody

[2015-04-23 18:23] bfintal opened #300 "Creating 2 same shortcodes turn the first into its loading state"
Replicate:
- Create a new page
- Create an X shortcode (any)
- Create another X shortcode (the same)

Result: ![result](http://cl.ly/image/3N1d3I0g131l/Image%202015-04-24%20at%202.21.16%20AM.png)

Tested with a master copy a few days ago, version v0.3-alpha. And testing in WP 4.2-RC4-32277

[2015-04-23 22:34] danielbachhuber commented on #300
I can reproduce when the shortcodes have the same arguments. When they have different arguments, it works as expected.

Does it reproduce in earlier versions?

[2015-04-24 06:18] bfintal commented on #300
Before updating to RC4, I also previously tried in WP 4.2-RC1 and the same thing happens

[2015-04-24 11:58] mattheu opened #301 "Continuously fetching shortcode preview bug when Shortcode content is empty."
If a shortcode preview response is successful but empty, then shortcake will attempt to fetch the preview again. This will happen continuously.

The fetch is triggered in the `getContent` method - when no content is found.

However a super-simple fix for this is to trigger the ajax request on initialization.

This will fix the infinite requests bug, but the preview will still be broken - MCE views

[2015-04-24 12:30] danielbachhuber commented on #301
I think an error message would be appropriate. Or our own view that says "this post element has no output"

For all the shortcodes we have, I haven't yet started to throw misconfiguration notices for when the shortcode has no output.

[2015-04-24 12:59] mattheu commented on #301
Actually - I think typically a shortcode shouldn't display an error notice on the front end of a site. Failing silently would often be better.

I'm up for having some kind of notice.

[2015-04-24 15:43] mattheu opened #303 "Error message for empty shortcode."
A shortcode content can be intentionally empty. How should previews for this be handled?
- By default - the view will continue to show as loading.
- We need to display something - otherwise there is no anchor to click on to edit the shortcode.
- As of #302 we fall back to display only the formatted shortcode.

Would be nice to avoid exposing users to the shortcode at all. What error message would

[2015-04-24 15:43] mattheu commented on #301
Fixed in #302.

Opening a new issue to discuss error mesages. #303

[2015-04-24 15:43] #301 closed, assigned to nobody

[2015-04-24 15:45] danielbachhuber commented on #303
I dig that mockup. The text could be "No Preview Available for [shortcode arg=1]" just so it's clear which shortcode it is.

[2015-04-24 20:27] noppanit commented on #55
@danielbachhuber I believe this can be closed?

[2015-04-24 20:28] noppanit commented on #295
@mattheu you thinking JSLint?

[2015-04-24 20:28] danielbachhuber commented on #55
Yep, we've got good coverage now :)

[2015-04-24 20:28] #55 closed, assigned to nobody

[2015-04-25 18:21] hirejordansmith opened #305 "Parse error: syntax error, unexpected T_FUNCTION (when I activate plugin)"
I'm getting this error when I try to install and activate the plugin on a new site (using newest version)

Parse error: syntax error, unexpected T_FUNCTION in /home2/trainit2/public_html/nicolaiyde/wp-content/plugins/shortcode-ui/shortcode-ui.php on line 31

I've done a theme / plugin conflict test and the issue persists with no plugins active and using base WP 2015 theme.

I have shortcake instal

[2015-04-25 19:42] danielbachhuber commented on #305
Shortcake requires PHP5.3+

[2015-04-25 19:42] #305 closed, assigned to nobody

[2015-04-26 17:01] bfintal commented on #300
Also happens in the released 4.2

[2015-04-26 19:31] zu opened #306 "possible to render a shortcode without adding an ui?"
Just a question/feature request that I don't know where else to ask.

I' d like to use shortcake to render an existing shortcode from a plugin (Delightful Downloads).
There is no need for a UI as the plugin has its own. I only want to see it in TinyMCE as it would be in the frontend. And surely I'd expect to open the Download Edit page on click on the rendered element.

Would this be possible? And

[2015-04-26 20:45] danielbachhuber commented on #306
Seems possible, although it would need a fair bit of custom code.

You'll likely need to hire help if you're unable to get started on your own.

[2015-04-26 20:45] #306 closed, assigned to nobody

[2015-04-27 19:49] #300 closed, assigned to nobody

[2015-04-28 09:17] chdenat opened #312 "Incorrect content rendering when inserting HTML"
I've just installed  the 0.3 release and got an issue with inner content.

Here's my piece of cake (upgraded to take into account the inner_content.

[code]

Then  I create a new shortcode entry in my post using the shortcake ui and put

[code]

In the shortcode edit menu, the preview is nice, my shortcode content is well formatted, my css classes are applied...So good.

But in my post edit the re

[2015-04-28 17:05] danielbachhuber commented on #312
You've registered the new UI appropriately. There's a bug in core though: https://core.trac.wordpress.org/ticket/32078

[2015-04-29 15:03] goldenapples opened #316 "Implement events on attribute fields that can be listened to"
I'm working on an issue that requires listening to changes on an attachment field, and updating other fields in a shortcode if they're not already set with the values from the attachment.

This seems as though it would be much easier to do if each field surfaced some custom events which could be listened to by another controller.  Would it make sense for each view to trigger an event in its `updat

[2015-04-29 15:51] noppanit commented on #316
I don't think it's been discussed. Are you thinking of something like KnockoutJs or AngularJs? with observer pattern?

[2015-04-29 16:05] goldenapples commented on #316
Yeah, my initial thought was to how in AngularJs, it would be something like `$scope.$emit('eventname', data)`, then you would need to attach a listener on the rootScope to pass that data to another scope.

In Backbone, the pattern seems to be to broadcast an event from a view like `this.trigger('eventname', data)` and then listen from another backbone model like `this.listenTo( editAttributeField

[2015-04-29 16:09] danielbachhuber commented on #316
When I was working on `editAttributeField` last, I was thinking it might be useful to have some base attribute model each field should extend.

[2015-04-29 17:57] methnen commented on #132
Additionally you can insert a shortcode into a post before any required attributes have been added which results in something like this:

`[shortcode ]`

Would be nice if the same 'required' parameter for a UI field also disabled in the **Insert Element** button until all required parameters were filled out.

[2015-04-29 23:06] dovy commented on #169
Clone anyone?  ;)

[2015-04-30 14:33] bastienho commented on #123
Hi, the same feature for taxonomies or custom lists would be very useful

[2015-05-01 18:40] brentjett opened #317 "UI Breaks inline shortcodes. Adds line breaks."
The UI treats all registered shortcodes as block level elements and adds line breaks when they are inserted into a sentence. Some shortcodes are meant to be inline and are broken by the visual editor. Example:

This shortcode would be broken into multiple lines by the UI plugin and then saved as:

[2015-05-01 18:46] danielbachhuber commented on #317
I'm filing this as an enhancement, because we've always treated previews as blocks, but inline seems like a reasonable enhancement.

[2015-05-01 18:56] brentjett commented on #317
Ok thanks! For the moment it seems the best way to keep these inline shortcodes from breaking is to not register them with shortcake. Would be great to be able to insert them from the UI like the others. Thanks! Great project. I might be interested in helping.

[2015-05-06 19:59] danielbachhuber opened #318 "Attachment field incorrectly assumes thumbnail image size exists"
https://github.com/fusioneng/Shortcake/blob/master/js/src/field-attachment.js#L91

Core has some fallback to `full` when `thumbnail` metadata doesn't exist, which we should have too.

We should also make sure we're preparing our data so Photon and other services can kick in to filter the image URL.

[2015-05-06 20:09] danielbachhuber opened #319 "Attachment Field: Include loading indicator while image is loading"
At the moment, while the image is loading, there's a flash of UI that looks broken. We should have some loading indicator so the user knows their attachment isn't missing.

[2015-05-06 21:49] goldenapples opened #321 "urlencode or otherwise escape attributes when sending to editor"
Quote marks in attributes, even if escaped, break the parser. HTML tags in attributes are subject to kses, and then escaped as attributes, making it impossible to use HTML markup in attribute values.

A [comment on trac](https://core.trac.wordpress.org/ticket/32078#comment:7) suggests passing attribute values through urlencode on save / urldecode on extract to get around these problems. This would

[2015-05-07 00:58] danielbachhuber commented on #321
You must be telepathetically connected with @sanchothefat :) #322. Personally, urlencode seems like a massive hack. I'd be interested in any alternatives you have to suggest.

[2015-05-07 09:16] roborourke commented on #321
I think any kind of encoding is bound to be a hack, it would either require an overhaul of the shortcode regex or even the whole shortcode system. As soon as it became easy to add more complex data into a shortcode eg. through shortcake we were bound to hit this limitation.

Maybe the approach would be generate some special nested XML markup in the `inner_content` where attributes can be extracted

[2015-05-07 11:43] pbowyer commented on #124
This would be great - playing around with the plugin I was surprised that changing my ui registration code didn't affect the modal window unless I refreshed the entire page. It'd be really good to load them on-demand.

[2015-05-07 16:55] goldenapples opened #323 "Require that select elements have a value set."
Currently, the shortcode attribute model's `updateValue` callback only happens on `change` events.

This is confusing with attribute fields like selects, radio buttons, and checkboxes, where the user would assume that the state the field is in when the form is initially rendered -- the first item in a select list, or an unchecked value for a checkbox -- is the value they are selecting. However, un

[2015-05-08 05:20] fourfour commented on #323
+1

[2015-05-08 14:58] danielbachhuber commented on #323
:+1:

[2015-05-08 15:41] #319 closed, assigned to nobody

[2015-05-11 14:39] #318 closed, assigned to goldenapples

[2015-05-11 20:30] paulkarpenko opened #326 "JS Callback on Preview Render in WYSIWIG"
Has there been any discussion of allowing a callback to be registered on .done() in fetchShortcode? this would be useful for allowing JS DOM work to be done once a shortcode component is rendred in the WYSIWIG. And does a workaround currently exist for this without having to edit the plugin's JS?

[2015-05-11 20:33] paulkarpenko commented on #326
It looks like https://github.com/fusioneng/Shortcake/issues/85 also addresses this need. Has any additional work been done here?

[2015-05-12 05:06] StaggerLeee commented on #283
Would it be possible to use Shortcake to make something like Flexslider gallery from gallery shortcode (not attached to post only) ?
I did managed it manually, but as an addon for Shortcake it would be great.

http://webdesignforidiots.net/2015/02/customizing-the-output-of-the-gallery-shortcode/

[2015-05-12 17:10] danielbachhuber commented on #326
Nope. I'm not sure what our official opinion is in this regard at the moment.

[2015-05-12 21:32] 0aveRyan commented on #281
@danielbachhuber [aesop-core](https://github.com/bearded-avenger/aesop-core) takes this approach, but there is a small UX curveball. Think either approach is fine from UX viewpoint.

One sore point I found with Aesop is if users are accustomed to inserting photos / videos via Add Media button, they interchange and confuse Add Media --> Image with Add Component --> Image. Might be nice to have an o

[2015-05-12 21:56] danielbachhuber opened #327 "Enhance core's default [embed] shortcode UI"
We could pretty easily accommodate the requests in https://core.trac.wordpress.org/ticket/32353

[2015-05-12 22:15] danielbachhuber commented on #283
Nope, that looks to be separate from Shortcake.

[2015-05-13 06:28] StaggerLeee commented on #283
Thanks for reply. Wanted just to see how easy would be to bring WordPress closer to news portals. Native gallery is big NO-NO for news portals and magazine layouts.

[2015-05-13 06:52] mattheu commented on #283
Would like to support adding multiple images with the image field, but would be up to the implementor to actually build the gallery.

[2015-05-13 08:09] StaggerLeee commented on #283
Oh no, you missed it. Dont ask you to make this form URL above. Just to make it possible for users to make it.
All Shortcake needs to do is visualize slider in TinyMce body. And of course on click at shortcode add, sort, remove images, but this is more WP native modal window and gallery management, nothing special new needs.

And more important. This from URL above is piece of cake to make manualy

[2015-05-13 08:13] StaggerLeee commented on #283
Just to say. I did not tested code form URL above and dont know if it works. It is just there for reference, because I cannot find anymore on Google right URL where I found code and used it.
Have it in my snippets collections, but there is no need to paste it here and spam with it.

But principle is the same.
WP native gallery shortcode stays the same in database, not strange shortcodes different

[2015-05-14 20:58] #126 closed, assigned to nobody

[2015-05-15 08:37] bobbingwide commented on #317
+1

[2015-05-15 08:43] bastienho opened #328 "Allow Shortcode UI to be displayed in post_type: page"
Hi,

Everything is in the title, the new feature "post_type" seems to allow to integrate the UI in any post_type, but not for native pages.
Is it true, or did I miss something ?

regards

[2015-05-15 10:51] bobbingwide commented on #126
Hi Daniel, sorry for the big delay. I switched to use 'inner_content' and it worked fine for the [bw_geshi] shortcode, which doesn't expand the content. But when I tried it with my [bw_csv] shortcode then it wasn't good at all.
Suspect this could be something to do with #317
I'll add some notes to that issue.

[2015-05-15 11:42] bobbingwide commented on #317
This additional comment may actually turn out to be the opposite.
I have a shortcode which expects to see line breaks in the content.
e.g. `[bw_csv]` Use to display the contents of the shortcode in a tabular form.

[code]
- The heading row immediately follows the shortcode
- Every other row of the table is on a separate line.
- Blank lines are ignored.

When using `Insert Post Element > Preview` t

[2015-05-15 18:48] danielbachhuber commented on #328
Can you share more details on your configuration, so we can be of assistance debugging?

[2015-05-15 20:09] danielbachhuber commented on #126
Sounds good, thanks @bobbingwide

[2015-05-16 17:38] bobbingwide commented on #317
Further notes. When the Preview is performed from Insert Post Element then the new line characters are passed in the AJAX call. When the editor requests it the new line characters have been converted into `<br />`'s. The server end responds as best it can, it's the client end that appears to be broken.

BTW: I also noted some strange behaviour from Jetpack adding unexpected content to the output.

[2015-05-19 07:41] bastienho commented on #328
Hi, thank you.

So pages should be supported ?

so, this is a bug, and here is the configuration :  **WP 4.2.2 Multi-site**, with the following plugins :
- Advanced Custom Fields
- Advanced Post List
- Akismet
- Allow Javascript in Text Widgets
- Blog Copier
- Contact Form 7
- Contact Form 7 Tiny MCE
- Contact Form DB
- Duplicate Post
- EELV Share Post
- Enable Media Replace
- Event Post
- Faceboo

[2015-05-19 13:27] danielbachhuber commented on #328
Yes

There's likely some plugin conflict. I'd recommend trying on a brand new WordPress install with no plugins, and then install and activate each plugin one by one to see what might be causing the issue.

[2015-05-19 13:27] #328 closed, assigned to nobody

[2015-05-19 13:30] #292 closed, assigned to nobody

[2015-05-19 15:00] bastienho commented on #328
Confirmation, this was a javascript error somewhere which was causing the bug.

[2015-05-19 16:26] MaximeCulea opened #331 "New lines stripped in textarea field type"
Hi,

There is a bug between WordPress 4.2.\* (tested on 4.2.2) and the textarea field type.
When adding new lines in a textarea while inserting the shortcode in tinymce, the new lines are stripped off and the shortcode is not rendering the wanted display.

The same plugin works on  4.1.5 WordPress.

PS : Both essai were on a fresh empty site.

Thank you

[2015-05-19 21:56] danielbachhuber commented on #331
Is this the same as #312 and https://core.trac.wordpress.org/ticket/32078

[2015-05-20 08:55] MaximeCulea commented on #331
Ok it seems this ticket looks like mine but I did not found the same issue. In fact the probleme is that shortcake preview works ( ajax do_shortcode ) when using textarea, but when saving it into the wysiwyg it does not render at all by the fact new lines are not retrieved in html but in text.

You can find attached, some sceenshots for this.
![shortcake-contribution](https://cloud.githubuserconte

[2015-05-21 20:57] danielbachhuber opened #333 "Conditionally display a field based on value of another field"
A [request from the forums](https://wordpress.org/support/topic/once-shortcode-multiple-forms-for-each-option?replies=1):

Fieldmanager has some `display_if` flag we could emulate.

[2015-05-21 23:07] goldenapples commented on #333
I think that this can be covered along with #316, as I imagine a lot of the same use cases for each. Registering a js callback function with the shortcode ui that receives the new value and has access to the collection to modify it would be one way of accomodating this.

[2015-05-22 20:17] w3guy opened #334 "Redundant whitespace in shortcodes without attribute"
I have some shortcodes without attributes. when added to a post via shortcake, it render s expected but viewing the shortcode in text mode reveals a redundant white space before the closing brace like so `[pinnacle ]` although no adverse/side effect. just wana bring this to you guys notice.

FYI: am using the v3 in WordPress repo.

[2015-05-25 23:50] danielbachhuber commented on #334
I've seen this before. We'll try to get it fixed for the next release.

[2015-05-27 22:09] StaggerLeee opened #337 "Fatal error when activating TinyMce for frontend comments"
I use latest and best code for comments visual editor from WP Edit PRO plugin.

Shortcake gives:

Fatal error: Call to undefined function get_current_screen() in D:\EasyPHP\data\localweb\some_test_wp\wp-content\plugins\shortcode-ui\inc\class-shortcode-ui.php on line 85
Disabled Shortcake plugin and editor shows in comments and working fine as before.

Not that I use now Shortcake for anything, jus

[2015-05-29 13:32] taccz opened #342 "Problem with Quotation marks in text fields"
Hi, when I use " in text field, it doesn't save. Can you fix it? Thanks

[2015-05-29 14:01] danielbachhuber commented on #342
This is how I see the problem manifest itself:

![image](https://cloud.githubusercontent.com/assets/36432/7884060/1aebe386-05d0-11e5-8c1a-a72c3fcf2c71.png)

For our shortcode with a text field, I can actually use the `"` in the field through the UI, but it doesn't get properly passed to the shortcode.

I suspect the problem is ultimately the same as we're trying to address with #322

[2015-05-30 05:05] dougcassidy opened #343 "Sample UI registration doesnt work"
I have got shortcake running on a a simple text field.  Works great for that, thanks.

However, besides a sytnax error typo in https://github.com/fusioneng/Shortcake/wiki/Registering-Shortcode-UI ,
The shortcode you register is expecting a double ended shortcode with content in the middle, like [pullquote source="default cite"]The quote would be here.[/pullquote] And the shortcake is producing: [p

[2015-05-30 16:24] glueckpress opened #344 "Double slash in editor css path"
https://github.com/fusioneng/Shortcake/blob/master/inc/class-shortcode-ui.php#L71 produces a double slash before `css/…`. The line should say:

[code]

or

[code]

(though I don’t think the latter would be necessary).

[2015-05-31 20:22] danielbachhuber commented on #343
Sorry, that example is quite out of date. You'd be better off to look at the dev plugin: https://github.com/fusioneng/Shortcake/blob/master/dev.php

[2015-05-31 20:22] #343 closed, assigned to nobody

[2015-06-01 15:40] #344 closed, assigned to nobody

[2015-06-01 19:10] danielbachhuber commented on #169
Bumping this out of v0.4.0. It needs a greater degree of technical clarity before we commit it to a milestone.

[2015-06-02 01:00] mrjarbenne commented on #281
I'd like to make a case for the Add Media button being the only means of accessing Shortcake (I recognize you aren't removing it from there, merely making an alternative means of accessing it). Forcing user to access Shortcake under Add Media, particularly if Shortcake moves into core, could be the catalyst for better standardization of the process of adding/embedding elements in a post. Take the

[2015-06-02 13:43] danielbachhuber commented on #316
@goldenapples Are you happy enough with this to close?

[2015-06-02 13:49] goldenapples commented on #316
Yup, I think its good and should work for my purposes. I wanted this for a couple of attributes in Image Shortcake, so I'll use it there and see if it works for everything I wanted.

I'm debating whether there should also be an action that fires at the shortcode level, so that you can register a listener on all attributes to a shortcode. But I haven't thought of a use case where that would be nece

[2015-06-02 13:49] #316 closed, assigned to nobody

[2015-06-02 13:54] goldenapples commented on #333
The system of JS actions introduced in #336 makes this possible. Do we want a syntactic sugar for this specific use case, so that an attribute in the shortcode UI registration array can generate the javascript event listener to show/hide fields conditionally? Or is letting authors register their own js callbacks sufficient? Either way, this will need some documentation.

[2015-06-02 13:58] danielbachhuber commented on #333
Not at this time. The Fieldmanager implementation is actually a bit buggy, so I don't see value in copying it 1:1.

Pull request against `readme.txt`?

[2015-06-02 14:13] #171 closed, assigned to nobody

[2015-06-02 14:22] danielbachhuber commented on #236
We can now support this for `inner_content`

[2015-06-02 21:58] danielbachhuber opened #347 "JS error when opening the media library on post-new.php"
![image](https://cloud.githubusercontent.com/assets/36432/7948317/d989ed64-0937-11e5-87f8-42e756852c10.png)

[2015-06-02 22:48] #347 closed, assigned to nobody

[2015-06-02 22:51] danielbachhuber commented on #347
This bug had been present since 033d398d512a3bb187e77053a1c6a7d4fe99715a, v0.3.0

[2015-06-04 17:23] danielbachhuber opened #350 "Attachment Field: Clicking on attachment should let me pick a different attachment"
![image](https://cloud.githubusercontent.com/assets/36432/7990138/bf76ee50-0aa3-11e5-89b0-479c4df08aae.png)

[2015-06-04 17:24] danielbachhuber opened #351 "Attachment Field: Indicate metadata about selected attachment"
When I have an attachment selected, it would be nice to see its title, type, size, and other metadata:

![image](https://cloud.githubusercontent.com/assets/36432/7990161/e220b512-0aa3-11e5-95d1-6edc1f917dda.png)

[2015-06-04 21:13] zedejose opened #352 "Question: is it all possible to remove shortcodes?"
(I have searched issues and code but found no answer, apologies if it is already answered elsewhere)

Use case: I want to only offer a subset of loaded shortcodes to content authors (less confusing)

[2015-06-04 21:16] danielbachhuber commented on #352
Well, you need to opt-in to registering UI for shortcodes. Do you need to de-register UI?

[2015-06-04 21:18] zedejose commented on #352
Not sure I understand the question, tbh. I simply need to, say, _not_ see 'pbs_button' (or any other of my choice)

[2015-06-04 21:19] zedejose commented on #352
Got it sorry, shortcodes are one thing, the UI another, so yes, de-register the UI for a shortcode.

[2015-06-04 21:19] danielbachhuber commented on #352
You won't see it, unless the developer for `pbs_button` registered UI for it.

[2015-06-04 21:22] zedejose commented on #352
I'm an idiot at completely the wrong place, @danielbachhuber, sorry about that. This is what I needed :)

https://github.com/gambitph/Page-Builder-Sandwich/wiki/Misc-Filters

Ok to close.

[2015-06-04 21:23] danielbachhuber commented on #352
I'm adding a filter for you too #353 so you can disable UI (which you can't easily do right now).

[2015-06-04 21:24] #352 closed, assigned to nobody

[2015-06-04 21:25] zedejose commented on #352
Brilliant, thanks

[2015-06-05 12:49] rogercoathup commented on #104
+1 for an easy way to disable preview on our shortcodes -- we have a number where it doesn't make sense to see a preview in the post editor, e.g. shortcodes that need styles that are enqueued in the front end only, need front end js, or simply take up too much space and make editing the post more different.

Update: think I'm confusing the preview tab, with the general preview of the shortcode of

[2015-06-05 12:56] danielbachhuber commented on #104
You are. If you're concerned about the latter, then it's the responsibility of your code to disable the preview. You can just return some placeholder value in your `do_shortcode()` callback.

[2015-06-05 19:13] rogercoathup commented on #104
Thanks for quick reply -- yes, that's the route I'm going down

[2015-06-08 18:55] danielbachhuber commented on #66
Just need to handle the `return` case.

[2015-06-08 19:00] #337 closed, assigned to nobody

[2015-06-08 19:03] danielbachhuber commented on #293
Punt out of v0.4.0

[2015-06-08 19:09] danielbachhuber commented on #323
No longer applicable https://wordpress.slack.com/archives/feature-shortcode/p1433790569000071

[2015-06-08 19:09] #323 closed, assigned to nobody

[2015-06-08 19:14] danielbachhuber commented on #281
Bumping to v0.5.0, as it's too late for v0.4.0

[2015-06-08 19:15] #334 closed, assigned to nobody

[2015-06-08 19:20] danielbachhuber commented on #287
Closing in favor of #66

[2015-06-08 19:20] #287 closed, assigned to nobody

[2015-06-08 19:35] danielbachhuber commented on #342
We [chatted about this](https://wordpress.slack.com/archives/feature-shortcode/p1433791051000087) a bit today. I'm reclassifying as an upstream bug. Here's the corresponding core ticket: https://core.trac.wordpress.org/ticket/15694

Shortcode UI actually works fine — quoted attributes are properly rendered in the shortcode UI form.

[2015-06-08 19:56] danielbachhuber commented on #243
@whyisjake @BenChirlin We discussed this some on today's chat. https://wordpress.slack.com/archives/feature-shortcode/p1433792288000127

How did you end up with the code approach you did?

[2015-06-08 20:56] BenChirlinn commented on #243
@danielbachhuber it's old code from a former team member. The uploader is so poorly documented I believe this was just the way he managed to get it to work. I tried tweaking it and couldn't get it to work any other way. Not my area of expertise...

[2015-06-11 13:36] hirejordansmith commented on #312
I believe I'm having the same or similar issue on my sites? Essentially I can't get this to function correctly using v0.3.0 so went to my dev server to play with it.

I set up the default functionality for this with the pull quote - https://gist.github.com/Mte90/cb8a0e37565d219062ec

And Shortcake 0.3.0 installed (only plugin activated)

Running Twenty Fifteen Theme - WP 4.2.2

When I add the pull

[2015-06-11 17:50] danielbachhuber commented on #312
Nope. As [documented in the release notes](http://fusion.net/story/126834/introducing-shortcake-v0-3-0-butter/), we've changed `content` to `inner_content`. You need to register your UI differently.

[2015-06-11 18:38] hirejordansmith commented on #312
Ah Crap, sorry man. I never saw those notes. I've signed up for updates so I stay in touch. Thanks!

[2015-06-15 18:34] paulkarpenko commented on #342
It sounds like the wordpress team is kicking this back to developers: "Since this issue does not affect the core shortcodes, this has become purely an API problem for plugin developers".

Is there a workaround for this with the current functionality of wordpress core? I've got to figure out a way to allow double quotes in our shortcode inputs so any help would be appreciated. Thanks.

[2015-06-15 21:37] danielbachhuber commented on #342
Yeah. This is called "solving the problem by not solving the problem"

Use the `$content` part to the shortcode for your data with double quotes:

[code]

[2015-06-17 12:47] davisshaver commented on #104
I am just getting back into Shortcake work and backreading. I would support removing the preview. When inserting an image or other media, there's no preview, so this seems okay with user expectations. I also found that the preview could fail silently, leaving the user confused if the shortcode needs server info.

re @danielbachhuber's point in https://github.com/fusioneng/Shortcake/issues/104#issu

[2015-06-20 19:52] niallkennedy opened #359 "Pass false shortcode value for unchecked checkbox"
A shortcode includes a boolean attribute, do_the_thing, with a default state of true. A falsey attribute value overrides the default.

The shortcode author exposes the attribute to Shortcake through a `checkbox` field type, passing a `value` of `true` in string form, resulting in a checked property output in `tmpl-shortcode-ui-field-checkbox`. The default value of the shortcode is communicated.

T

[2015-06-22 19:15] goldenapples opened #360 "All attribute field views should extend the editAttributeField view"
There is some common functionality to all attribute field views in shortcodes: the ability to listen to update events being the most basic.

If all attribute field views were built as extensions of `editAttributeField`, this functionality could be built out explicitly. This would also demonstrate a clear pattern for plugin developers wishing to build their own attribute fields.

[2015-06-22 19:21] danielbachhuber commented on #274
This is long-done :)

[2015-06-22 19:21] #274 closed, assigned to nobody

[2015-06-22 19:37] danielbachhuber opened #361 "Replicate core's [video], [audio], and [gallery] modal experiences"
As the ultimate test of the Shortcake API, let's look into replicating core's `[video]`, `[audio]`, and `[gallery]` modal experiences.

cc @staylor @iseulde

[2015-06-22 20:06] danielbachhuber commented on #327
Related #361

[2015-06-26 17:21] bruno-barros opened #363 "Brazilian portuguese translation"
Hey guys.
How can I send a translation? Via PR?

[2015-06-26 17:29] danielbachhuber commented on #363
PR would be great, thanks

[2015-06-26 17:43] bruno-barros commented on #363
As you wish, sir.

[2015-06-26 17:43] #363 closed, assigned to nobody

[2015-06-29 00:36] StaggerLeee commented on #337
Why not check if visual editor is activated on frontend and use Shortcake in the same way as in backend ?
Is it possible at all ?

I see many uses here. bbPress, comments, support forums, all possible media in comments to make it easy for beginners but arranged with Shortcake to exclude security risks, very customized media modal box, customized URL field, all possible fields, etc...

[2015-06-29 03:17] danielbachhuber opened #366 "Use get_post_type() instead of get_current_screen()->post_type"
`get_post_type()` is more appropriate because it isn't fixed to specific admin contexts.

Previously #355
Related #337

[2015-06-29 03:18] danielbachhuber commented on #337
Shortcake will still work on the frontend. The feature where a developer can limit a given shortcode UI to specific post types will only work on the backend until #366 is fixed.

[2015-06-29 18:45] aaemnnosttv opened #368 "Request: Add ability to define custom shortcode attributes and values"
I have a shortcode which accepts a few known attributes, as well as any number of custom attributes - they could be anything.

The known attributes could have fields registered for them, but for the unknowns I would like to be able to register the ability to add custom simple key/value pairs in the UI.

Thoughts?

[2015-06-29 19:28] danielbachhuber commented on #368
Intriguing idea. I've filed it as a potential enhancement.

[2015-06-29 19:54] danielbachhuber commented on #116
Inline editing [came up](https://make.wordpress.org/core/2015/06/29/shortcake-shortcode-ui-chat-summary-june-29th-2015/) as a core integration point. We should prioritize it for v0.6.0, and explore how other editors do this / content blocks.

Another consideration for inline editing is block vs. non-block shortcodes. Inline editing could be less functional for non-block shortcodes, as we'll have l

[2015-07-01 13:15] fkonecny opened #369 "Checkbox does send invalid data to shortcode function when in administration"
Hello,
when I use checkbox in the administration I get different results than on the front page.
For better insight I include var_dumps from xdebug as pictures.
Front page works correctly once set up:
![bug-front page](https://cloud.githubusercontent.com/assets/996465/8455162/e65564b0-2002-11e5-85f8-58047e6a3b04.png)
But when I open editor and look at it it returns 'right' => '1' for every element

[2015-07-01 13:36] fkonecny commented on #369
From my little investigation with debugging I found out that it already sends wrong shortcode. As I do not know how to work with Backbone.js I am absolutely clueless what to do.

[2015-07-01 22:01] goldenapples opened #370 "Try to preserve editor position after resizing shortcode preview"
Currently, shortcode previews are initially rendered in an MCE view with a default height, then resized to the appropriate height when certain events happen inside the preview:  elements added, body attributes changed, images or stylesheets loaded.

This can cause janky behavior in the editor in the case that the user is working with some text which suddenly jumps down the screen or even off the c

[2015-07-01 22:35] goldenapples opened #371 "Implement batch fetching of shortcode previews"
Currently Shortcake makes a separate ajax request for each shortcode in a post content. It would speed up the initial time it takes to get an editor instance to a stable state if all of these requests could be combined into one request on the initial load.

I haven't investigated too deeply to determine the level of complexity for this, but if it's possible, it could make the experience of opening

[2015-07-01 22:45] danielbachhuber commented on #371
:100:

[2015-07-01 22:47] goldenapples opened #372 "Add additional attributes to the ajax `do_shortcode` response"
We could add a way for shortcodes to return some attributes like suggested dimensions, float value, or basic css styles, along with the shortcode markup.

This would involve a few steps:
- building our own ajax endpoint, which would wrap `do_shortcode` and augment it with additional functionality available in shortcodes which were registered with Shortcake.
- Adding additional arguments which coul

[2015-07-02 02:01] andrewdodson14 opened #373 "Can't get color picker to work"
I can't seem to get the color picker to save my selection and/or display on the front end. I also can't seem to find any real documentation on this new field. How should I go about using it?

[2015-07-02 11:33] ghost opened #374 "Russian translation"
Sorry, didn't know how I could contact you.

So, here's the Russian translation: http://ukstudio.ru/languages.zip

Great job and awesome plugin!

[2015-07-02 13:45] mkeppel commented on #372
This morning we got a report of slow List content type that is heavy with Post element gifs.

Convo with Dodai: https://fusionnetwork.slack.com/archives/edit-tech/p1435842468002515

Granted this post will have 50+ list items each with a gif in them but the editor is experiencing extremely slow scrolling speeds on the page. Just noting here so that we can have this tracked I have not gotten many re

[2015-07-02 13:48] danielbachhuber commented on #374
Thanks @ninetienne! This translation will be included in the next release.

[2015-07-02 16:56] danielbachhuber commented on #373
Can you share the code you've written in a Gist?

[2015-07-03 08:04] ghost commented on #374
I've also added translation for the Image Shortcode, however when adding the files to the plugin's language folder, I don't get the strings translated :(

Here's the translation: http://ukstudio.ru/languages-image.zip

[2015-07-04 21:11] andrewdodson14 commented on #373
Sorry for the slow response... here's my code:
https://gist.github.com/d47363f1073a07327845.git

[2015-07-04 21:15] andrewdodson14 commented on #373
<?php

add_action( 'init', function() {

[code]

} );

?>

[2015-07-06 19:18] danielbachhuber opened #376 "WYSIWIG editors and rich, inline media"
One of @samuelsidler's [suggestions for Shortcake](https://make.wordpress.org/core/2015/06/29/shortcake-shortcode-ui-chat-summary-june-29th-2015/) is:

Before we get too far into inline editing, let's see how other editors have solved (or ignored) this problem. Specifically: **How do different editorial tools allow for inserting complex blocks of content into the body of a page?**

We should look

[2015-07-06 20:01] mattheu commented on #368
We discussed this in the feature-shorcode meeting on Slack today.

Our concern is that adding custom key/value pairs, doesn't give you any info on what needs to be entered, and isn't a great user experience. No better than the current state of shortcodes.

But we discussed the possiblity of optional attributes, with a select dropdown for adding them. This seems a pretty achievable feature, keeps a

[2015-07-07 04:49] aaemnnosttv commented on #368
I agree, not a great experience, but it _is_ better than the current state of shortcodes when you consider everything else that comes with Shortcake - particularly the rendered placeholder in the visual editor. IMO, this feature is a wonderful enhancement for any shortcode, regardless of what the UI for editing it looks like.  It's also better than if the UI were enabled for some attributes, and t

[2015-07-08 10:58] ghost commented on #131
This snippet will add a button next to `Add media`, clicking the button will open the default WP Media dialogue on the `Add Post Element` tab.

[code]

[2015-07-09 01:07] danielbachhuber commented on #369
@yadsk Can you share the code you're using to register the shortcode UI?

[2015-07-09 01:08] danielbachhuber commented on #359
Thanks again for the report, @niallkennedy. We'll get this fixed for the next release.

[2015-07-13 17:36] mattheu commented on #376
## Squarespace

I'll kick this off with a look at the Squarespace editor.

Main page builder has 'regions' that I can select and edit.

![image](https://cloud.githubusercontent.com/assets/494927/8656038/0f817782-298d-11e5-8add-5e654afecc31.png)

Selecting the main content reveals a fairly traditional editor.

![image](https://cloud.githubusercontent.com/assets/494927/8655730/e98e4aa2-298a-11e5-942

[2015-07-13 18:50] sdsweb commented on #376
The "insert" toolbar is very similar to how we solved it with our Note plugin in the customizer. https://i0.wp.com/conductorplugin.com/wp-content/uploads/2015/05/note-animated-gif.gif?resize=570%2C330

[2015-07-13 19:43] danielbachhuber opened #383 "Test coverage for editAttributeField and friends"
In #358, the attachment field view was refactored, causing breaks in #377 and #382.

We should add test coverage to reproduce those breaks, so they don't happen again.

[2015-07-13 19:43] mattheu commented on #376
## Medium

Medium is a super minimal editor experience. Very simple and implementation is super slick. Looks exactly the same as the front end.

Content blocks - these contextual controls show when you add a double line break. You can insert a very limited range of modules - image, video, embed and divider.

![image](https://cloud.githubusercontent.com/assets/494927/8658817/2d5a9336-299e-11e5-83ed

[2015-07-14 15:37] danielbachhuber opened #384 "Remove "Preview" tab from modal experience"
Because we want to move the editing experience closer to the editor, let's remove the "Preview" tab from the modal.

Previously #45
Related #116

[2015-07-14 15:38] danielbachhuber commented on #366
:ship:

[2015-07-14 15:38] #366 closed, assigned to nobody

[2015-07-14 16:07] danielbachhuber commented on #351
We should also offer a link to the attachment's "edit attachment" view, where the user can change crop, etc.

[2015-07-14 19:34] danielbachhuber commented on #373
@codeforte As it turns out, it was broken :) We'll get this fixed in the next release.

[2015-07-14 22:18] jrfnl commented on #132
+10

[2015-07-14 23:26] jrfnl commented on #240
Uhm... to be considered for core, shouldn't it be compatible with PHP 5.2.6+ ?

[2015-07-14 23:50] jrfnl opened #385 "Only register shortcode UI when editor is being created"
Lean loading - based on the current example code (dev.php), the UI would always be registered, no matter whether in front-end, back-end, non-editor admin page etc. as it hooks into `init`

I'd like to suggest creating a hook people should use to register the shortcode UI on and having that hook only run when an editor is being created.

So then it would become something along the lines of:

[code]

[2015-07-15 02:53] jrfnl opened #386 "Descriptions for shortcodes in modal selection"
Allow for adding a short or even both a short and long description for the shortcode.

The short description could be used as `title` or mouse-over attribute on the _Insert Post Element: Overview_ view.
The long description could be used as paragraph at the top of the _Insert Post Element: Edit_ view.

If there are lots of shortcodes registered with similar labels, this would give the user more in

[2015-07-15 03:40] jrfnl opened #387 "Bug ? Json parse error on Ajax calls"
WP 4.2.2
Shortcake 0.5

Using the dev.php file for testing - Shortcake Dev shortcode
All ajax calls (page select, preview) fail with `SyntaxError: Json.parse: unexpected character` message.

Response samples:
`{"success":true,"data":{"posts":[],"found_posts":0,"posts_per_page":10}}`
`{"success":true,"data":{"posts":[{"id":2,"text":"Voorbeeld pagina"}],"found_posts":"1","posts_per_page":10}}`
`{"su

[2015-07-15 11:29] danielbachhuber commented on #387
Is this on a clean install of WordPress? I'm unable to reproduce.

[2015-07-15 11:30] danielbachhuber commented on #386
:+1:

Related #120

[2015-07-15 11:35] danielbachhuber commented on #385
I dig it #388

[2015-07-15 11:36] danielbachhuber opened #389 "Documentation refresh"
Let's refresh our documentation across the board, particularly PHPdoc and JS docs.

[2015-07-15 11:37] danielbachhuber commented on #389
@jrfnl When you have a moment, I'd love to hear what documentation you _expect_ to see, so we have a target to work towards.

[2015-07-15 11:40] danielbachhuber commented on #240
Possibly. Depends on when core makes the 5.3 bump. I need to go through the feature plugin guidelines and create a new issue to ensure we're meeting all of the requirements.

[2015-07-15 12:56] danielbachhuber commented on #73
Won't be an issue after #384

[2015-07-15 12:56] #73 closed, assigned to nobody

[2015-07-15 14:02] andrewdodson14 commented on #373
Thanks guys! Enjoying this plugin so far.

[2015-07-15 15:22] jrfnl commented on #387
It sort of is - it is clean install, but I do have some debug plugins running - some of which also use ajax and are not experiencing this issue. Will see if I can find the time to look into it some more.

[2015-07-15 15:28] jrfnl commented on #389
@danielbachhuber Chat in Slack or want some input here ?

[2015-07-15 15:50] danielbachhuber commented on #389
Input here would be great — thanks!

[2015-07-15 23:41] jrfnl commented on #389
Ok, here are some ideas for the wiki documentation on how plugins should integrate Shortcake UI:
- a list of all array index keys which are supported and what they are used for, both for the top level array as well as the individual field arrays
- for each of those the variable type expected, if there are limitations (i.e. "the following values are recognized, anything else will be disregarded") a

[2015-07-16 19:53] nikolov-tmw commented on #126
Sorry for resurrecting an old issue, but I believe I shouldn't start a new one, since the problem I'm having is similar.

The problem I'm having is that I need to be able to have shortcodes contained within the `inner_content` field of a shortcode. I agree that you should not process those shortcodes, but you're also using a much simplified version of the regular expression that WordPress' `get_sh

[2015-07-17 19:03] paulkarpenko opened #390 "updateAttachment doesn't error out on missing attachments"
If I attach an image to a shortcode, then delete that image from the media library, the shortcode edit screen does not give me the ability to clear out the attachment or replace it. The attachment preview block simply sits in the loading state forever.

Moving $container.removeClass( 'loading' ); out of the .done() promise and into an .always() promise will fix the issue.

[2015-07-17 19:43] danielbachhuber commented on #390
Thanks for the report, @nvarchar. We'll get this fixed.

[2015-07-20 21:53] nikolov-tmw opened #392 "Start using the regex that WordPress uses in PHP for shortcode parsing"
Right now a very simple regular expression is used for parsing shortcodes, compared to what WordPress natively uses in `get_shortcode_regex()`. This breaks things like shortcodes within the `inner_content`(which is more or less a common use case).

I've managed to import the regex over to JS and I'm going to create a pull request here with the adjustments I've done.

[2015-07-20 21:59] danielbachhuber commented on #392
:+1:

[2015-07-21 10:29] nikolov-tmw commented on #317
I'm guessing that the code that turns shortcodes into TinyMCE views is at fault here as it fails to accept new lines as possible content for the shortcode's inner_content.

If you can give me a clue where to find that code(I couldn't find it at a quick glance), I can play with it and see if I can make it accept new lines.

[2015-07-22 21:38] GaryJones opened #394 "Question: Enqueueing scripts for Preview"
When looking at the Visual view of the Editor, Shortcake is correctly converting my shortcode into a crafted `<div>` (inside a few other divs which are presumably to wrap any embedded content). However, I then need to add in some JS files that populate my div with content some map and graph visualizations. The charts are displaying fine on the front-end.

Any suggestions for the best way to enqueu

[2015-07-22 22:53] danielbachhuber commented on #394
Yep, check out how we're doing it with Shortcake Bakery: https://github.com/fusioneng/shortcake-bakery/blob/master/inc/class-shortcake-bakery.php#L63

So we can make our documentation better, where you would expect to find this information?

[2015-07-23 07:53] GaryJones commented on #394
Thanks - I had seen that hook when I skimmed through Shortcake Bakery, but hadn't tracked down if it actually was the right hook to use or not.

The demo plugin (dev.php), and perhaps an "Enqueue Scripts for Editor Preview" wiki page?

[2015-07-23 08:40] GaryJones opened #395 "Demo plugin (dev.php) observations"
Just a few thoughts from someone new to Shortcake, and who used the code in `dev.php` as a starting point to add support to a custom plugin. I copied all of the `init` hook callback into my code and amended from there.
- Make it clear that there are actually two examples going on here. Maybe split into two `init` hook callbacks, and comment them as "Minimal" and "Typical"/"Advanced".
- Add more co

[2015-07-23 10:02] GaryJones commented on #394
Why does `get_shortcake_admin_dependencies()` return instead of echo?

Also, how might I limit adding of scripts to only appear for the first instance of the shortcode / only once for all shortcodes?

[2015-07-23 14:59] danielbachhuber commented on #395
Thanks @GaryJones. We'll get this cleaned up in the next release.

[2015-07-23 15:14] danielbachhuber commented on #394
So that it can be easily used in both contexts (return and echo)

The previews for each shortcode are individually generated, so your callback can return each time the action is called.

[2015-07-24 02:22] cliffordp opened #396 "How to enable HTML in `select` array (e.g. pick an icon font)"
Is there any way to make the `select` render HTML so user can pick visually, like for picking an icon font.

Screenshot example:
<img width="1045" alt="screenshot 2015-07-23 21 18 01" src="https://cloud.githubusercontent.com/assets/1812179/8866300/54954f06-3180-11e5-9b25-fbbf08810422.png">

'select' array:

[code]

Note: First time messing with Shortcake, but I appreciate it's purpose. Thanks for

[2015-07-24 12:38] davisshaver commented on #396
Hey @cliffordp! Thanks for stopping by. But unfortunately, I don’t see us enabling this use case out of the box for the `select` field type, as the `options` values end up within  `<option>` tags, and that tag shouldn’t contain other markup.

@mattheu has suggested that we could enable custom field types, and it seems that this would be the proper way of handling your use case. https://github.com/

[2015-07-24 13:09] cliffordp commented on #396
That sure would be great. Thanks!

P.S. The style and font is loaded, but when the icon makes it to the Editor, it doesn't render... i think because it's in an `iframe` for some reason. And thus it's not targeting it. Ideas?
<img width="1225" alt="screenshot 2015-07-24 08 07 20" src="https://cloud.githubusercontent.com/assets/1812179/8874971/577c8d00-31db-11e5-88c1-81b951153bee.png">

[2015-07-24 13:15] davisshaver commented on #396
@cliffordp Are you loading the style/font within the editor context too? See https://github.com/fusioneng/shortcake-bakery/blob/ac739737c9275dbfccc4b5dcdeabe7ef870ede82/inc/shortcodes/class-image-comparison.php#L44-L49 for example.

[2015-07-24 13:40] cliffordp commented on #396
I basically copied Shortcode Bakery and added this (along with the function itself) to the _main plugin file_ (so it's always enqueued on both front and back, since rendering icons and styles and whatnot would be needed for all of the shortcodes, not just one. I thought it was just easier / more fool-proof instead of duplicating it in every shortcode.

[code]

But, yes:
<img width="650" alt="scree

[2015-07-24 13:53] cliffordp commented on #396
If I just inject it in a random place outside the Editor, the icon renders:

<img width="1206" alt="screenshot 2015-07-24 08 50 52" src="https://cloud.githubusercontent.com/assets/1812179/8875841/6b4c277c-31e1-11e5-820c-48ae2f25cf60.png">

[2015-07-24 14:09] davisshaver commented on #396
@cliffordp Ah, I see. You actually have to use the pattern I linked above, not just enqueuing them in the admin context. The iframe actually isn’t admin or frontend context, it’s somewhere in between :ghost:.

[2015-07-24 15:47] cliffordp commented on #396
I see you were faster than me figuring it out on my own ;)

The issue is that loading it in wp-admin isn't quite 'good enough' because the Editor is always loaded as an `iframe` and therefore CSS rules don't match.

Instead of echoing right after the shortcode render (`shortcode_ui_after_do_shortcode` -- single stylesheet included 5 times if shortcode used 5 times in a single post), I needed to us

[2015-07-25 08:54] jakejackson1 opened #397 "Select Field - Set Label and Value"
I've just been testing out the Shortcake and had a hard time finding documentation on using all the different field types - the dev.php starting point seems very light.

Anyway, I'm using a select field and would like to set the label and value for the select box so we can show a user-friendly name to the user, but actually update the shortcode with the value. Something like the following would be

[2015-07-25 09:08] jakejackson1 opened #398 "listItemImage doesn't appear to work"
I was following the `dev.php` example and after getting my shortcode showing in the editor I tried to change the default image icon when loading the shortcode (it appears to be the "Camera and Music" icon).

It looks like the `listItemImage` option should allow this behaviour but when I changes this to something like `dashicons-admin-site` that icon never shows up (the default continues to show).

[2015-07-25 09:12] jakejackson1 commented on #397
Sorry. It looks like it does actually handle this behaviour. I just got confused because if there is no `type` option in the shortcode it was defaulting to the last select item - in this case `View Item`.

Is there a way to set the default select option when none of the values are present in the current shortcode?

[2015-07-25 09:12] #397 closed, assigned to nobody

[2015-07-25 09:18] jakejackson1 commented on #317
+1. Shortcodes can be inline or block level in the editor and shortcake breaks the editor layout for inline elements when active.

[2015-07-25 09:24] jakejackson1 opened #399 "Determine if Shortcake is rendering Shortcode"
When doing your AJAX call to render a specific shortcode I'd love to see a `$_POST['shortcake']` option passed so we can easily handle the shortcake display a little differently than normal.

I'm currently using `if ( isset($_POST['shortcode']) ) {` to distinguish between a standard display and a shortcake display but I could foresee some edge cases where that may cause an issue - it's unlikely bu

[2015-07-27 15:04] ghost commented on #236
@danielbachhuber - just taken my first look at Shortcake and think it looks great!

WYSIWYG would be great (& enable me to use Shortcake on client projects).  Is it still in the pipeline? ~~(& is there anyway to get HTML in inner_content now?) edit: already possible!~~

Thanks!

[2015-07-27 15:27] cliffordp commented on #396
Back to the subject of this ticket...
Since HTML isn't allowed in a `<select>`, maybe the right way to go about this is to use a `radio` field with HTML next to the radio option.
For example, the "Layout picker" and "Layout Images" sections of http://www.paulund.co.uk/custom-wordpress-controls

Or, http://stackoverflow.com/a/20430219 is nice if allowing custom CSS styling to the radio buttons, but

[2015-07-27 15:51] cliffordp commented on #132
Yes!

Prior to using Shortcake UI, I would do all the error checking inside the shortcode's code and output an HTML comment to help _somewhat_. However, returning an HTML comment in Shortcake Preview or WP Editor makes the shortcode not appear at all and displays an odd-height space.

If I `return '';` instead of returning an HTML comment, Shortcake displays the shortcode text but without a previe

[2015-07-28 16:38] cliffordp opened #401 "JS error if $content but no 'inner_content' arg"
If the shortcode's `args` array does not have `inner_content` argument but the Editor has content between opening and closing shortcode tags, clicking on Shortcake's "Edit" button (pencil icon) causes a JavaScript console error for https://github.com/fusioneng/Shortcake/blob/fed5de982e437835c6b204d7dc495a883e091b40/js/build/shortcode-ui.js#L455 and clicking Shortcake's Edit button does not open th

[2015-07-28 16:44] cliffordp opened #402 "Ability to make 'inner_content' a 'text' instead of a 'textarea'"
Sometimes `inner_content` is used but it only makes sense for short-length data to be entered.

Displaying a full `textfield` takes up a lot of screen real estate.

I'd also like to see the option for `meta` on `inner_content`.

And, yes, while on the topic, why not support all other field types for `inner_content` that make sense (e.g. `text` and `url` but not `checkbox`)

[2015-07-28 16:49] cliffordp opened #403 "Allow 'inner_content' below all the shortcode args"
Whether `'inner_content' => array(),` is added before or after the shortcode's `attrs`, it displays first in the shortcode UI.

Why not let me display it under the `attrs`?

[2015-07-28 16:57] danielbachhuber commented on #403
Seems like a reasonable enhancement.

[2015-07-28 16:58] danielbachhuber commented on #402
This makes sense to me. Filed as an enhancement.

[2015-07-28 17:14] danielbachhuber commented on #389
For reference, WP inline documentation standards: https://make.wordpress.org/core/handbook/best-practices/inline-documentation-standards/php/

[2015-07-28 17:27] #374 closed, assigned to nobody

[2015-07-28 19:18] jrfnl commented on #389
http://www.phpdoc.org/docs/latest/index.html ;-)

[2015-07-29 21:57] ryanboswell commented on #236
So wondering if there was someone working on this already and if it was anywhere near ready for release for the v0.5.0 milestone it's currently tagged to, I don't see any open PRs or released code for it so far. I'm considering helping out on this and submitting as a PR, but wanted to check before diving in.

[2015-07-29 22:01] danielbachhuber commented on #236
I think #322 is the latest and greatest attempt. Now that core has fixed itself, we can easily support HTML for `inner_content`. I'm still wary of committing to an encoded attribute approach for everything else though.

Can you share your use case in a bit more detail?

[2015-07-29 22:14] ryanboswell commented on #236
Ah, wasn't sure where that one stood.

The use case I'm thinking of is a shortcode that wraps rich text (aka. HTML markup) in specific markup that applies custom styling. The idea being that we want to grant some level of custom styling allowance to editors/writers, but currently don't allow them to add in-line style attributes in post content. So we accomplish that with a shortcode that hand hold

[2015-07-29 22:34] danielbachhuber commented on #236
Cool, makes sense. It seems like you'd be able to do that with `inner_content`

[2015-07-31 21:18] cliffordp opened #407 "Built-in way to detect if we're in TinyMCE with Shortcake enabled?"
Is there a built-in way to detect if we're in TinyMCE with Shortcake enabled?

If not, I'd like to see one added to Shortcake so my shortcode plugin that relies on Shortcake can say "if we're in a TinyMCE with Shortcake active, run this function"

I hope this request makes sense.

tyvm

[2015-07-31 21:23] danielbachhuber commented on #407
Could you add a callback to `enqueue_shortcode_ui` and set a constant?

[2015-08-02 13:25] cliffordp opened #408 "Add an 'intro' field type as a top-level "information about this shortcode" description"
Call it what you want, but I'd like a way to add some introductory text to the shortcode as a whole, not just each attribute.

It'd go alongside `label` and listItemImage`and`inner_content`, NOT within all the`attrs` / attributes / arguments.

[2015-08-03 22:02] ryanboswell commented on #236
So after playing around, I've got a pretty lightweight bit of tinyMCE init code that works ad-hoc (dropping it into the console once the edit form is showing) and clones the default post editor config and adjusts the field selector to `#inner_content`.

I'm now thinking about how to indicate that `inner_content` should be a tinyMCE editor since I expect most of the time it won't be. The shortcode

[2015-08-03 23:20] mattheu commented on #236
Firstly - having a `'type' => 'tinymce'` argument seems like the way to go. Other options: `wp_editor` or `wysiwyg`?

Initializing TinyMCE in a situation like this is something I've done before - but its not straight forwards really. Simply initializing TinyMCE is one thing, but there are a few steps I've had to wrestle with to get a proper WP style editor working:
- somehow get the markup WordPre

[2015-08-04 16:24] danielbachhuber commented on #408
@cliffordp Can you share a simple screenshot or similar of where you think it would appear?

[2015-08-04 17:00] davisshaver commented on #193
@danielbachhuber Just tested this with two shortcodes in two browsers. Are you still experiencing the issue?

[2015-08-04 18:22] danielbachhuber commented on #193
Nope. Must've been fixed in core.

[2015-08-04 18:22] #193 closed, assigned to nobody

[2015-08-04 18:27] danielbachhuber commented on #384
:ship:

[2015-08-04 18:27] #384 closed, assigned to nobody

[2015-08-04 20:54] davisshaver commented on #376
@danielbachhuber Mind clarifying what you want for this issue? Blog post, or structuring/filling gaps in competitive overview, something else?

[2015-08-04 21:17] danielbachhuber commented on #376
I think a blog post would make for interesting reading / discussion.

For the purposes of getting Shortcake into core, a feature comparison chart would be helpful.

[2015-08-04 21:51] cliffordp commented on #408
Just a quickie "text only" screenshot below but I could also imagine both text and image being displayed.

<img width="783" alt="screenshot 2015-08-04 16 48 44 copy" src="https://cloud.githubusercontent.com/assets/1812179/9073722/0b119c2a-3ac9-11e5-961b-fe95261d24a3.png">

[2015-08-05 14:21] danielbachhuber commented on #399
What if you could just filter the returned preview output?

[2015-08-05 14:55] davisshaver commented on #350
@mkeppel, assigning to you for review.

[2015-08-05 18:00] davisshaver commented on #221
@danielbachhuber I did some device/browser testing and couldn't reproduce this.

[2015-08-05 19:38] cliffordp commented on #408
Thought about this differently... what about just a `readonly` field type that could be used in any order throughout the attributes and multiple could be used.

I could go either way but thought it was an option to consider.

And here's an example of a way an image could be a good thing to include:
<img width="830" alt="screenshot 2015-08-05 14 35 55" src="https://cloud.githubusercontent.com/asset

[2015-08-05 21:06] cliffordp commented on #121
:+1:

[2015-08-05 23:15] danielbachhuber commented on #221
Fixed in core then?

`/me shrugs`

Seems like there's enough padding to me:

![image](https://cloud.githubusercontent.com/assets/36432/9100219/3358998a-3b8d-11e5-8fbc-6ba20a30a268.png)

[2015-08-05 23:15] #221 closed, assigned to nobody

[2015-08-06 00:31] jakejackson1 commented on #399
A filter would be beneficial, although maybe not as efficient as conditionally controlling the output directly in the shortcode function. Perhaps you could also implement a constant similar to DOING_AJAX?

[2015-08-06 14:42] cliffordp commented on #283
I know it's not ideal, but if you just HAVE to have a comma-separated list of attachment IDs, you can use the `post_select` field type (but then there's no image preview). For example:

[code]

[2015-08-06 15:11] cliffordp commented on #133
Wouldn't this be easily handled in the actual shortcode's rendering code?

Just include 1 of the potential attributes in the Shortcake UI (e.g. `url`) and then, in the code, set a priority of which attributes override the others.

For example, after merging attributes with defaults via `shortcode_atts()`:

[code]

(Untested code and could add some esc_url() in there, but you get the idea.)

If you

[2015-08-06 15:17] cliffordp commented on #116
:+1:
Right now the only way is to go to the "Text" editor instead of the "Visual" editor... but then you lose your place (which [xyz] shortcode was I wanting to edit? where in this long post was that [abc] shortcode? etc)

And possibly related: https://github.com/fusioneng/Shortcake/issues/115 (select existing text and turn into a shortcode)

[2015-08-06 15:54] cliffordp opened #414 "Way to disable Shortcake "edit existing" UI for specific shortcodes once inserted into TinyMCE"
Say I'm using shortcodes to render columns/grid...
For example:

[code]

I want to use Shortcake to do the **initial insertion** (`gap`, `w`, and whatever other attributes), but I want the `row` shortcode to be a "dumb" shortcode (not editable via Shortcake UI **once inserted**). Because if it had Shortcake's **"edit existing" UI** pop up, nothing it surrounds (the `col` shortcodes) would be indiv

[2015-08-06 16:26] cliffordp commented on #129
Some examples of how Shortcake can royally screw up manually-entered shortcodes (since Shortcake doesn't natively handle these scenarios properly):

### Demo 1:

[code]

The `inner_content` preview is blank because it "fails" at the beginning of any opening bracket `[`.
If you were to click Shortcake's "Update" button, it would output `[row gap=false][/row]` -- lost all `inner_content` after the f

[2015-08-07 13:05] cliffordp commented on #407
Just brainstorming here. Don't mind me ;)

I think having something like DOING_AJAX (https://github.com/fusioneng/Shortcake/issues/399) but for Shortcake would be helpful -- e.g. DOING_SHORTCAKE?

I'm thinking I want to use this constant / callback / whatever in multiple ways:
1) as an alternative to is_admin() because what about front-end post editors?

[code]

Maybe thinking along the same lines

[2015-08-07 13:12] cliffordp commented on #129
Ideally, I'd like to see Shortcake's previewer be smart enough to handle nested shortcodes **with both parent and children** shortcodes editable via UI (not just the parent with a free-form `inner_content` area that should contain all the manually-entered children shortcodes).

These more complex shortcodes are exactly what UIs are useful for. Instead, I find myself just registering shortcodes wit

[2015-08-07 13:25] danielbachhuber commented on #129
Thanks for the additional details, @cliffordp.

Supporting editing interfaces for nested shortcodes is outside the scope of the project. However, Shortcake shouldn't be clobbering that data.

[2015-08-07 13:29] danielbachhuber commented on #407
While rendering the shortcode, you could use `did_action( 'shortcode_ui_before_do_shortcode' )`

We can keep this open as an enhancement but, given there are reasonable workarounds, I don't see the need to address it immediately.

[2015-08-07 14:05] davisshaver commented on #376
Thinking about feature comparison chart. I'll use that as basis for a blog post.

@mattheu @danielbachhuber @goldenapples would you mind reviewing below and letting me know what you'd add or change?
- [ ] Non-blocking editing experience (content & meta/options)
- [ ] Inline element controls (meta/options)
- [ ] Inline editing (content)
- [ ] Custom elements
- [ ] Supports non-block/WYSIWYG layout

[2015-08-07 14:41] cliffordp commented on #169
Could add custom ones too, like this: https://github.com/gambitph/Page-Builder-Sandwich/wiki/Adding-Toolbar-Buttons
![](https://github.com/gambitph/Page-Builder-Sandwich/wiki/images/toolbar.jpg)

[2015-08-07 16:28] danielbachhuber commented on #169
For v0.5.0, if this isn't technically viable with a reasonable amount of development effort, we should at least establish what we need to do.

[2015-08-07 16:35] cliffordp commented on #129
Glad we can at least agree that

:+1:

[2015-08-07 16:36] cliffordp commented on #407
More robust documentation if nothing else. No worries. tyvm for the help.

[2015-08-08 14:28] bruno-barros commented on #169
wow guys. This PBS did an amazing job with shortcodes.
I dream with these two projects working together.

[2015-08-08 15:14] cliffordp commented on #169
PBS relies on Shortcake

[2015-08-08 16:39] bruno-barros commented on #169
Yes, of course, but Shortcake could bring some features from PBS like the contextual menu
if it make sense.

[2015-08-09 19:59] dev4press opened #415 "New Field: Term Select"
This field would be similar to post_select, but for terms selection.. User register the field and set the taxonomy terms can be choosen from.

[2015-08-09 20:19] dev4press opened #416 "Better layout for shortcode attributes"
Right now all attributes are displayed on a same panel, and if shortcode has many attributes it can hard to find and understand attributes. It would be great if the attributes get displayed using tabbed interface.
- Add 'description' property to UI registration to better explain the purpose for the shortcode.
- Add 'inline' property to UI registration to specify if the shortcode is inline or block

[2015-08-10 12:55] danielbachhuber commented on #415
Seems reasonable — as well as User Select

[2015-08-10 14:49] bobbingwide commented on #133
Hi Clifford, as I noted, it's a low priority. In my code I don't use shortcode_atts(). I prefer to retrieve each value individually. I use a common function that will look for the names given also allowing for numeric (ie. positional ) parameters. In my help routine I show the possible parameter names, comma separated. My shortcode expansion works. It's the shortcode UI that can't really handle th

[2015-08-10 16:07] danielbachhuber commented on #390
:hammer:

[2015-08-10 16:07] #390 closed, assigned to nobody

[2015-08-10 19:31] #66 closed, assigned to nobody

[2015-08-12 07:43] StaggerLeee opened #419 "Not everything is in the code"
You still dont have a link here to your plugin in WP repository ?

I found out about Shortcake by pure chance, via one article on net. OK, i would find out about it via subscription via Make WordPress Core. Not many people do this.

Common, do some marketing, lift head above all the code.

[2015-08-12 14:33] danielbachhuber commented on #419
Hm, I guess we don't.

Marketing isn't a priority for this project, at this time.

[2015-08-12 14:33] #419 closed, assigned to nobody

[2015-08-13 14:03] danielbachhuber commented on #350
One thing I noticed: it would be nice if the library retained the selection when I opened it

[2015-08-13 14:36] danielbachhuber commented on #414
While nested shortcodes are a valid use of shortcodes, we don't support editing them.

[2015-08-13 14:36] #414 closed, assigned to nobody

[2015-08-13 14:38] danielbachhuber commented on #398
@blueliquiddesigns Apologies for the late reply. Did you get this figured out? If not, can you share the code you're using to register the shortcode UI?

[2015-08-13 14:39] #394 closed, assigned to nobody

[2015-08-13 14:43] danielbachhuber commented on #359
Holding on this change for v0.5.0, as I don't yet feel 100% confident about this change.

[2015-08-13 14:50] cliffordp commented on #414
Well I registered [row] without the Shortcake UI and I registered [col] with it... so that gets me what I wanted regarding nested shortcodes... BUT this question is about more than that. This question is separate from the issue of nested shortcodes. It is simply "is there a way to disable the Edit Existing functionality?"

[2015-08-13 15:29] danielbachhuber commented on #401
Confirmed. I suppose we have a similar problem where attributes will be dropped if UI isn't registered for them.

[2015-08-13 15:39] #369 closed, assigned to nobody

[2015-08-13 15:39] #387 closed, assigned to nobody

[2015-08-13 16:26] danielbachhuber opened #425 "Persist unregistered shortcode attributes when editing"
Currently, if an attribute doesn't have registered UI, it will get lost when the shortcode is edited.

We should persist the data associated with unregistered shortcode attributes.

From https://github.com/fusioneng/Shortcake/issues/401#issuecomment-130729722

[2015-08-13 16:26] #401 closed, assigned to nobody

[2015-08-13 16:33] danielbachhuber commented on #351
Looking good:

![image](https://cloud.githubusercontent.com/assets/36432/9255450/4cd67f3c-419e-11e5-9abe-d260ae475ab1.png)

[2015-08-13 16:33] #351 closed, assigned to nobody

[2015-08-13 16:33] goldenapples opened #426 "If an attribute is present but no UI is registered, that data will be lost when using Shortcake's edit form"
See https://github.com/fusioneng/Shortcake/issues/401#issuecomment-130729722

It would good if any attributes not matching attributes could be backed up to hidden model attributes in a similar fashion is was done to unregistered inner content in #424.

[2015-08-13 16:38] danielbachhuber commented on #426
Dupe of #425

[2015-08-13 16:38] #426 closed, assigned to nobody

[2015-08-17 05:17] jakejackson1 commented on #398
No. I wasn't able to get this working.

The relevant shortcode registration is below:

[code]

The site is currently run locally using VVV, WordPress is installed in its own directory and I'm running Shortcake v0.4.0.

[2015-08-19 14:50] danielbachhuber commented on #373
@codeforte Apologies for the delay on this. Can you verify the fix on `master` branch?

[2015-08-23 02:16] cggit opened #428 "How can I get the current page id to be used in shortcode_ui_register_for_shortcode"
I would like to use the current page ID in shortcode_ui_register_for_shortcode but it seems to hook too early and when I try to use the URL shortcake JS crumbles.

Any suggestions on how I can get/use the current page ID consistently while registering my UI.

[2015-08-23 02:52] cggit commented on #385
admin_init seems to work but Im having trouble getting the current page ID so early. If you go the custom hook route can you pass it some variables so we can have some context.

[2015-08-24 16:38] danielbachhuber commented on #385
`register_shortcode_ui` will be the trick.

[2015-08-24 19:03] #385 closed, assigned to nobody

[2015-08-24 19:06] danielbachhuber commented on #373
:ship:

[2015-08-24 19:06] #373 closed, assigned to goldenapples

[2015-08-24 19:10] danielbachhuber commented on #360
:ship:

[2015-08-24 19:10] #360 closed, assigned to goldenapples

[2015-08-24 19:14] danielbachhuber commented on #428
On master, and in v0.5.0 soon, you'll be able to use the `register_shortcode_ui` action to register shortcode UI. This should be late enough for you to get what you need.

However, to make sure I'm providing good advice, could you describe your use case in greater detail?

[2015-08-24 19:32] danielbachhuber commented on #376
@davisshaver @mattheu how do you want to wrap this up?

[2015-08-24 22:09] cggit commented on #428
I was populating a shortcode UI select box with post meta and needed the postID. I managed to get it by parsing the QUERY_STRING on 'after_setup_theme' and storing it to be available on 'init'. Not pretty but it works. Sounds like register_shortcode_ui will make it much easier. Awesome plugin.

[2015-08-24 22:35] #428 closed, assigned to nobody

[2015-08-25 14:12] cliffordp opened #431 "Allow 'description' for 'attachment' field type"
Example of 'description' that makes sense to use but does not display:

[code]

<img width="481" alt="screenshot 2015-08-25 09 11 53" src="https://cloud.githubusercontent.com/assets/1812179/9468834/5fa2543c-4b09-11e5-94c6-27bb76306a5a.png">

[2015-08-25 16:41] danielbachhuber commented on #431
@cliffordp This is fixed on master now

[2015-08-25 16:41] #431 closed, assigned to goldenapples

[2015-08-25 18:54] cliffordp commented on #431
:+1:

[2015-08-26 10:23] cliffordp commented on #416
I think the first bullet point is duplicate of https://github.com/fusioneng/Shortcake/issues/408

[2015-08-26 21:58] danielbachhuber commented on #395
Bumping out of v0.5.0, but I'll pick this up first thing for v0.6.0

[2015-08-26 22:01] danielbachhuber commented on #389
PHPDoc is in a good place now. I want to pick up JS doc as a part of this issue in v0.6.0

[2015-08-26 22:02] danielbachhuber commented on #350
I'll handle retaining the selection in v0.6.0

[2015-08-26 22:02] #350 closed, assigned to nobody

[2015-08-26 22:04] danielbachhuber commented on #295
:ship:

[2015-08-26 22:04] #295 closed, assigned to danielbachhuber

[2015-08-31 15:42] khromov opened #437 "Create UI for third party shortcodes?"
How do you create a UI for already registered shortcode? In the `action_init_register_shortcodes()` function there is a hard-coded call to `add_shortcode()`, which I am not interested in since the shortcode is already created elsewhere.

[2015-08-31 15:53] khromov commented on #437
Answering my own question, it's the first example in the API docs. :smile:

https://github.com/fusioneng/Shortcake/blob/master/dev.php

[2015-08-31 15:53] #437 closed, assigned to nobody

[2015-08-31 15:59] khromov commented on #399
@danielbachhuber Would it perhaps be better to have a `pre_shortcake_render` filter that works like `pre_option_`, ie if something hooks onto it and returns a non-falsy value, that output is used instead.

Consider a common use case where you'd want to have a simple placeholder image for some advanced shortcodes that can't be reliably rendered in TinyMCE. Why render the shortcode, then pass the ou

[2015-08-31 19:22] danielbachhuber opened #438 "Core integration: Browser compatibility"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:27] danielbachhuber opened #439 "Core integration: Mobile UX"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:29] danielbachhuber opened #440 "Core integration: Inline docs"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:30] danielbachhuber opened #441 "Core integration: User testing"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:32] danielbachhuber opened #442 "Core integration: Noscript support"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:32] danielbachhuber opened #443 "Core integration: Keyboard-only usage"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:33] danielbachhuber opened #444 "Core integration: Accessibility"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:35] danielbachhuber opened #445 "Core integration: No post-merge fatals"
According to the [feature plugin checklist](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-checklist), we need to make sure:

[2015-08-31 19:42] danielbachhuber commented on #389
We had #16 for JS docs, so closing this issue in favor of that.

[2015-08-31 19:42] #389 closed, assigned to danielbachhuber

[2015-08-31 19:43] #65 closed, assigned to nobody

[2015-08-31 19:44] #68 closed, assigned to nobody

[2015-08-31 19:44] #76 closed, assigned to nobody

[2015-08-31 19:47] danielbachhuber commented on #242
Need to get a verdict from VIP on how they'd like to handle escaping HTML in attributes.

[2015-08-31 19:57] mattheu commented on #120
Discussed this in the [weekly meeting on slack](https://wordpress.slack.com/archives/feature-shortcode/p1441050583000229).

I think allowing a shortcode description that is displayed before the form might be useful. Something to give a bit more info than the name and icon.

[2015-08-31 20:04] danielbachhuber commented on #399
I haven't ever been a fan of `pre_` filters. Generating a shortcode shouldn't be computationally complex, so you should just be able to filter after the fact.

I'd like to go down whatever route WP-API goes down https://github.com/WP-API/WP-API/issues/926

[2015-08-31 20:07] danielbachhuber commented on #368
We're not going to support creating arbitrary key=>value pairs through the Shortcake UI.

[2015-08-31 20:07] #368 closed, assigned to nobody

[2015-08-31 20:20] khromov commented on #399
@danielbachhuber I'd argue there are more shortcodes that are computationally expensive than the opposite. Even built-ins like `[gallery]` makes database requests. Many use templating functions, WP_Query or even make external HTTP calls.

Guess my point is, it's either adding a filter that can potentially save huge amounts of processing time, or choose to not offer that flexibility based on what,

[2015-08-31 20:21] mattheu commented on #416
This covers several issues - some are duplicates - but a lot of great suggestions. I'm going to close this issue in favour of individual tickets for each where they're not already covered.

[2015-08-31 20:24] danielbachhuber commented on #399
Then they should be cached.

Making a decision on the implementation, and not offering a dozen different filtering options.

[2015-08-31 20:29] khromov commented on #399
But there's no unified caching mechanism for shortcodes...

I respect your opinion, but think it's preferable to have one too many filters than too few. Hoping we can get a unified way to detect Shortcake AJAX requests soon, guess the logic will have to be built into the shortcode, which is a shame since so many are provided by third parties.

[2015-08-31 22:41] jakejackson1 commented on #399
Agreed. WordPress got where it is today in part by how easy it is to customise by developers. More choice in this case wouldn't be a bad thing.

[2015-09-01 18:05] bobbingwide commented on #120
The shortcode name ( best_selling_products) is the thing that remains constant. It's what the user sees in text mode and what's shown if the shortcode UI is not active in Visual mode.

In my scenario the parameters are exposed with the parameter name, default and other possible values and a brief description of each.

Since I provide links to additional documentation then I don't provide any addit

[2015-09-02 16:18] ghost commented on #376
Just my twopenny's worth... would MailChimp be a good candidate for comparison here too? I know it's email rather than web, but the concept is the same & it's an ultra-easy editing experience... let me know if you'd like me to contribute.

[2015-09-02 16:22] ghost commented on #236
@ryanboswell, @mattheu, @ryanboswell - just wondering what's needed to get this moving again? (WYSIWYG in inner_content). I had a discussion with @goldenapples re. this the other day, sadly I don't have the technical chops needed to implement, but willing to consider contributing towards someone's development time if it would get it done... or anything else I can do to help?

[2015-09-02 16:44] mattheu commented on #376
@hexagongirl Yeah would love your contribution. Would love to hear about any interesting ways that this problem has been tackled.

[2015-09-02 16:52] ghost commented on #376
@mattheu okeydokes, will see if I can pull something together in the form of a blog post

[2015-09-03 12:11] jurajk commented on #415
would love to see both these fields in future releases.

[2015-09-03 12:24] johnnypea commented on #415
+1

[2015-09-04 01:18] chrishoward-au opened #447 "Is it ok to add_action at wp_loaded instead of init?"
I have a select field that shows a list of custom taxonomies. Here is the field def:

[code]

This failed to show anything when I was loading my shortcake code at init as per the dev plugin example.

I tried plugins_loaded and it still showed nothing. Then I tried wp_loaded and it now shows my custom taxonomies.

However, I wonder whether this will cause other problems.

BTW my taxonomy code was s

[2015-09-04 04:39] chrishoward-au opened #448 ""Failed to load preview" showing all the time in visual editor"
Am getting the "Failed to load preview" message in the visual editor for shortcodes from Shortcake Bakery, and my own.

I'm ok with it not previewing, but could it show the relevant shortcode icon instead?

I have Shortcake 0.5.0, WP 4.4-alpha (same prob on 4.3 tho), and both single and multisite. PHP 5.3.29

Thanks

[2015-09-04 11:55] chrishoward-au commented on #448
Have just discovered it's only when Shortcode Bakery is active. When it's not, it shows the shortcode in a clickable box.

[2015-09-04 12:21] danielbachhuber commented on #448
It seems likely there's an error notice or something else happening. Can you look into your error logs to see if there's a relevant entry?

[2015-09-04 12:30] goldenapples commented on #447
The dev plugin is a bit out of date in that example. You can register the shortcode UI at the `register_shortcode_ui` hook, as of 0.5.0. This is a later hook, and should work for what you're trying to do here. The shortcode itself should probably still be registered at `init`, though...

[2015-09-04 12:55] chrishoward-au opened #449 "How do I add attributes that have no names?"
Some shortcodes have simple format of [shortcode value]

as opposed to [shortcode attribute_name="value"]

I delved around but couldn't figure how to handle these in Shortcake.

And if I enter a Shortcake registered shortcode manually in that format, it strips out the value.

My own shortcode has this as it's nice simple shorthand for users. Which means, if I implement Shortcake, many shortcodes w

[2015-09-04 12:58] chrishoward-au commented on #447
Thank you. Yes that worked.

[2015-09-04 12:58] #447 closed, assigned to nobody

[2015-09-04 13:03] chrishoward-au commented on #448
Ah! Indeed! Caught out by WP not allowing all errors to display. I do have mine set to display, but WP does subvert that sometimes.

However, it is there in the log!

Undefined variable: this in /Users/chrishoward/Dropbox/httpdocs/wpms/wp-content/plugins/shortcake-bakery/inc/class-shortcake-bakery.php on line 64

Thanks

[2015-09-04 13:03] danielbachhuber commented on #449
Positional attributes aren't supported at this time #128

[2015-09-04 13:03] #449 closed, assigned to nobody

[2015-09-04 13:06] chrishoward-au commented on #448
I wonder if that's a PHP version thing... lemme see...

Yup. Switched to 5.4 and it now works.

[2015-09-04 13:09] danielbachhuber commented on #448
I'm fixing in https://github.com/fusioneng/shortcake-bakery/pull/79 too

[2015-09-04 13:09] #448 closed, assigned to nobody

[2015-09-04 13:17] chrishoward-au commented on #449
Doh! That makes things difficult for me. :/ Is it on the todo list?

[2015-09-04 13:26] danielbachhuber commented on #449
Eventually, yes.

[2015-09-04 13:31] chrishoward-au commented on #449
K. I've made a workaround by creating an alias for my shortcode that I then use with shortcake. A little clunky, but safe.

[2015-09-06 18:22] cggit opened #450 "Custom query for post_select type possible?"
Is it possible to use the query parameter to filter down post types?

eg.
'query'    => array( 'post_type' => 'custom-post-type', 'car'=>3 ),

Ive tried a few ways with no success.

[2015-09-06 18:30] cggit commented on #450
I take it back it works... The problem was between my ears. Genius!

[2015-09-06 18:31] #450 closed, assigned to nobody

[2015-09-07 04:28] chrishoward-au opened #451 "Can I replace the shortcode with an icon in the visual editor?"
G'day guys

My shortcode doesn't display a preview - and I probably don't really want it to either but I would like to display an icon instead of showing the shortcode when in the visual editor.

Is that possible?

[2015-09-07 13:56] bruno-barros commented on #451
@qwertydude I use is_admin() to render a default icon for admin users.

[2015-09-07 14:13] danielbachhuber commented on #451
`is_admin()` is your best bet for now. See #399 for other discussion.

Flagging this for some documentation.

[2015-09-07 14:29] danielbachhuber opened #452 "Core integration: PHP 5.2 compatibility"
We aren't currently PHP 5.2 compatible. We should be.

[2015-09-07 14:34] chrishoward-au commented on #451
Thanks. I must doing something wrong, coz I'm still just getting the shortcode rendered.

![image](https://cloud.githubusercontent.com/assets/129821/9718547/2cc47c0e-55c0-11e5-95d5-23465b1606bf.png)

I have this as the is_admin() code now in my shortcode function:

[code]

I must be missing something facepalmingly obvious!

Tested on PHP 5.3 to 5.6.